<p-toast position="top-right"></p-toast>
<div class="card dpm-card p-3">
    <p-tabView>
        <p-tabPanel header="List" leftIcon="pi pi-align-left">
            <div class="row">
                <div class="col-xl-12 col-lg-11 p-0">
                    <div class="mb-4 con">
                        <div class="card-body p-0">
                            <p-table [scrollable]="true" [style]="{width:'100%'}" [value]="RBDList" [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                                <ng-template pTemplate="colgroup">
                                    <colgroup>
                                        <col style="width:5em;">
                                        <col style="width:9em;">
                                        <col style="width:9em;">
                                        <col style="width:14em;">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Tag Number</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{rowIndex + 1}}</td>
                                        <td>{{p.TagNumber}}</td>
                                        <td>{{p.Date | date:'medium'}}</td>
                                        <td>
                                            <a title="View RBD Tree" (click)="ViewSavedRBD(p)" class="link-primary mr-1"><i class="fa fa-eye mr-2" aria-hidden="true"></i></a>
                                            <a title="Delete {{p.RBDLabel}}" class="badge badge-danger" (click)="DeleteRBDRecord(p)"><i class="pi pi-trash"></i></a>

                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="10">No records to show.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="ADD" leftIcon="pi pi-align-left">
            <div class="card dpm-card div-in-middle w-100 p-0" *ngIf="SelectBoxEnabled">
                <div class="alert alert-info"><i class="pi pi-info-circle mr-1"></i>Add Label and Tag Number to ABD</div>
                <div class="row mt-3 for-rbd">
                    <div class="col-md-3">
                        <div class="flex-column">
                            <label class="d-block">Tag Number</label>
                            <!-- <p-autoComplete placeholder="Enter TagNumber" [(ngModel)]="TagNumber" [showEmptyMessage]="true" class="form-control" [suggestions]="filteredTagNumbers" (completeMethod)="filterTagNumbers($event)" field="name" [dropdown]="true" [minLength]="1"></p-autoComplete> -->
                            <input type="text" [(ngModel)]="rbdModelObj.TagNumber" placeholder="Enter Tag Number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" flex-column">
                            <label class="d-block">label</label>
                            <input type="text" [(ngModel)]="rbdModelObj.Label" placeholder="Enter Tag Number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary mt-4" (click)="TagNumberSelect()">Done</button>
                    </div>
                </div>
            </div>
            <div class="rbd-action">
                <div *ngIf="SelectBoxEnabled == false">
                    <a class="btn btn-back" style="float:left;" (click)="RBDAddBack()" pTooltip="Save data" tooltipPosition="top"><i class="pi pi-arrow-left"></i>&nbsp;&nbsp;Back</a>
                </div>
                <div *ngIf="SelectBoxEnabled == false" class="rbd-card">
                    <a class="btn btn-primary" style="float:right;" (click)="RBDAddSave()" pTooltip="Save data" tooltipPosition="top"><i class="pi pi-check-circle"></i>&nbsp;&nbsp;Save</a>
                </div>
            </div>

            <div *ngIf="SelectBoxEnabled == false">
                <div class="row">
                    <div class=" col-md-12">
                        <div class="alert alert-primary d-flex w-100 justify-content-between align-items-center" role="alert">
                            <p class="mb-0"><i class="pi pi-info-circle" class="mr-1"></i> To know GTL Block Flow Diagram</p>
                            <div>
                                <button *ngIf="enableImage == false" class="btn btn-primary btn-sm" (click)="GTLImage()">Click
                                    Here</button>
                                <button *ngIf="enableImage" class="btn btn-outline-danger btn-sm mr-1"
                                    (click)="GTLImageCancel()">Cancel</button>
                
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="enableImage == true" class="row">
                    <div class="col-md-12">
                    <div class="card dpm-card mb-4">
                        <div class="card-body">
                            <span><img class="img-fluid px-3 px-sm-4 mt-3 mb-2"
                                    src="/dist/DPM/assets/img/GTLBlockDiagram.PNG "alt=""></span>
                        </div>
                        </div>
                    </div>
                </div>
                <rbd-organizationChart [value]="MainTree" (addNode)="AddNode($event)" (deleteNode)="DeleteNode($event)" class="collapse-table"></rbd-organizationChart>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Update" leftIcon="pi pi-align-left">
            <div class="card dpm-card div-in-middle w-100 p-0" *ngIf="SelectUpdateBoxEnabled">
                <div class="alert alert-info"><i class="pi pi-info-circle mr-1"></i>Select Tag Number of ABD</div>
                <div class="row mt-3 for-rbd">
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <label class="d-block">Tag Number</label>
                            <p-autoComplete placeholder="Enter TagNumber" [(ngModel)]="TagNumber" [showEmptyMessage]="true" [suggestions]="filteredTagNumbers" (completeMethod)="filterUpdateTagNumbers($event)" field="TagNumber" [dropdown]="true" [minLength]="1"></p-autoComplete>
                            <!-- <input type="text" [(ngModel)]="rbdModelObj.TagNumber" placeholder="Enter Tag Number" class="form-control"> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary mt-4" (click)="UpdateTagNumberSelect()">Done</button>
                    </div>
                </div>
            </div>
            <div class="rbd-action">
                <div *ngIf="SelectUpdateBoxEnabled == false">
                    <a class="btn btn-back" style="float:left;" (click)="RBDUpdateBack()" pTooltip="Save data"
                        tooltipPosition="top"><i class="pi pi-arrow-left"></i>&nbsp;&nbsp;Back</a>
                </div>
                <div *ngIf="SelectUpdateBoxEnabled == false" class="rbd-card">
                    <a class="btn btn-primary" style="float:right;" pTooltip="Save data" (click)="UpdateRBD()"
                        tooltipPosition="top"><i class="pi pi-check-circle"></i>&nbsp;&nbsp;Update RBD</a>
                </div>
            </div>

           
            <div *ngIf="SelectUpdateBoxEnabled == false">
                <div class="alert alert-warning mb-2 w-100" style="    width: 95.5%; margin: auto;"><i
                        class="pi pi-info-circle mr-1"></i>Opps! Tree is too big, Please
                    Scroll right to view parent node !</div>
                <rbd-organizationChart [value]="MainTree" (addNode)="AddNode($event)" (deleteNode)="DeleteNode($event)" class="collapse-table"></rbd-organizationChart>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>

<p-dialog header="ABD" [(visible)]="viewRBD" [style]="{maxWidth: '1000px'}" class="rbd-modal">
    <div class="alert alert-warning mb-2" style="    width: 95.5%; margin: auto;"><i class="pi pi-info-circle mr-1"></i>Opps! Tree is too big, Please click Expand button below for better view and Scroll right to view parent node !</div>
    <div class="col-md-12 collapse-table" style="overflow: auto;" id="ViewRBD">
        <rbd-organizationChart [value]="ViewSavedTree" (deleteNode)="DeleteNode($event)"></rbd-organizationChart>
        <button *ngIf="showFullScreen" pButton pRipple type="button" (click)="FullScreen()" class="p-button-rounded p-button-secondary p-button-text fixed-max-btn" aria-placeholder="Click to view tree"><i class="pi pi-window-maximize"></i></button>
        <button *ngIf="!showFullScreen" pButton pRipple type="button" (click)="ExitFullScreen()" class="p-button-rounded p-button-secondary p-button-text fixed-max-btn"><i class="pi pi-window-minimize"></i></button>
    </div>
</p-dialog>