<style>
    .pentagon {
        width: 54px;
        position: relative;
        border-width: 50px 18px 0;
        border-style: solid;
        border-color: #277bab transparent;
    }
    
    .pentagon:before {
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        top: -85px;
        left: -18px;
        border-width: 0 45px 35px;
        border-style: solid;
        border-color: transparent transparent #277bab;
    }
</style>
<div id="anorlogic" class="col-md-12" style="overflow: scroll;">
    <p-card>
        <div class="row">
            <!-- <div class="col-md-12"> -->
            <div class="col-md-3">
                <div style="border: 1px solid;
                padding: 1em;
                text-align: center;">
                    <span> 
                        Top Event
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border: 1px solid;
                padding: 1em;
                text-align: center;">
                    <span> 
                        Events
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border: 1px solid;
                padding: 1em;
                text-align: center;">
                    <span> 
                        Basic Event
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border: 1px solid;
                padding: 1em;
                text-align: center;">
                    <span> 
                        AND
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border: 1px solid;
                padding: 1em;
                text-align: center;">
                    <span> 
                        OR
                    </span>
                </div>
            </div>
            <!-- </div> -->
        </div>

        <p-organizationChart [value]="ANDORLOGICTREE">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div class="a">{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>

    </p-card>
</div>