<div class="container-fluid px-3 py-3 dpm-edu">
    <div class="row">

        <div class="col-xl-4 col-lg-4">
            <div class="card dpm-card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Illustrations</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid" src="dist/DPM/assets/img/undraw_posting_photo.svg" alt="">
                    </div>
                    <h5 class="d-block mt-4">Dynamic Prescriptive Maintenance</h5> <p>Conventional Maintenance practices are (1)Reactive, (2)Preventive, and (3)Predictive. <br> Organizations are gradually adopting Proactive maintenance practice. In the digital age, a new
                        maintenance practice is evolving, called Prescriptive. Dynamic Prescriptive Maintenance (D.P.M.) is the methodology that enables data capturing in near-real-time (dynamic); applies artificial intelligence to recognize pattern &
                        forecast future failure; and prescribes just-in-time maintenance tasks, to minimize business risk and maximize profitability.</p>
                    <a class="btn btn-outline btn-primary small" href="https://linkedin.com/in/dynamic-prescriptive-maintenance-08bb101b8">Browse Illustrations on
                                LinkedIn &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4">
            <a href="dist/DPM/assets/DPM Article 1.1-v0.2.pdf" class="btn btn-primary px-3 py-3 text-left" target="_black">
                <h5>DYNAMIC. PERSPECTIVE MAINTENANCE.</h5>
                <p>Dynamic Perspective Maintenance (D.P.M.) is a philosophy that guides
                    transformation from conventional maintenance and embrace digitalization</p>
                <span class="btn btn-white btn-sm">Read More <i class="lnr lnr-chevron-right"></i></span>
            </a>    
            <a href="dist/DPM/assets/DPM Technical Manual Presentation.pdf" class="btn btn-danger px-3 py-3 text-left mt-3" target="_black">
                <h5>DYNAMIC. PERSPECTIVE MAINTENANCE.</h5>
                <p>Dynamic Perspective Maintenance (D.P.M.) is a philosophy that guides
                    transformation from conventional maintenance and embrace digitalization</p>
                <span class="btn btn-white btn-sm">Read More <i class="lnr lnr-chevron-right"></i></span>
            </a>
        </div>
        <div class="col-xl-4 col-lg-4 d-none">
            <a href="dist/DPM/assets/DPM Article 1.1-v0.2.pdf" class="btn btn-info px-3 py-3 text-left" target="_black">
                <h5>DYNAMIC. PERSPECTIVE MAINTENANCE.</h5>
                <p>Dynamic Perspective Maintenance (D.P.M.) is a philosophy that guides
                    transformation from conventional maintenance and embrace digitalization</p>
                <span class="btn btn-white btn-sm">Read More <i class="lnr lnr-chevron-right"></i></span>
            </a>
            <a href="dist/DPM/assets/DPM Article 1.1-v0.2.pdf" class="btn btn-success px-3 py-3 text-left mt-3" target="_black">
                <h5>DYNAMIC. PERSPECTIVE MAINTENANCE.</h5>
                <p>Dynamic Perspective Maintenance (D.P.M.) is a philosophy that guides
                    transformation from conventional maintenance and embrace digitalization</p>
                <span class="btn btn-white btn-sm">Read More <i class="lnr lnr-chevron-right"></i></span>
            </a>
        </div>
        <!-- <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 style="color: #585570;" class="m-0 font-weight-bold">DPM (Product Development Progress)</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Compressor<span class="float-right">60%</span></h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br>

                    <h4 class="small font-weight-bold">Pumps Under Progress <span class="float-right">10%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
        </div> -->
    </div>
    <div class="row d-none">
        <div class="col" style="padding:30px;">
            <a href="dist/DPM/assets/DPM Article 1.1-v0.2.pdf" class="btn btn-info px-3 py-3 text-left" target="_black">
                <h5>DYNAMIC. PERSPECTIVE MAINTENANCE.</h5>
            <p>Dynamic Perspective Maintenance (D.P.M.) is a philosophy that guides
            transformation from conventional maintenance and embrace digitalization</p>
            <span class="btn btn-white btn-sm">Read More <i class="lnr lnr-chevron-right"></i></span>
</a>
            <iframe src="dist/DPM/assets/DPM Article 1.1-v0.2.pdf" width="500" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>

        </div>

        <div class="col" style="padding:30px;">

            <iframe src="dist/DPM/assets/DPM Technical Manual Presentation.pdf" width="500" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>

        </div>

    </div>
</div>