<div *ngIf="SelectionEnable" class="card shadow div-in-middle" style="width: 70rem;">
    <div class="row">
        <div class="col-sm" style="padding:30px;">
            <label style=" margin-right: 12px;">
                <h5>Machine type</h5>
            </label>
            <select [(ngModel)]="MachineType" class="form-select" (change)="MachineEquipmentSelect()"
                class="form-control">
                <option value="">Choose..</option>
                <option value="Compressor" selected>Compressor</option>
                <option value="Pump" selected>Pump</option>
            </select>
        </div>
        <div class="col-sm" style="padding:30px;">
            <label style=" margin-right: 12px;">
                <h5>Equipment Type</h5>
            </label>
            <select [(ngModel)]="EquipmentType" class="form-select" (change)="MachineEquipmentSelect()"
                class="form-control">
                <option value="">Choose..</option>
                <option *ngFor="let EL of EquipmentList" [ngValue]="EL">{{EL}}</option>
            </select>
        </div>
        <div class="col-sm" style="padding:30px;">
            <label style=" margin-right: 12px;">
                <h5>Tag Number</h5>
            </label>
            <select class="form-select" [(ngModel)]="SelectedTagNumber" class="form-control">
                <option value="">Choose..</option>
                <option *ngFor="let EL of TagList" [ngValue]="EL">{{EL}}</option>
            </select>
        </div>
        <div class="col-sm" style="padding:30px;">
            <div class="row">
                <div class="col-sm" style="padding:30px;">
                    <a class="btn btn-dark" (click)="getPrescriptiveRecordsByEqui()">Done</a>
                </div>
            </div>
        </div>
    </div>
</div>



<p-card *ngIf="SkillLibrary">
    <ng-template pTemplate="header">
        <p-button (click)="BackSkillData()" label="Back" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="content">
        <table>
            <tbody>
                <tr class="row">
                    <td class="col-sm">
                        <label>Craft</label>
                    </td>
                    <td class="col-sm">
                        <label>Employee Code</label>
                    </td>
                    <td class="col-sm" *ngFor="let t of SkillLibraryHeaders">
                        <label>{{t.MaintenanceTask}}</label>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr class="row" *ngFor="let a of SkillLibraryRows; let i = index;">
                    <td>
                        <input type="text" [(ngModel)]="a.CraftSF" (click)="getSkillData(a, $event)" class="form-control" disabled>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="a.EmployeeCode" (change)="getSkillData(a, $event)" class="form-control">
                    </td>
                    <td *ngFor="let t of SkillLibraryHeaders" style="margin-left: 4em;">
                        <input type="checkbox" (change)="getSkillData(a, $event, t)">
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="SaveSkillData()" label="Save" styleClass="p-button-text"></p-button>
    </ng-template>
</p-card>