
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-8 col-lg-7">

            <div class="card shadow mb-4">
                <div style="color: #585570;" class="card-header py-3">
                    <h6  class="m-0 font-weight-bold">Illustrations</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-2"
                            src="dist/DPM/assets/img/undraw_posting_photo.svg" alt="">

                    <!-- <img  src="DPM/dist/DPM/assets/img/undraw_posting_photo.svg" alt="">  -->
                    </div>
                    <p> <b>Dynamic Prescriptive Maintenance</b> <br>
                        Conventional Maintenance practices are
                        (1)Reactive, (2)Preventive, and (3)Predictive. <br>
                         Organizations are gradually adopting Proactive maintenance practice.
                          In the digital age, a new maintenance practice is evolving, called Prescriptive.
                           Dynamic Prescriptive Maintenance (D.P.M.) is the methodology that enables data capturing in near-real-time (dynamic);
                           applies artificial intelligence to recognize pattern & forecast future failure;
                            and prescribes just-in-time maintenance tasks, to minimize business risk and maximize profitability.</p>
                            <a style="color:#585570;" href="https://linkedin.com/in/dynamic-prescriptive-maintenance-08bb101b8">Browse Illustrations on
                                LinkedIn &rarr;</a>
                </div>
            </div>





            <!-- line Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 style="color: #585570;" class="m-0 font-weight-bold ">Compressor Line Chart</h6>
                </div>
                <div class="card-body">
                     <div class="chart-line">
                       <!-- <canvas id="LineContainer" width="600" height="400"></canvas>   -->
                       <canvas id = "LineContainer"></canvas>
                      
                    </div>
                    <hr>
                    <!-- Styling for the bar chart can be found in the
                    <code>/js/demo/chart-bar-demo.js</code> file. -->
                </div>
            </div>
        </div>


        <!-- pie Chart -->
        <div class="col-xl-4 col-lg-5">


          <!-- Project Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 style="color: #585570;" class="m-0 font-weight-bold">DPM (Product Development Progress)</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Compressor<span
                    class="float-right">60%</span></h4>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 60%"
                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div> <br>

                <h4 class="small font-weight-bold">Pumps Under Progress <span
                        class="float-right">10%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 10%"
                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <!-- <h4 class="small font-weight-bold">Motor Under Progress <span
                        class="float-right">10%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 10%"
                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->

            </div>
        </div>


        <br>
            <br>
            <br><br>
            <br><br>
            <br>
            <br>

            <br>
            <br><br>




            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 style="color: #585570;" class="m-0 font-weight-bold">Pie Chart</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4">
                        <canvas id="pie" width="400" height="400"></canvas>

                    </div>
                    <hr>

                </div>
            </div>



        </div>














    </div>

</div>
<!-- /.container-fluid -->
<!-- <script src="src/assets/JS/demo/chart-area-demo.js"></script>
<script src="src/assets/JS/demo/chart-pie-demo.js"></script> -->






<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Content Row -->
    <div class="row">

    <!-- Content Row -->

    <div class="row">


    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

        </div>


    </div>

</div>
<!-- /.container-fluid -->