
*.config
DPMMVCCore/.vs/DPM_Testing/DesignTimeBuild/.dtbcache
DPMMVCCore/.vs/DPM_Testing/DesignTimeBuild/.dtbcache.v2
DPMMVCCore/.vs/DPM_Testing/v16/.suo
DPMMVCCore/.vs/DPM_Testing/v16/Server/sqlite3/db.lock
DPMMVCCore/.vs/DPM_Testing/v16/Server/sqlite3/storage.ide
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/appsettings.Development.json
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/appsettings.json
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/CsvHelper.dll
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
*.dll
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/DPM_Testing.deps.json
*.exe
*.pdb
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/DPM_Testing.runtimeconfig.dev.json
DPMMVCCore/DPM_Testing/bin/Debug/net5.0/DPM_Testing.runtimeconfig.json
*.xml
*.so
*.dylib
DPMMVCCore/DPM_Testing/bin/Debug/netcoreapp3.1/appsettings.Development.json
DPMMVCCore/DPM_Testing/bin/Debug/netcoreapp3.1/appsettings.json
DPMMVCCore/DPM_Testing/bin/Debug/netcoreapp3.1/DPM_Testing.deps.json
DPMMVCCore/DPM_Testing/bin/Debug/netcoreapp3.1/DPM_Testing.runtimeconfig.dev.json
DPMMVCCore/DPM_Testing/bin/Debug/netcoreapp3.1/DPM_Testing.runtimeconfig.json
DPMMVCCore/DPM_Testing/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
DPMMVCCore/DPM_Testing/obj/Debug/net5.0/DPM_Testing.AssemblyInfo.cs
*.cache
*.CopyComplete
DPMMVCCore/DPM_Testing/obj/Debug/net5.0/DPM_Testing.csproj.FileListAbsolute.txt
DPMMVCCore/DPM_Testing/obj/Debug/net5.0/DPM_Testing.GeneratedMSBuildEditorConfig.editorconfig
DPMMVCCore/DPM_Testing/obj/Debug/net5.0/DPM_Testing.MvcApplicationPartsAssemblyInfo.cs
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/DPM_Testing.AssemblyInfo.cs
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/DPM_Testing.csproj.FileListAbsolute.txt
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/DPM_Testing.RazorAssemblyInfo.cs
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/DPM_Testing.RazorTargetAssemblyInfo.cs
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
DPMMVCCore/DPM_Testing/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
DPMMVCCore/DPM_Testing/obj/DPM_Testing.csproj.nuget.dgspec.json
DPMMVCCore/DPM_Testing/obj/DPM_Testing.csproj.nuget.g.props
DPMMVCCore/DPM_Testing/obj/DPM_Testing.csproj.nuget.g.targets
DPMMVCCore/DPM_Testing/obj/project.assets.json
*.v2
DPMRuleEngine/.vs/RuleEngine/v16/.suo
DPMRuleEngine/RuleEngine/bin/Debug/netcoreapp3.1/appsettings.json
DPMRuleEngine/RuleEngine/bin/Debug/netcoreapp3.1/RuleEngine.deps.json
DPMRuleEngine/RuleEngine/bin/Debug/netcoreapp3.1/RuleEngine.runtimeconfig.dev.json
DPMRuleEngine/RuleEngine/bin/Debug/netcoreapp3.1/RuleEngine.runtimeconfig.json
DPMRuleEngine/RuleEngine/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DPMRuleEngine/RuleEngine/obj/Debug/netcoreapp3.1/RuleEngine.AssemblyInfo.cs
DPMRuleEngine/RuleEngine/obj/Debug/netcoreapp3.1/RuleEngine.csproj.FileListAbsolute.txt
DPMRuleEngine/RuleEngine/obj/project.assets.json
DPMRuleEngine/RuleEngine/obj/RuleEngine.csproj.nuget.dgspec.json
DPMRuleEngine/RuleEngine/obj/RuleEngine.csproj.nuget.g.props
DPMRuleEngine/RuleEngine/obj/RuleEngine.csproj.nuget.g.targets
