<div style="padding: 5px;" class="row" *ngIf="!(user.UserType == 1 || user.UserType == 2)">
    <div class="col-sm col-md-4 form-group">
        <input type="file" class="form-control-file btn btn-secondary" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

    </div>
   
    <div class="col-sm">
        <button type="button" style="background-color:#585570 ; border-color:#585570;" (click)="Downloadfile()" class="btn btn-primary">Get Excel Format</button>
    </div>
    <div class="col-sm">
        <button type="button" style="background-color:#585570 ; border-color:#585570;" (click)="exportToExcel()" class="btn btn-primary">Download Excel</button>
    </div>
</div>
<div style="margin: 10px;" class="row">
<div class="form-check col-sm-2">
    <input [(ngModel)]="DailyWeekMode" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="daily" (change)="ChooseData($event)"checked>
    <label class="form-check-label" for="flexRadioDefault1">
    <b> Daily Data</b>
    </label>
  </div>
  <div class="form-check col-sm-2">
    <input  [(ngModel)]="DailyWeekMode" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="week"(change)="ChooseData($event)" >
    <label class="form-check-label" for="flexRadioDefault2">
     <b>Weekly Data</b>
    </label>
  </div>

  <b>Select Date :</b>
    <div class="col-sm-2">
        <select [(ngModel)]="FromDate" class="form-select"  value="form" (change)="GetCentrifugapPumpUniqueDate($event)" class="form-control">
            <option value="">From Date</option>
            <option *ngFor="let UL of uniqueDates " [ngValue]="UL">{{UL}}</option>        
       </select> 
    </div>
    <div class="col-sm-2">
        <select [(ngModel)]="ToDate" class="form-select"  value="form" (change)="GetCentrifugapPumpUniqueDate($event)" class="form-control">
            <option value="">To Date</option>
            <option *ngFor="let UL of uniqueDates" [ngValue]="UL">{{UL}}</option>
        </select>
    </div>

  <div class="col-sm"></div>
  <div class="col-sm"></div>
  <div class="col-sm"></div>
 
</div>


<br>
<div style="padding: 5px;" *ngIf = "CentrifugalPumpDailyData">
    <div class="card">
        <p-table id="exportexcel" [value]="centrifugalPump" [columns]="centrifugalPumpColumns" [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
            [loading]="loading" [scrollable]="true" [style]="{width:'100%'}">
            <ng-template pTemplate="colgroup">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style]="{width: col.width}">
                    </colgroup>
                </ng-template>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                        {{col.header}}
                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns;">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div style="padding: 5px; overflow:scroll; text-align:center;" *ngIf = "CentrifugalPumpWeekData">
    <div class="card">
        <p-table id="exportexcel" [value]="centrifugalPumpWeekList" [columns]="centrifugalPumpColumnsWeekData" [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
            [loading]="loading" [scrollable]="true" [style]="{width:'100%'}">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col style="width:7em;">
                    <col style="width:5em;">
                    <col style="width:5em;">
                    <col style="width:5em;">
                    <col style="width:5em;">
                    <col style="width:5em;">
                    <col style="width:7em;">
                    <col style="width:7em;">
                    <col style="width:7em;">
                    <col style="width:5em;">
                    <col style="width:5em;">
                    <col style="width:5em;">
                    <col style="width:5em;">
                    <col style="width:6em;">
                    <col style="width:5em;">
                    <col style="width:5em;">
                    <col style="width:14em;">
                </colgroup>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style]="{width: col.width}">
                    </colgroup>
                </ng-template>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                        {{col.header}}
                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns;">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast position="top-center"></p-toast>