<style>
    i {
        font-weight: bold;
        margin-right: 5px;
        font-size: 80%;
    }
    
    strong {
        font-size: 90%;
    }
</style>
<p-toast position="top-right"></p-toast>
<p-card class="dpm-card mt-4">
    <div class="card-title d-flex justify-content-between align-items-center mb-0">
        <h4>Data to Upload in PSR Mapping table</h4>
    </div>
    <table>
        <tbody>
            <tr class="row">
                <td class="col-sm p-2  bg-primary">
                    <label>Maintenance Task</label>
                </td>
                <td class="col-sm p-2  bg-primary">
                    <label>Craft</label>
                </td>
                <td class="col-sm-2 p-2  bg-primary">
                    <label>Employee Name</label>
                </td>
                <td class="col-sm p-2  bg-primary">
                    <label>Action</label>
                </td>
                <td class="col-sm p-2  bg-primary">
                    <label>Yearly Task duration</label>
                </td>
                <td class="col-sm p-2  bg-primary">
                    <label>Hourly rate</label>
                </td>
                <td class="col-sm p-2  bg-primary">
                    <label>Material Cost</label>
                </td>
                <td class="col-sm p-2  bg-primary">
                    <label>Annual POC</label>
                </td>
            </tr>
        </tbody>
        <div>
            <label>FMEA Task allocation to be Done</label>
        </div>
    </table>    
</p-card>
