<p-toast position="top-center"></p-toast>
<div *ngIf="prescriptiveSelect">
    <div class="card shadow div-in-middle">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Select</b></li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <label style=" margin-right: 12px;">Assets</label>
                    <select [(ngModel)]="MachineType" class="form-select" (change)="MachineEquipmentSelect()" class="form-control">
                          <option value="">Choose..</option>
                            <option value="Pump" selected>Pump</option>
                        </select>
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <label style="    margin-right: 12px;">Sub Units</label>
                    <select [(ngModel)]="EquipmentType" class="form-select" class="form-control">
                          <option value="">Choose..</option>
                            <option *ngFor="let EL of EquipmentList" [ngValue]="EL">{{EL}}</option>
                        </select>
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="TagNumber" class="form-control" placeholder="Tag Number" aria-label="Tag Number" aria-describedby="basic-addon1">
                </div>
            </li>
            <li class="list-group-item">
                <button class="btn btn-dark" (click)="GeneratePrescription()">Done</button>
            </li>

        </ul>
    </div>
</div>
<div *ngIf="prescriptiveSteps" style="margin: 40px;" class="card shadow">
    <div style="margin: 20px;">
        <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>
    </div>
</div>
<div *ngIf="prescriptiveFuntion" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Function
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter Function information
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <p>
                    To supply &ensp;
                    <input type="text" class="custom-form-control" [(ngModel)]="FunctionFluidType" placeholder="e.g thermal fluid">m<sup>3</sup>/h flow with rated head &ensp;
                    <input type="text" class="custom-form-control" [(ngModel)]="FunctionRatedHead" placeholder="e.g xxx"> m (within -10% variation) continuously for a period of &ensp;<br> &ensp;
                    <br>
                    <input type="text" class="custom-form-control" [(ngModel)]="FunctionPeriodType" placeholder="e.g  60 days"> at a stretch, with equipemt operating within recommended parameters.
                </p>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div>
                <a class="btn btn-dark" (click)="FunctionNext()" pTooltip="To add Function Failure  Click on Next" tooltipPosition="top">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </ng-template>
    </p-card>
</div>


<div *ngIf="prescriptiveFunctionFailure" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Function Failure
        </ng-template>
        <ng-template pTemplate="subtitle">
            Type your Function Failure
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div class="container">
                    <!-- <div *ngFor="let fun of functionfailure" class="border" pDraggable="fun" (onDragStart)="dragStart($event,fun)" (onDragEnd)="dragEnd($event)">
                        {{fun.Description}}
                    </div>
                    <div class="drop" pDroppable="fun" (onDrop)="drop($event)">
                        <div *ngFor="let c of dropedFailure">{{c?.Description}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List or you can type below</small> <br> -->

                    <div>
                        <textarea class="form-control custom-textarea" class="form-control" [(ngModel)]="functionFailuerInput" (change)="FunctionFailuerInput($event)" placeholder="Type Function Failure"></textarea>
                    </div>
                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-dark" (click)="FunctionFailureBack()" pTooltip=" Back to the Function" tooltipPosition="top">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a class="btn btn-dark" style="float: right;" (click)="FunctionFailureNext()" pTooltip="To add Failure Mode Click on Next" tooltipPosition="top">
                <i class="fas fa-arrow-right"></i>
            </a>
        </ng-template>
    </p-card>
</div>

<div *ngIf="prescriptiveFailureMode" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Failure Mode
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Failure Mode
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div class="container">
                    <div style="overflow: scroll; height:20rem; ">
                        <div *ngFor="let func of failuerMode" class="border" pDraggable="func" (onDragStart)="dragStart1($event,func)" (onDragEnd)="dragEnd1($event)">
                            {{func.Description}}
                        </div>
                   </div>
                    <div class="drop" pDroppable="func" (onDrop)="drop1($event)">
                        <div *ngFor="let c of dropedMode">
                            <span>{{c?.Description}} </span>
                            <a class="cell-icon-button cdk-close" style="float:right;color: black;" (click)="FailureModeDropped(c)" pTooltip="Delete" tooltipPosition="top">
                                <i class="far fa-times-circle "></i>
                            </a>
                        </div>
                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List </small><br><br>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <a class="btn btn-dark" (click)="FailureModeBack()" pTooltip=" Back to the Function Failure" tooltipPosition="top">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a class="btn btn-dark" style="float: right;" (click)="FailureModeNext()" pTooltip="To add Local & System Effect  Click on Next" tooltipPosition="top">
                <i class="fas fa-arrow-right"></i>
            </a>
        </ng-template>
    </p-card>
</div>
<div *ngIf="prescriptiveEffect1" class="col-md-12" style="overflow: scroll;">
    <p-organizationChart [value]="InsertLSEffect" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)" styleClass="company">
        <ng-template let-node pTemplate="person">
            <div class="node-header p-corner-top">{{node.label}}</div>
            <div class="node-content">
                <div class="a">{{node.data.name}}</div>
            </div>
        </ng-template>
        <ng-template let-node pTemplate="department">
            {{node.label}}
        </ng-template>
    </p-organizationChart>
    <a class="btn btn-dark" (click)="FailuerEffectBack()" pTooltip=" Back to the Failure Modes" tooltipPosition="top">
        <i class="fas fa-arrow-left"></i>
    </a>
    <a *ngIf="NextFailureLSEDiasble" class="btn btn-dark" style="float: right;" (click)="FailureEffectNext()" pTooltip="Click on Next & Lookout the tree" tooltipPosition="top">
        <i class="fas fa-arrow-right"></i>
    </a>
</div>
<div *ngIf="prescriptiveEffect" style="margin: 40px;" class="stepsdemo-content shadow" id="FactorstoLocal">
    <p-card>
        <ng-template pTemplate="title">
            Failure Mode Effects
        </ng-template>
        <ng-template pTemplate="subtitle">
          <b>Enter Failure Mode Effects for {{FMLSEffectModeName}}</b>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div>
                    <label><b>Local Effect</b></label>
                    <textarea class="form-control custom-textarea" [(ngModel)]="failuerModeLocalEffects" id="message" name="body" rows="4" placeholder="Type Local Effect"></textarea>
                </div><br>
                <div>
                    <label><b>System Effect</b></label>
                    <textarea class="form-control custom-textarea" [(ngModel)]="failuerModeSystemEffects" id="message" name="body" rows="4" placeholder="Type System Effect"></textarea>
                </div>
                <div style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="uploadAttachments">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" accept="image/x-png,image/jpeg,.pdf," (change)="uploadFile($event)" class="custom-file-input" id="uploadAttachments" aria-describedby="uploadAttachments">
                                    <label class="custom-file-label" *ngIf="fileUpload == ''" for="inputGroupFile01">Attachment</label>
                                    <label class="custom-file-label" *ngIf="fileUpload != ''" for="inputGroupFile01">{{fileUpload}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <textarea class="form-control custom-textarea" [(ngModel)]="Remark" id="message" name="body" rows="3" placeholder="Add Remark Here"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-card>
</div>
<div class="modal fade" id="AttachmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    Add Attachment for {{FMLSEffectModeName}}
                </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="CloseAttachmentModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-11 ml-auto">
                        <div class="toolbar" role="toolbar">
                            <input type="file" #file placeholder="Choose file" accept="image/x-png,image/jpeg,.pdf," (change)="uploadFile(file.files)" style="display:none;">
                            <button type="button" (click)="file.click()" class="btn btn-light">
                                <span class="fa fa-paperclip"></span>
                            </button>
                        </div>
                        <div style="border-color: black;height: 300px;width: 400px;" class="card">
                            <div class="file"><br>
                                <span *ngIf="fileAttachmentEnable" style="margin: 10px;">
                                    <i class="fas fa-file fa-5x"></i>
                                    {{fileUpload}}  
                                <a class="attachment" (click)="CloseAttachmentModal()"><i class="pi pi-times"></i></a>  
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="AttachmentDoneModal()">Done</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    Add Remark for {{FMLSEffectModeName}}
                </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" >&times;</span>
        </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-11 ml-auto">
                        <div class="form-group mt-4">
                            <textarea class="form-control custom-textarea" [(ngModel)]="Remark" id="message" name="body" rows="12" placeholder="Add Remark Here"></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
            </div>

        </div>
    </div>
</div>

<div *ngIf="prescriptiveEffect" style="margin: 40px;" class="stepsdemo-content shadow" id="scrollToTop">
    <p-card>
        <ng-template pTemplate="title">
            Factors
            <p-overlayPanel #panel>
                <div style=" margin-right: 2px;width: 40rem;">
                    <li><b>Down Time Factor</b> :is the no. awarded in accordance with the failure time associated to the equipment. More the down time more is the factor, less the down time less is the factor. </li>

                    <li><b>Scrape Factor</b> : - if the chances to scrap the whole equipment or component in the case of failure are high then the scrap factor value is taken more and in the case of less chance to scrape the equipment or component factor
                        value is taken less. </li>

                    <li><b>Safety Factor</b> :is represents risk associated in the case of failure. If the chances of injury (both man and machine) are high in the case of equipment failure, more is the value given to the safety factor and less the chances
                        of injury, less is the value given to the safety factor.</li>

                    <li><b>Protection Factor</b> : is a number awarded on the account of ease to protect the equipment from failure. Minimum no. is given when protection against the failure is easy. Maximum no. is given when protection against the failure
                        is very difficult.
                    </li>

                    <li><b>Frequency Factor</b> : It is a number awarded depending on the frequency of failure. More the no. of failure more is the value given to the factor.
                    </li>
                </div>
            </p-overlayPanel>
            <a (click)="panel.show($event)" style="width: 20rem;" title="Explaination of each factors." style="color: black;"><i class="fas fa-info-circle fa-1px"></i> </a>
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter Factors for {{FMLSEffectModeName}}
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <h6 style=" margin-left: 50px;"> Down Time Factor (Range 1 - 10): {{DownTimeFactor}}</h6>
                    </div>
                    <div style="margin-top: 7px; margin-left: 20px;" class="col-md-3">
                        <p-slider [(ngModel)]="DownTimeFactor" [min]="1" [max]="10"></p-slider>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <h6 style=" margin-left: 50px;"> Scrape Factor (Range 1 - 5): {{ScrapeFactor}}</h6>
                    </div>
                    <div style="margin-top: 7px; margin-left: 20px;" class="col-md-3">
                        <p-slider [(ngModel)]="ScrapeFactor" [min]="1" [max]="5"></p-slider>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-5">
                        <h6 style=" margin-left: 50px;"> Safety Factor (Range 1 - 20): {{SafetyFactor}}</h6>
                    </div>
                    <div style="margin-top: 7px; margin-left: 20px;" class="col-md-3">
                        <p-slider [(ngModel)]="SafetyFactor" [min]="1" [max]="20"></p-slider>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-5">
                        <h6 style=" margin-left: 50px;">Protection Factor (Range 1 - 10): {{ProtectionFactor}}</h6>
                    </div>
                    <div style="margin-top: 7px; margin-left: 20px;" class="col-md-3">
                        <p-slider [(ngModel)]="ProtectionFactor" [min]="1" [max]="10"></p-slider>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-5">
                        <h6 style=" margin-left: 50px;">Frequency Factor (Range 1 - 15): {{FrequencyFactor}}</h6>
                    </div>
                    <div style="margin-top: 7px; margin-left: 20px;" class="col-md-3">
                        <p-slider [(ngModel)]="FrequencyFactor" [min]="1" [max]="15"></p-slider>
                    </div>
                </div>
                <br>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-dark" (click)="ADDFailuerEffect()" pTooltip=" Add  Failure Mode with Local & System Effect" tooltipPosition="top">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a *ngIf="NextFailureLSEDiasble" class="btn btn-dark" style="float: right;" (click)="UPDATEFailuerEffect()" pTooltip="Update Failure Effects" tooltipPosition="top">
                <i class="fas fa-edit"></i>
            </a>
        </ng-template>
    </p-card>
</div>


<div *ngIf="prescriptiveTree" id="prescriptive" class="col-md-12" style ="overflow: scroll;">
    <p-card>
        <button *ngIf="prescriptiveTreeBackEnable" class="btn btn-dark" (click)="treeBack()" pTooltip=" Back to the Failure Modes" tooltipPosition="top">  <i class="fas fa-arrow-left"></i></button>
        <button *ngIf="prescriptiveTreeSubmitEnable" class="btn btn-dark" style="float: right;" data-toggle="modal" data-target="#treeModal" pTooltip=" Click to Save Tree" tooltipPosition="top" data-toggle="modal"> Save & Next</button>
        <button *ngIf="prescriptiveTreeNextEnable" class="btn btn-dark" (click)="treeNext(target)" pTooltip="Click on Next To add Consequences" tooltipPosition="top"><i class="pi pi-plus">Consequences</i></button>
        <button *ngIf="SaveConcequencesEnable" class="btn btn-dark" style="float: right;" data-toggle="modal" data-target="#Consequences01" data-toggle="modal"> Save Consequences</button>
        <button *ngIf="PatternNextOnPrescriptiveTree" label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="ADDFMToFCA()" title="Add FCA"><i class="pi pi-plus"> FCA</i></button>
        <button *ngIf="!(Pattern == '')" label="Back" type="button" style="float: right;" class="btn btn-dark" (click)="ADDNextFCA()"> <i class="fas fa-arrow-right"></i></button><br>
        <button *ngIf="SaveFCAEnable" label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="SaveFCA()">Save FCA</button> <br>
       
        <p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" styleClass="company" id="selectNodetoView">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}
                    <a class="edit-org-bttn" *ngIf="node.viewFCA !== undefined && node.viewFCA" (click)="SelectNodeToView(node)" pTooltip="Select Node To view" tooltipPosition="top"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </div>
                <div class="node-content">
                    <div class="a">{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </p-card>
</div>

<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tree Save</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                Are you sure you want to save the tree
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="treeSave()" pTooltip="Save Tree" tooltipPosition="top">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--    Consequences -->
<div id="ScrollUpdateTree1" *ngIf="Consequences1" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p> Will the Occurrence of the failure mode ( on its own) be evident to operational staff during normal operation of the plant?</p>
                </div>
                <div class="container">
                    <div *ngFor="let con1 of draggedConsequencesYesNO" class="border" pDraggable="con1" (onDragStart)="dragStartC1($event,con1)" (onDragEnd)="dragEndC1($event)">
                        {{con1}}
                    </div>
                    <div class="drop" pDroppable="con1" (onDrop)="dropC1($event)">
                        <div *ngFor="let c of dropedConsequenceFailureMode">{{c}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List</small> <br>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-dark" (click)="Consequence1Back()" pTooltip=" Back to the Tree " tooltipPosition="top">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a *ngIf="NextFailureLSEDiasble" class="btn btn-dark" style="float: right;" (click)="Consequence1Next()" pTooltip=" Click To add next Consequence " tooltipPosition="top">
                <i class="fas fa-arrow-right"></i>
            </a>
        </ng-template>
    </p-card>
</div>


<div *ngIf="Consequences2" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p> Does the effect of the failure mode(or the secondary effect resulting from the failuer) have direct adverse effect on operational safety or the environment?</p>
                </div>
                <div class="container">
                    <div *ngFor="let con2 of draggedConsequencesYesNO" class="border" pDraggable="con2" (onDragStart)="dragStartC2($event,con2)" (onDragEnd)="dragEndC2($event)">
                        {{con2}}
                    </div>
                    <div class="drop" pDroppable="con2" (onDrop)="dropC2($event)">
                        <div *ngFor="let c of dropedConsequenceEffectFailureMode">{{c}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List</small> <br>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-dark" (click)="Consequence2Back()" pTooltip=" Back to the First Consequence" tooltipPosition="top">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a *ngIf="NextFailureLSEDiasble" class="btn btn-dark" style="float: right;" (click)="Consequence2Next()" pTooltip=" Click To add next Consequence " tooltipPosition="top">
                <i class="fas fa-arrow-right"></i>
            </a>

        </ng-template>
    </p-card>
</div>

<div *ngIf="Consequences3" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p>Does the combination of the failure mode and one additonal failure or event result in an adverse effect safety of the environment? </p>
                </div>
                <div class="container">
                    <div *ngFor="let con3 of draggedConsequencesYesNO" class="border" pDraggable="con3" (onDragStart)="dragStartC3($event,con3)" (onDragEnd)="dragEndC3($event)">
                        {{con3}}
                    </div>
                    <div class="drop" pDroppable="con3" (onDrop)="dropC3($event)">
                        <div *ngFor="let c of dropedConsequenceCombinationFailureMode">{{c}}</div>
                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List </small> <br>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-dark" (click)="Consequence3Back()" pTooltip=" Back to the Second Consequence" tooltipPosition="top">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a *ngIf="NextFailureLSEDiasble" class="btn btn-dark" style="float: right;" (click)="Consequence3Next()" pTooltip=" Click To add next Consequence " tooltipPosition="top">
                <i class="fas fa-arrow-right"></i>
            </a>

        </ng-template>
    </p-card>
</div>

<div *ngIf="Consequences4" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p>Does the Failure mode adversily affect operational capabilities of the plant? </p>
                </div>
                <div class="container">
                    <div *ngFor="let con4 of draggedConsequencesYesNO" class="border" pDraggable="con4" (onDragStart)="dragStartC4($event,con4)" (onDragEnd)="dragEndC4($event)">
                        {{con4}}
                    </div>
                    <div class="drop" pDroppable="con4" (onDrop)="dropC4($event)">
                        <div *ngFor="let c of dropedConsequenceAffectFailureMode">{{c}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List or you can type below</small> <br>

                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-dark" (click)="Consequence4Back()" pTooltip=" Back to the Third Consequence" tooltipPosition="top">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a *ngIf="NextFailureLSEDiasble" class="btn btn-dark" style="float: right;" (click)="Consequence4Next()" pTooltip=" Click To add next Consequence " tooltipPosition="top">
                <i class="fas fa-arrow-right"></i>
            </a>
        </ng-template>
    </p-card>
</div>


<div *ngIf="ConsequencesTree" style="margin: 20px;" class="stepsdemo-content shadow">
    <p-card>
        <span>
            <small class="form-text text-muted"><h5> Your {{FMLSConsequenceName}} Tree </h5></small>
        </span>
        <a class="btn btn-dark" (click)="ConsequenceTreeBack()" pTooltip=" Back to  Add the Consequence" tooltipPosition="top">
            <i class="fas fa-arrow-left"></i>
        </a>
        <button label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="PushConcequences()" pTooltip="When you add the consequence then it directly save in to the tree" tooltipPosition="top"><i class="pi pi-plus"></i> Consequences</button><br><br>
        <p-organizationChart [value]="ConsequenceNode" selectionMode="single" [(selection)]="selectedNode" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div>{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </p-card>
</div>


<div class="modal fade" id="Consequences01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Consequences Save</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Are you sure you want to save the Consequences
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="SaveConsequences()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="ViewPatterns" id="ScrollUpdateTreeView" style="overflow: scroll;">
    <p-card >
        <div class="row">
            <div class="col-6 .col-md-4">
                <div class="col">
                    <canvas id="Pattern1" width="700" height="250"></canvas>
                </div>
                <div class="col">
                    <canvas id="Pattern2" width="700" height="250"></canvas>
                </div>

                <div class="col">
                    <canvas id="Pattern3" width="700" height="250"></canvas>
                </div>

                <div class="col">
                    <canvas id="Pattern4" width="700" height="250"></canvas>
                </div>
                <div class="col">
                    <canvas id="Pattern5" width="700" height="250"></canvas>
                </div>

                <div class="col">
                    <canvas id="Pattern6" width="700" height="250"></canvas>
                </div>
            </div>
           
            <div class="col-6 .col-md-4">
                <p-organizationChart [value]="FCAView" styleClass="company">
                    <ng-template let-node pTemplate="person">
                        <div class="node-header p-corner-top">{{node.label}}</div>
                        <div class="node-content">
                            <div>{{node.data.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-node pTemplate="department">
                        {{node.label}}
                    </ng-template>
                </p-organizationChart>
                <ng-template pTemplate="footer">
                 <!-- <button *ngIf="CommentFIEYN2 !='' " label="Next" style="float: right;" (click)="PatternAdd()" type="button" class="btn btn-dark"  pTooltip=" Click To add FCA to Failure Mode" tooltipPosition="top">ADD</button> -->
                </ng-template>
            </div>
        </div>
    </p-card>
</div>



<div *ngIf="FailureModePatternTree"   class="col-md-12" id="ScrollToFCATree" style="overflow: scroll;">
    <small class="form-text text-muted"><h5>Add FCA for {{PatternFMName}}</h5></small>
    <button *ngIf="patternaddshow" label="Next" style="float: right;"(click)="PatternAdd()" type="button" class="btn btn-dark"  pTooltip=" Click To add data to Failure Mode" tooltipPosition="top">ADD</button>
    <p-organizationChart [value]="FCAdata1" selectionMode="single" styleClass="company">
        <ng-template let-node pTemplate="person">
            <div class="node-header p-corner-top">{{node.label}}
            </div>
            <div class="node-content">
                <div>{{node.data.name}}</div>
            </div>
        </ng-template>
        <ng-template let-node pTemplate="department">
            {{node.label}}
        </ng-template>
    </p-organizationChart>
    <p-card>
        <ng-template pTemplate="title">
            Pattern For Failure Mode
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter Pattern for {{PatternFMName}}
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">

                <div class="row">
                    <div class="row col-md-12">
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 1')" pTooltip=" " tooltipPosition="right">
                                <canvas id="pattern1"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 2')" pTooltip=" Depicts age related Failure resulting from detrioins process, but their are still considerable differences in the behaviour of any two components subject to the same nominal stress"
                                tooltipPosition="right">
                                <canvas id="pattern2"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 3')" pTooltip=" Has stedily increasing failuer probability,but no single pointer
                            where it can be said the component wears out.Faituge failuer, bloKage of filters and flow of turbine efficiency reduction
                            through the dirt accumlation are example. The slope of the curve is governed by the Weibull scale parameter ranging from days to decade." tooltipPosition="right">
                                <canvas id="pattern3"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 4')" pTooltip=" " tooltipPosition="right">
                                <canvas id="pattern4"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 5')" pTooltip=" It is for random failuer.This means that the probability that an item will fail in any of iterval of time is same is the same as in other.
                            Random failuer is charactersized by an exponcial survival distribution and constatnt probability of failuer, so their is no age at which scheduled rework or scheduled discard is appropriate." tooltipPosition="right">
                                <canvas id="pattern5"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 6')" pTooltip="Patterns 6 is very common.The probability of failuer declines with the age to reach constatnt value. 
                            It is high when the component is new or just been rewarded,but then settles.Compression fittings and many electronic system,including computers, exhibit the patterns" tooltipPosition="right">
                                <canvas id="pattern6"></canvas>

                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="PatternPathEnable" class="custom-control custom-radio" style="margin:20px;">
                    <input type="radio" [(ngModel)]="PatternPath" id="customRadio1" value="1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Select Path</label>
                    <a class="cell-icon-button cdk-close" style="margin-left:25px; color:rgb(245, 148, 172);">
                        <i class="fas fa-circle"></i>
                    </a>
                </div>
                <div *ngIf="PatternPathEnable" class="custom-control custom-radio" style="margin:20px;">
                    <input type="radio" [(ngModel)]="PatternPath" value="2" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Select Path</label>
                    <a class="cell-icon-button cdk-close" style="margin-left:25px; color:rgb(212, 218, 211);" class="fas fa-circle">
                    </a>
                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div>
                <!-- <button label="Next" type="button" (click)="PatternBack()" class="btn btn-dark">Back</button>
                <button label="Next" style="float: right;" (click)="PatternAdd()" type="button" class="btn btn-dark">ADD</button> -->
                <button class="btn btn-dark" (click)="PatternBack()" pTooltip=" Back to the Add FCA Tree" tooltipPosition="top">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <!-- <button *ngIf="NextFailureLSEDiasble" class="btn btn-dark" style="float: right;" (click)="PatternAdd()" pTooltip=" Click To add the Patterns" tooltipPosition="top">
                    <i class="fas fa-arrow-right"></i>
                </button> -->
                <button label="Next"  style="float: right;" type="button" (click)="PatternSave()" class="btn btn-dark" pTooltip="" tooltipPosition="top"><i class="fas fa-arrow-right"> Add</i></button>
            </div>
        </ng-template>
    </p-card>

</div>

<div *ngIf="FCAViewEnabled" style="overflow: scroll;">
    <p-card>
        <a class="cell-icon-button cdk-close" style="float:right;color: black;" (click)="CloseFCAView()" pTooltip="Delete" tooltipPosition="top">
            <i class="far fa-times-circle "></i>
        </a>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div style="width: 13em;height: 7em; margin-left: 140px;">
                    <canvas id="ViewPattern"></canvas>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <p-organizationChart [value]="FCAView" selectionMode="single" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div>{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department" id="FCATreeShow">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </p-card>
</div>


<style>
    .disableddiv{
        pointer-events: none;
        cursor: default;
        text-decoration: none;
         opacity: 0.5;
         padding:1px;
        background-color:#777  
       
    }
</style>

<div *ngIf="FailureModePatternTree" id="PatternTree2">
    <div class="card" style="margin: 20px;" *ngIf="FailuerRate">
        <p-card  [ngClass]=" {disableddiv: failuerrate  ? true : false}">
       <ng-template pTemplate="subtitle">
            <p><b>2. To help determine the Failuer rate, we need to know how reliable the equipment is. If the equipment were left alone
                for a period of time, would you expect this failuer to have happened.
            </b></p>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="input-group mb-3">
                <select [(ngModel)]="interval" class="form-select"  class="form-control" placeholder="Failuer very likely">
                    <option value="">Choose</option>
                        <option value="Days" selected> Days</option>
                        <option value="Week" selected> Week</option>
                        <option value="Month" selected>Month</option>
                        <option value="Year" selected>Year</option>
                    </select>
                   <input type="number" [(ngModel)]="intervalValue" name="Interval" class="form-control">        
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button class="btn btn-dark" style="float:right;" (click)="IntervalSave()"> <i class="fa fa-check" aria-hidden="true" ></i>save</button><br>
        </ng-template>
             
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="FailureWarning" id="Patternfailurewarning">
    <p-card  [ngClass]=" {disableddiv: failurewarning  ? true : false}">
        <ng-template pTemplate="title">
        </ng-template>
        <ng-template pTemplate="subtitle">
            <p><b>3. Are their any prior warnings before the failuer occure? Tick all that apply.
            </b></p>
        </ng-template>
        <ng-template pTemplate="content" >
            <div class="container">
                <div class="row" >
                    <div class="col-sm"><br>
                    <p-card>
                   Vibration<br>
                   <td><input type="checkbox" [(ngModel)]="Vibration" value="Vibration" name="name1" />&nbsp;</td>
                    </p-card></div>
                  <div class="col-sm"><br>
                    <p-card>
                    Noice<br>
                    <td><input type="checkbox" [(ngModel)]="Noice" value="Noice" name="name1" />&nbsp;</td>
                    </p-card></div>
                   <div class="col-sm"><br>
                    <p-card>
                    Leakage<br>
                    <td><input type="checkbox" [(ngModel)]="Leakage"  value="Leakage" name="name1" />&nbsp;</td>
                    </p-card></div>
                   <div class="col-sm"><br>
                    <p-card>
                    Performance drop<br>
                    <td><input type="checkbox" [(ngModel)]="PerformanceDrop" value="Performance drop" name="name1" />&nbsp;</td>
                    </p-card></div>
                   <div class="col-sm"><br>
                    <p-card>
                    Temprature Change<br>
                    <td><input type="checkbox" [(ngModel)]="TempratureChange" value="Temprature Change" name="name1" />&nbsp;</td>
                    </p-card></div><br>
                </div><br>
               
                <div class="row">
                    <div class="col-sm-2"><br>
                        <p-card>
                        Emmision changes<br>
                        <td><input type="checkbox" [(ngModel)]="EmmisionChange" value="Emmision changes" name="name1" />&nbsp;</td>
                        </p-card></div>
                       <div class="col-sm-2"><br>
                        <p-card>
                        Increase Lubricant Consumption<br>
                        <td><input type="checkbox" [(ngModel)]="IncreaseLubricantConsumption" value="Increase Lubricant Consumption" name="name1" />&nbsp;</td>
                        </p-card></div>
                       <div class="col-sm-2"><br>
                        <p-card>
                        Other<br>
                        <td><input type="checkbox" [(ngModel)]="Other" value=" Other" name="name1" />&nbsp;</td>
                        </p-card></div>
                       <div class="col-sm-2"> </div>
                       <div class="col-sm-2"> </div>
                  </div>
             </div><br>
        </ng-template>
        <ng-template pTemplate="footer">
        <button class="btn btn-dark" style="float:right;" (click)="ConditionFirst()"> <i class="fa fa-check" aria-hidden="true"></i>save</button><br>
        </ng-template>     
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="WarningSign" id="PatternWarningSign">
        <p-card [ngClass]=" {disableddiv: warningsign  ? true : false}">
        <ng-template pTemplate="subtitle">
            <p><b>4. If their are any warning signs, can they be monitored? if so, how?
            </b></p>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                   Human Senses<br>
                   <td><input type="checkbox" [(ngModel)]="HumanSenses" value=" Human Senses" name="name1" />&nbsp;</td>
                  </div></div>
                  <div class="col-sm"><br>
                    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                    Existing instumentation(portable or fixed)<br>
                    <td><input type="checkbox" [(ngModel)]="ExistingInstumentation" value="Existing instumentation(portable or fixed)" name="name1" />&nbsp;</td>
                   </div></div>
                   <div class="col-sm"><br>
                    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                    New instumentation(portable or fixed)<br>
                    <td><input type="checkbox" [(ngModel)]="NewInstumentation" value="New instumentation(portable or fixed)" name="name1" />&nbsp;</td>
                   </div></div>
                   <div class="col-sm"><br>
                    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                    Process Condtions<br>
                    <td><input type="checkbox" [(ngModel)]="ProcessCondtions" value="Process Condtions" name="name1" />&nbsp;</td>
                   </div></div>
                   <div class="col-sm"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                        Sample Anyalysis<br>
                        <td><input type="checkbox" [(ngModel)]="SampleAnyalysis" value="Sample Anyalysis" name="name1" />&nbsp;</td>
                    </div>
                   </div>  
                </div> 
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-white" style="border:none" ></a>
            <button class="btn btn-dark" style="float:right" (click)="ConditionSecond()"> <i class="fa fa-check" aria-hidden="true"></i>save</button>
        </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="IntervalDeteacting" id="PatternIntervalDeteacting">
        <p-card [ngClass]=" {disableddiv: intervaldeteacting  ? true : false}" >
        <ng-template pTemplate="subtitle">
            <div class="input-group mb-3">
                <label><b>5. What is the likely interval between detacting a warning sign and the failuer happening?</b></label>   
                <select [(ngModel)]="ffInterval" class="form-select"  class="form-control" placeholder="Failuer very likely">
                    <option value="">Choose</option>
                        <option value="Days" selected> Days</option>
                        <option value="Week" selected> Week</option>
                        <option value="Month" selected>Month</option>
                        <option value="year" selected>Year</option>
                    </select>
                   <input type="number" [(ngModel)]="ffIntervalValue" name="Interval" class="form-control">  
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-white" style="border:none" > </a>
            <button class="btn btn-dark" style="float:right" (click)="FFInterval()"> <i class="fa fa-check" aria-hidden="true"></i>save</button>
        </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="FailuerEvident" id="PatternFailuerEvident">
        <p-card [ngClass]=" {disableddiv: failuerevident  ? true : false}" >
        <ng-template pTemplate="subtitle">
            <p><b>6. If the failuer is not evident during normal operation can be found by testing and inspection? Tick yes or no.
            </b></p>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    Yes <td><input type="radio" [(ngModel)]="CommentFIEYN" value="Failure is not Evident" name="name1" />&nbsp;</td>
                </div>
                <div class="col-sm">      
                    No <td><input type="radio" [(ngModel)]="CommentFIEYN" value="Failure is Evident" name="name1" />&nbsp;</td>
                </div>
                <div class="col-sm"></div> 
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-white" style="border:none" > </a>
            <button class="btn btn-dark" style="float:right" (click)="CommentThird()"> <i class="fa fa-check" aria-hidden="true"></i>save</button> 
        </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="FailuerMaintenance" id="PatternFailuerMaintenance">
        <p-card [ngClass]=" {disableddiv: failuermaintenance ? true : false}">
        <ng-template pTemplate="title">
        </ng-template>
        <ng-template pTemplate="subtitle">
            <p><b >7. Some of the failuer cannot avoided by maintenance. Would planned replacement or refurbishment
                maintainace prevent or mitigate this failuer Mode?
            </b></p>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    Yes <td><input type="radio" [(ngModel)]="CommentFIEYN2" value=" planned replacement or refurbishment
                        maintainace prevent or mitigate this failuer Mode - Yes" name="name2" />&nbsp;</td>
                </div>
                <div class="col-sm">      
                    No <td><input type="radio" [(ngModel)]="CommentFIEYN2" value=" planned replacement or refurbishment
                        maintainace prevent or mitigate this failuer Mode - No" name="name2" />&nbsp;</td>
                </div>
                <div class="col-sm"></div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-white" style="border:none" > </a>
            <button class="btn btn-dark" style="float:right" (click)="CommentFourth()"> <i class="fa fa-check" aria-hidden="true"></i>save</button>
         
        </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="FailuerComments" id="PatternFailuerComments" >
        <p-card [ngClass]=" {disableddiv: failuercomments  ? true : false}">
        <ng-template pTemplate="title">
     
        </ng-template>
        <ng-template pTemplate="subtitle">
            <p><b> 8. Do you have any comments regarding the failuer of this equipment or how the maintainace of the equipment
                could be improved
            </b></p>
        </ng-template>
        <ng-template pTemplate="content">
            <textarea class="form-control custom-textarea" [(ngModel)]="FCAFreeText"  id="message" name="body" rows="3" placeholder="Add comments Here"></textarea>
        </ng-template>
        <ng-template pTemplate="footer">
            <button *ngIf="FCAFreeTextCancel1" class="btn btn-dark"  (click)="FCAFreeTextCancel()">Cancel</button>
            <button *ngIf="FCAFreeTextSave1"  class="btn btn-dark" style="float:right;" (click)="FCAFreeTextSave()">Save</button>
            <!-- <button *ngIf="CommentFIEYN2 !='' "  label="Next" style="float: right;" (click)="PatternAdd()" type="button" class="btn btn-dark"  pTooltip=" Click To add data to Failure Mode" tooltipPosition="top">ADD</button> -->
            <!-- <button *ngIf="patternaddshow" (click)="PatternAdd()" type="button" class="btn btn-dark"  pTooltip=" Click To add data to Failure Mode" tooltipPosition="top"><i class="pi pi-plus"> ADD</i></button> -->
        </ng-template>
    </p-card>
    </div>
</div> 

<!-- <div *ngIf="MSSEnable">
<p-organizationChart [value]="MSSData" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)" styleClass="company">
    <ng-template let-node pTemplate="person">
        <div class="node-header p-corner-top">{{node.label}}</div>
        <div class="node-content">
            <div class="a">{{node.data.name}}</div>
        </div>
    </ng-template>
    <ng-template let-node pTemplate="department">
        {{node.label}}
    </ng-template>
</p-organizationChart>
</div>

<div *ngIf="MSSDesCardEnable" id="ScrollUpdateTree1" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            MSS For
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your MSS
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p>{{MSSDescription}} </p>
                </div>
                <div class="container">
                    <div *ngFor="let mss of draggedConsequencesYesNO" class="border" pDraggable="mss" (onDragStart)="dragStartM1($event,mss)" (onDragEnd)="dragEndM1($event)">
                        {{mss}}
                    </div>
                    <div class="drop" pDroppable="mss" (onDrop)="dropM1($event)">
                        <div *ngFor="let c of MSSdroppedData">{{c}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List</small> <br>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            
            <button  class="btn btn-dark" style="float: right;" (click)="MSSNext()" pTooltip=" Click To add " tooltipPosition="top">
                <i class="fas fa-arrow-right"></i>
            </button>
        </ng-template>
    </p-card>
</div> -->