<style>
    .custom-form-control {
        margin-right: 5px;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        outline: none;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>

<p-toast position="top-center"></p-toast>
<div *ngIf="prescriptiveSelect" style="margin-left: 150px; margin-top: 110px;">
    <div class="card shadow" style="width: 19rem;margin-left: 150px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Select</b></li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <label style="    margin-right: 12px;">Assets</label>
                    <select [(ngModel)]="MachineType" class="form-select" (change)="MachineEquipmentSelect()" class="form-control">
                          <option value="">Choose..</option>
                            <option value="Pump" selected>Pump</option>
                                <option value="Compressor">Compressor</option>  
                        </select>
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <label style="    margin-right: 12px;">Sub Units</label>
                    <select [(ngModel)]="EquipmentType" class="form-select" class="form-control">
                          <option value="">Choose..</option>
                            <option *ngFor="let EL of EquipmentList" [ngValue]="EL">{{EL}}</option>
                        </select>
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="TagNumber" class="form-control" placeholder="Tag Number" aria-label="Tag Number" aria-describedby="basic-addon1">
                </div>
            </li>
            <li class="list-group-item">
                <button class="btn btn-dark" (click)="GeneratePrescription()">Done</button>
            </li>

        </ul>
    </div>
</div>
<div *ngIf="prescriptiveSteps" style="margin: 40px;" class="card shadow">
    <div style="margin: 20px;">
        <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>
    </div>
</div>
<div *ngIf="prescriptiveFuntion" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Function
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter Function information
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <p>
                    To supply &ensp;
                    <input type="text" class="custom-form-control" [(ngModel)]="FunctionFluidType" placeholder="e.g thermal fluid">m<sup>3</sup>/h flow with rated head &ensp;
                    <input type="text" class="custom-form-control" [(ngModel)]="FunctionRatedHead" placeholder="e.g xxx"> m (within -10% variation) continuously for a period of &ensp;<br> &ensp;
                    <br>
                    <input type="text" class="custom-form-control" [(ngModel)]="FunctionPeriodType" placeholder="e.g  60 days"> at a stretch, with equipemt operating within recommended parameters.
                </p>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div>
                <button label="Next" type="button" class="btn btn-dark" (click)="FunctionNext()">Next</button>
            </div>
        </ng-template>
    </p-card>
</div>


<div *ngIf="prescriptiveFunctionFailure" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Function Failure
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Function Failure
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div class="container">
                    <div *ngFor="let fun of functionfailure" class="border" pDraggable="fun" (onDragStart)="dragStart($event,fun)" (onDragEnd)="dragEnd($event)">
                        {{fun.Description}}
                    </div>
                    <div class="drop" pDroppable="fun" (onDrop)="drop($event)">
                        <div *ngFor="let c of dropedFailure">{{c?.Description}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List or you can type below</small> <br>

                    <div>
                        <input type="text" class="form-control" [(ngModel)]="functionFailuerInput" (change)="FunctionFailuerInput($event)" placeholder="Type Function Failure">
                    </div>
                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="FunctionFailureBack()">Back</button>
            <button label="Next" type="button" class="btn btn-dark" style="float: right; margin-right: 70px" (click)="FunctionFailureNext()">Next</button>

        </ng-template>
    </p-card>
</div>

<div *ngIf="prescriptiveFailureMode" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Failure Mode
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Failure Mode
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div class="container">
                    <div *ngFor="let func of failuerMode" class="border" pDraggable="func" (onDragStart)="dragStart1($event,func)" (onDragEnd)="dragEnd1($event)">
                        {{func.Description}}
                    </div>
                    <div class="drop" pDroppable="func" (onDrop)="drop1($event)">
                        <div *ngFor="let c of dropedMode">
                            <span>{{c?.Description}}</span>
                            <span><button style="float: right;" type="button" class="btn btn-dark btn-sm" style="margin-left: 700px" (click)="FailureModeDropped(c)">Clear</button></span>
                        </div>
                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List </small><br><br>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">

            <button label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="FailureModeBack()">Back</button>
            <button label="Next" type="button" class="btn btn-dark" style="float: right; margin-right: 70px" (click)="FailureModeNext()">Next</button>
        </ng-template>
    </p-card>
</div>

<!-- *ngIf="prescriptiveEffect" -->
<div style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <p-organizationChart [value]="InsertLSEffect" selectionMode="single" [(selection)]="selectedNode" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div class="a">{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </p-card>
    <br>
    <p-card>
        <ng-template pTemplate="title">
            Failure Mode Effects
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter Failure Mode Effects for {{FMLSEffectModeName}}
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
               
                <div>
                    <label>Local Effect</label>
                    <input type="text" class="form-control" [(ngModel)]="failuerModeLocalEffects" placeholder="Type Local Effect">
                </div>
                <div>
                    <label>System Effect</label>
                    <input type="text" class="form-control" [(ngModel)]="failuerModeSystemEffects" placeholder="Type System Effect">
                </div>
                <div style="margin-top: 20px;">  
                    <button label="Next" style="margin: 20px" type="button" class="btn btn-dark" data-toggle="modal" data-target="#AttachmentModal" > <i class="fa fa-paperclip" aria-hidden="true"></i></button>
                    <button label="Next" style="margin: 20px" type="button" class="btn btn-dark" data-toggle="modal" data-target="#CommentModal"> <i class="fa fa-comment" aria-hidden="true"></i></button>   
                 </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
        </ng-template>
    </p-card>
</div>
<div class="modal fade" id="AttachmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    Add Attachment for {{FMLSEffectModeName}}
                </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>  
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-11 ml-auto">
                        <div class="toolbar" role="toolbar">
                            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
                            <button type="button" (click)="file.click()" class="btn btn-light">
                                <span class="fa fa-paperclip"></span>
                            </button> 
                        </div>
                        <div class="form-group mt-4">
                        <div style="border-color: black;height: 300px;width: 400px;" class="card">
                            <div class="container"><br>
                                <span *ngIf= "filehide">
                                    <i class="fas fa-file fa-5x"></i>
                                    {{fileUpload}}  
                                <button type="button"style="float:right;" (click)="close()" class="btn btn-light"><i class="fa fa-times-circle"></i></button>  
                            </span> 
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    Add Remark for {{FMLSEffectModeName}}
                </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
             
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-11 ml-auto">
                        <div class="form-group mt-4">
                            <textarea class="form-control" id="message" name="body" rows="12" placeholder="Add Remark Here"></textarea>
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  data-dismiss="modal">Done</button>
            </div>

        </div>
    </div>
</div>

 <div *ngIf="prescriptiveEffect" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Factors
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter Factors for {{FMLSEffectModeName}}
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="row">   
                     <div class="col-md-5">
                       <h6 style=" margin-left: 50px;"> Down Time Factor (Range 1 - 10): {{DownTimeFactor}}</h6>
                     </div>
                     <div style="margin-top: 7px; margin-left: 20px;" class="col-md-3">
                        <p-slider  [(ngModel)]="DownTimeFactor" [min]="1" [max]="10"></p-slider>
                     </div>
                </div>
                <br>
                <div class="row">   
                    <div class="col-md-5">
                      <h6 style=" margin-left: 50px;"> Scrape Factor (Range 1 - 5): {{ScrapeFactor}}</h6>
                    </div>
                    <div style="margin-top: 7px; margin-left: 20px;" class="col-md-3">
                        <p-slider  [(ngModel)]="ScrapeFactor" [min]="1" [max]="5"></p-slider>
                    </div>
               </div>
                
                <br>

                <div class="row">   
                    <div class="col-md-5">
                      <h6 style=" margin-left: 50px;"> Safety Factor (Range 1 - 20): {{SafetyFactor}}</h6>
                    </div>
                    <div style="margin-top: 7px; margin-left: 20px;" class="col-md-3">
                        <p-slider  [(ngModel)]="SafetyFactor" [min]="1" [max]="20"></p-slider>
                    </div>
               </div>
                
                <br>
                <div class="row">   
                    <div class="col-md-5">
                      <h6 style=" margin-left: 50px;">Protection Factor (Range 1 - 10): {{ProtectionFactor}}</h6>
                    </div>
                    <div style="margin-top: 7px; margin-left: 20px;" class="col-md-3">
                        <p-slider  [(ngModel)]="ProtectionFactor" [min]="1" [max]="10"></p-slider>
                    </div>
               </div>
                
                <br>
                
                <div class="row">   
                    <div class="col-md-5">
                      <h6 style=" margin-left: 50px;">Frequency Factor (Range 1 - 15): {{FrequencyFactor}}</h6>
                    </div>
                    <div style="margin-top: 7px; margin-left: 20px;" class="col-md-3">
                        <p-slider  [(ngModel)]="FrequencyFactor" [min]="1" [max]="15"></p-slider>
                    </div>
               </div>
                
                <br>
                
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button label="Next" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="FailuerEffectBack()">Back</button>
            <button *ngIf="ADDFailureLSEDiasble" label="Next" type="button" style="float: right; margin-right: 70px" class="btn btn-dark" (click)="ADDFailuerEffect()">ADD</button>
            <button *ngIf="NextFailureLSEDiasble" label="Next" type="button" class="btn btn-dark" style="float: right; margin-right: 70px" (click)="FailureEffectNext()">Next</button>

        </ng-template>
    </p-card>
</div>


<div *ngIf="prescriptiveTree" class="col-md-12" style="overflow: scroll;">
    <p-card>
        <button *ngIf="prescriptiveTreeBackEnable" label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="treeBack()">Back</button>

        <button *ngIf="prescriptiveTreeSubmitEnable" label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" data-toggle="modal" data-target="#treeModal">Save & Next</button>

        <button *ngIf="prescriptiveTreeNextEnable" label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="treeNext()">Next</button> <br><br>
        <button *ngIf="SaveConcequencesEnable" label="Save Concequences" type="button" class="btn btn-dark" style="margin-left: 30px" data-toggle="modal" data-target="#Consequences01">Save Consequences</button><br><br>

        <p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div class="a">{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </p-card>
</div>

<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tree Save</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                Are you sure you want to save the tree
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="treeSave()">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!--    Consequences -->

<div *ngIf="Consequences1" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p> Will the Occurrence of the failure mode ( on its own) be evident to operational staff during normal operation of the plant?</p>
                </div>
                <div class="container">
                    <div *ngFor="let con1 of draggedConsequencesYesNO" class="border" pDraggable="con1" (onDragStart)="dragStartC1($event,con1)" (onDragEnd)="dragEndC1($event)">
                        {{con1}}
                    </div>
                    <div class="drop" pDroppable="con1" (onDrop)="dropC1($event)">
                        <div *ngFor="let c of dropedConsequenceFailureMode">{{c}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List</small> <br>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="Consequence1Back()">Back</button>
            <button label="Next" type="button" class="btn btn-dark" style="float: right; margin-right: 70px" (click)="Consequence1Next()">Next</button>
        </ng-template>
    </p-card>
</div>


<div *ngIf="Consequences2" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p> Does the effect of the failure mode(or the secondary effect resulting from the failuer) have direct adverse effect on operational safety or the environment?</p>
                </div>
                <div class="container">
                    <div *ngFor="let con2 of draggedConsequencesYesNO" class="border" pDraggable="con2" (onDragStart)="dragStartC2($event,con2)" (onDragEnd)="dragEndC2($event)">
                        {{con2}}
                    </div>
                    <div class="drop" pDroppable="con2" (onDrop)="dropC2($event)">
                        <div *ngFor="let c of dropedConsequenceEffectFailureMode">{{c}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List</small> <br>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="Consequence2Back()">Back</button>
            <button label="Next" type="button" class="btn btn-dark" style="float: right; margin-right: 70px" (click)="Consequence2Next()">Next</button>

        </ng-template>
    </p-card>
</div>

<div *ngIf="Consequences3" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p>Does the combination of the failure mode and one additonal failure or event result in an adverse effect safety of the environment? </p>
                </div>
                <div class="container">
                    <div *ngFor="let con3 of draggedConsequencesYesNO" class="border" pDraggable="con3" (onDragStart)="dragStartC3($event,con3)" (onDragEnd)="dragEndC3($event)">
                        {{con3}}
                    </div>
                    <div class="drop" pDroppable="con3" (onDrop)="dropC3($event)">
                        <div *ngFor="let c of dropedConsequenceCombinationFailureMode">{{c}}</div>
                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List </small> <br>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="Consequence3Back()">Back</button>
            <button label="Next" type="button" class="btn btn-dark" style="float: right; margin-right: 70px" (click)="Consequence3Next()">Next</button>

        </ng-template>
    </p-card>
</div>

<div *ngIf="Consequences4" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p>Does the Failure mode adversily affect operational capabilities of the plant? </p>
                </div>
                <div class="container">
                    <div *ngFor="let con4 of draggedConsequencesYesNO" class="border" pDraggable="con4" (onDragStart)="dragStartC4($event,con4)" (onDragEnd)="dragEndC4($event)">
                        {{con4}}
                    </div>
                    <div class="drop" pDroppable="con4" (onDrop)="dropC4($event)">
                        <div *ngFor="let c of dropedConsequenceAffectFailureMode">{{c}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List or you can type below</small> <br>

                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="Consequence4Back()">Back</button>
            <button label="Next" type="button" class="btn btn-dark" style="float: right; margin-right: 70px" (click)="Consequence4Next()">Next</button>

        </ng-template>
    </p-card>
</div>

<div *ngIf="ConsequencesTree" style="margin: 20px;" class="stepsdemo-content shadow">
    <p-card>
        <button label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="ConsequenceTreeBack()">Back</button>
        <button label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="PushConcequences()">Add Consequences</button><br><br>
        <p-organizationChart [value]="ConsequenceNode" selectionMode="single" [(selection)]="selectedNode" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div>{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </p-card>
</div>




<div class="modal fade" id="Consequences01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Consequences Save</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Are you sure you want to save the Consequences
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="SaveConsequences()">Save changes</button>
            </div>
        </div>
    </div>
</div>