.attachment {
  color: white;
  background: black;
  cursor: pointer;
  position: absolute;
  top: 8px;
  border-radius: 100%;
  border: 1px solid black;
  font-size: 1px;
  padding: 3px;
}

.border {
  border: 2px solid black;
  margin: 1rem 0;
  padding: 0.25rem;
  cursor: pointer;
}

.drop {
  border: 3px solid #585570;
  padding: 1rem;
  margin: 1rem 0;
  border-color: #585570;
}

.email-app .inbox .toolbar {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e1e6ef;
}

.email-app .message .toolbar {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e1e6ef;
}

.email-app .message .details .attachments {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-top: 3px solid #f9f9fa;
  border-bottom: 3px solid #f9f9fa;
}

.email-app .message .details .attachments .attachment {
  display: flex;
  margin: 0.5rem 0;
  font-size: 12px;
  align-self: center;
}

.edit-org-bttn {
  color: white;
  background: green;
  cursor: pointer;
  position: absolute;
  right: 1px;
  top: -11px;
  border-radius: 100%;
  // border: 1px solid #fff;
  // font-size: 1px;
  padding: 2px;
}

:host ::ng-deep .p-organizationchart {
  .StylePattern {
    padding: 0;
    border: 0 none;
    background-color: rgb(108, 212, 219);
  }
  .StylePattern1 {
    padding: 0;
    border: 0 none;
    background-color: rgb(245, 148, 172);
  }
  .StylePattern2 {
    padding: 0;
    border: 0 none;
    background-color: rgb(212, 218, 211);
  }
  .node-content {
    text-align: center;
    border: 1px solid #495ebb;
    padding: 12px;
    width: 146px;
    resize: both;
    overflow: auto;
    height: 40px;
  }
}
