<div *ngIf="user" class="container bootstrap snippet">
 
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <div class="text-center">
        <img src="DPM/dist/DPM/assets/img/undraw_profile.svg" class="avatar img-circle img-thumbnail" alt="avatar">
        <label>{{user.Company}}</label>
      </div>
      
    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Home</a></li>
        
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <form class="form">
            <br>
            <div class="form-group">
              <div class="col-xs-6">
                <label for="username">
                  <h4>Username</h4>
                </label>
                <input [(ngModel)]="user.UserName"
                       type="text" class="form-control"
                       name="username" id="username"
                       placeholder="Username"
                      >
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <label for="email">
                  <h4>Fullname</h4>
                </label>
                <input [(ngModel)]="user.FullName"
                       type="email"
                       class="form-control"
                       name="Fullname"
                       id="Fullname"
                       placeholder="Fullname">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <label for="email">
                  <h4>Contact</h4>
                </label>
                <input [(ngModel)]="user.PhoneNumber"
                       type="email"
                       class="form-control"
                       name="Contact"
                       id="Contact"
                       placeholder="Contact">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <label for="email">
                  <h4>Email</h4>
                </label>
                <input [(ngModel)]="user.Email"
                       type="email"
                       class="form-control"
                       name="email"
                       id="email"
                       placeholder="you@email.com" title="enter your email.">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <br>
                <!-- <button class="btn btn-dark" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Update</button> -->
               
              </div>
            </div>
          </form>
        </div>
        <!--/tab-pane-->
        
      </div>
      <!--/tab-pane-->
    </div>
    <!--/tab-content-->
  </div>
  <!--/col-9-->
</div>
<!--/row-->
