<style>
    .custom-card-header {
        padding: .2rem .2rem;
        margin-bottom: 0;
        border-bottom: 3px solid;
    }
</style>

<p-toast position="top-right"></p-toast>
<div class="card shadow div-in-middle" style="width: 70rem;">
    <div class="row">
        <div class="col-sm" style="padding:30px;">
            <label style=" margin-right: 12px;">
                <h5>Machine type</h5>
            </label>
            <select [(ngModel)]="MachineType" class="form-select" (change)="MachineEquipmentSelect()" class="form-control">
                <option value="">Choose..</option>
                <!-- <option value="Compressor" selected>Compressor</option> -->
                <option value="Pump" selected>Pump</option>
            </select>
        </div>
        <div class="col-sm" style="padding:30px;">
            <label style=" margin-right: 12px;">
                <h5>Equipment Type</h5>
            </label>
            <select [(ngModel)]="EquipmentType" class="form-select" (change)="MachineEquipmentSelect()" class="form-control">
                <option value="">Choose..</option>
                <option *ngFor="let EL of EquipmentList" [ngValue]="EL">{{EL}}</option>
            </select>
        </div>
        <div class="col-sm" style="padding:30px;">
            <label style=" margin-right: 12px;"> <h5>Tag Number</h5></label>
            <select class="form-select" [(ngModel)]="SelectedTagNumber" class="form-control">
                 <option value="">Choose..</option>
                 <option *ngFor="let EL of TagList" [ngValue]="EL">{{EL}}</option>
            </select>
        </div>
        <div class="col-sm" style="padding:30px;">
            <div class="row">
                <div class="col-sm" style="padding:30px;">
                    <a class="btn btn-dark" (click)="getPrescriptiveRecordsByEqui()">Done</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row" *ngIf="showPrescriptive">
    <div class="div-in-middle col-md-11">
        <div class="card shadow mb-4 con">
            <div class="card-header">
                Equipment Type : {{EquipmentType}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6" *ngFor="let row of prescriptiveRecords.centrifugalPumpPrescriptiveFailureModes">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Tag Number</b> : {{SelectedTagNumber}}
                            </div>
                            <div class="col-md-6">
                                <b>  Failure Mode</b> : {{row.FunctionMode}}
                            </div>
                        </div>
                        <hr>
                        <h4><b> Task</b> </h4>
                        <hr>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Maintenance Task</th>
                                    <th>Maintenance Interval</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{row.MSSMaintenanceTask}}</td>
                                    <td>{{row.MSSMaintenanceInterval}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="container" *ngIf="showPrescriptive" style="margin-top: 13px;">
    <div class="card" *ngFor="let row of prescriptiveRecords.centrifugalPumpPrescriptiveFailureModes">
        <div style="padding: 1.25rem 1.25rem 0rem;">
            <div class="custom-card-header">
                <h4>D.P.M. Cost Benefit Analysis</h4>
            </div>
            <div class="custom-card-header">
                <span> Currency: $</span>
            </div>
        </div>
        <div class="card-body">
            <div>
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <strong>Customer Name:</strong>&nbsp;&nbsp;
                        <span> {{UserDetails.FirstName}}&nbsp;{{UserDetails.LastName}} </span>
                    </div>
                    <div class="col-sm-6">
                        <strong>Plant:</strong>
                        <span> LNG</span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <strong>Site:</strong>
                        <span> Honolulu </span>
                        <span> LNG facilities in Honolulu </span>
                    </div>
                    <div class="col-sm-6">
                        <strong>Unit:</strong>
                        <span> LNG</span>
                    </div>
                </div>
            </div>
            <div style="border-bottom: 1px solid;"></div>
            <div class="row mb-4">
                <div class="col-sm-6">
                    <strong>Tagnumber:</strong>
                    <span> {{SelectedTagNumber}} </span>
                </div>
                <div class="col-sm-6">
                    <strong>Failure Mode:</strong>
                    <span> {{row.FunctionMode}}</span>
                </div>
            </div>
            <div style="border-bottom: 1px solid;"></div>

            <div class="row mb-4">
                <div class="col-sm-6">
                    <div class="m-1 p-1" style="border: 1px solid;">
                        <span>Functional Failure</span>
                        <span>1.1</span>
                        <span>Fails to remove contaminantes from hydrocarbon streams</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Total PONC</strong>
                                <span class="float-right">{{row.TotalPONC}} K</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>ETBF [y]</strong>
                                <span class="float-right">{{row.ETBF}} Y</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="m-1 p-1" style="border: 1px solid;">
                        <strong>Equipment Type</strong> &nbsp;
                        <span>{{EquipmentType}}</span>
                    </div>
                    <h2>Tasks</h2>
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Maintenance Task</th>
                                    <th>Maintenance Interval</th>
                                    <th>POC</th>
                                    <th>Annual POC</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="left strong">{{row.MSSMaintenanceTask}}</td>
                                    <td class="left">{{row.MSSMaintenanceInterval}}</td>
                                    <td class="left">{{row.POC}}</td>
                                    <td class="left">{{row.AnnualPOC}}</td>
                                    <td class="left">{{row.Status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6" style="padding-right: 0px !important;">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Consequence class</strong>
                                <div class="m-1 p-1">
                                    <div>
                                        ECO&nbsp;&nbsp;HS&nbsp;&nbsp;ENV
                                    </div>
                                    <div>
                                        L&nbsp;&nbsp;-&nbsp;&nbsp;N
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding-right: 0px !important; padding-left: 3px !important;">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Consequence category</strong>
                                <span class="float-right">Revealed</span>
                            </div>
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Criticality Rating</strong>
                                <span class="float-right">M</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 m-1 p-1" style="border: 1px solid;">
                        <h6>Scenario</h6>
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>ETBC [y]</strong>
                                <span class="float-right">{{row.ETBC}}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Total annual POC</strong>
                                <span class="float-right">{{row.TotalAnnualPOC}} K</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Total PONC</strong>
                                <span class="float-right">{{row.TotalPONC}} K</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Total annual cost with maintenance</strong>
                                <span class="float-right">{{row.TotalAnnualCostWithMaintenance}} K</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Economic Risk Without D.P.M. Total Cost</strong>
                                <span class="float-right">{{row.EconomicRiskWithoutMaintenance}} K</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Residual Risk With D.P.M. Total Cost</strong>
                                <span class="float-right">{{row.ResidualRiskWithMaintenance}} K</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>With D.P.M. MEI</strong>
                                <span class="float-right">{{row.MEI}}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Without D.P.M. MEI</strong>
                                <span class="float-right">{{row.MEI}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Residual Criticality</strong>
                                <span class="float-right">N</span>
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <div class="m-1 p-1" style="border: 1px solid;">
                                <strong>Tasks approved</strong>
                                <span class="float-right">Yes</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 m-1 p-1" style="border: 1px solid;">
                        <h6>Task Justification</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>