<p-toast position="top-right"></p-toast>
<div class="full">
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form #form='ngForm' class="sign-in-form">
                    <h2 class="title">Forgot Password</h2>
                    <form>
                        <div *ngIf="hideForm">
                            <p>Enter Registered Credentials</p>

                            <div class="input-field form-group required">
                                <i class="fas fa-envelope"></i>
                                <input type="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="Email" placeholder="Email" />
                            </div>
                        </div>
                        <button *ngIf="disableEnter" class="btn solid" type="submit" (click)="Validate()">Reset</button>
                    </form>
                    <p class="social-text">Connect us with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Contact us to get more detail
                    </p>

                </div>
                <img src="dist/DPM/assets/img/log.svg" class="image" alt="" />
            </div>
        </div>
    </div>
</div>


<!-- 

  <div class="input-field form-group required">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="Password" />
  </div>
  <div class="input-field form-group required">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="ConfirmPassword" />
  </div>
<input type="submit" [disabled]="form.invalid" value="Submit" class="btn solid" /> -->