<style>
    img {
        width: 80%;
        height: 80%;
    }
</style>
<p-toast></p-toast>

<div id="wrapper">
    <ul style="background-color: #585570;" class="navbar-nav bg-gradient sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
                <div class="image-container">
                    <img src="dist/DPM/assets/img/DPM_LOGO.png" alt="">
                </div>
            </div>
        </a>
        <!-- <hr class="sidebar-divider "> -->
        <!-- <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/Home/Dashboard']">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li> -->
        <hr class="sidebar-divider ">
        <li class="nav-item active">
            <a [routerLink]="[ '/Home/Education']" class="nav-link">
                <i [routerLink]="[ '/Home/Education']" class="fas fa-graduation-cap"></i>
                <span> DPM-Education</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-industry"></i>
                <span>Machinery</span>
            </a>
            <div *ngIf="screwCompressor" id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                <li>
                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <span>Compressor</span>
                    </a>
                </li>
            </div>

            <div *ngIf="screwCompressorData" id="collapseThree" class="collapse" aria-labelledby="headingThree">
                <li>
                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <span> Screw Compressor</span>
                    </a>
                </li>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" [routerLink]="['/Home/Compressor/ScrewConfiguration']">Configuration</a>
                    <a class="collapse-item" [routerLink]="['/Home/Compressor/ScrewTrain']">Train</a>
                    <a class="collapse-item" [routerLink]="['/Home/Compressor/ScrewPrediction']">Predict</a>

                </div>
            </div>

            <div *ngIf="centrifugalPumpData" id="collapseTwo" class="collapse" aria-labelledby="headingUtilitiesOne">
                <li>
                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseUtilitiesOne" aria-expanded="true" aria-controls="collapseUtilitiesOne">
                        <span> Pumps</span>
                    </a>
                </li>
            </div>

            <div *ngIf="centrifugalPump" id="collapseUtilitiesOne" class="collapse" aria-labelledby="headingUtilitiesTwo">
                <li>
                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseUtilitiesTwo" aria-expanded="true" aria-controls="collapseUtilitiesTwo">
                        <span> Centrifugal Pump</span>
                    </a>
                    <div id="collapseUtilitiesTwo" class="collapse" aria-labelledby="headingUtilitiesTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" [routerLink]="[ '/Home/CentrifugalPump']">Upload Pump Data</a>
                        </div>
                    </div>
                </li>
            </div>
        </li>
        <!-- <li class="nav-item" *ngIf="staticEquitment">
            <a class="nav-link collapsed" aria-expanded="true">
                <i class="fas fa-toolbox"></i>
                <span> Static Equipment</span>
            </a>
        </li> -->

        <li *ngIf="report" class="nav-item">
            <a [routerLink]="[ '/Home/Report']" class="nav-link">
                <i [routerLink]="[ '/Home/Report']"></i>
                <i class="fas fa-file-pdf"></i>
                <span>Report</span>
            </a>
        </li>

        <li class="nav-item" *ngIf="prescriptive">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                <i class="fas fa-industry"></i>
                <span>Prescriptive</span>
            </a>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingEight">
                <li>
                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        <span>FMEA</span>
                    </a>
                </li>
            </div>


            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" [routerLink]="['/Home/Prescriptive/List']">Assets List</a>
                    <a *ngIf="prescriptiveConfiguration" class="collapse-item" [routerLink]="['/Home/Prescriptive/Configuration']">Configuration</a>
                    <a class="collapse-item" [routerLink]="['/Home/Prescriptive/ADD']"> ADD</a>
                    <a class="collapse-item" [routerLink]="['/Home/Prescriptive/Display']"> Display</a>
                </div>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingEight">
                <li>
                    <a [routerLink]="['/Home/Prescriptive/FCAAdd']" class="nav-link">
                        <span>FCA</span>
                    </a>
                </li>
            </div>

            <div id="collapseSeven" class="collapse" aria-labelledby="headingEight">
                <li>
                    <a [routerLink]="['/Home/Prescriptive/MSSAdd']" class="nav-link">
                        <span>MSS</span>
                    </a>
                </li>
            </div>

            <div id="collapseSeven" class="collapse" hidden aria-labelledby="headingEight">
                <li>
                    <a [routerLink]="['/Home/Prescriptive/RCA']" class="nav-link">
                        <span>RCA</span>
                    </a>
                </li>
            </div>
        </li>
        <li class="nav-item" *ngIf="recycleBin">
            <a [routerLink]="[ '/Home/RecycleBin']" class="nav-link">
                <i [routerLink]="[ '/Home/RecycleBin']"></i>
                <i class="fas fa-trash"></i>
                <span>Recycle Bin</span>
            </a>
        </li>

        <hr class="sidebar-divider">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="color:#585570;">Contact Us</span>
                            <i class="fas fa-envelope fa-fw"></i>
                        </a>
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center">
                                <form [formGroup]="FormData" (submit)="Send(FormData.value)">
                                    <div class="form-group">
                                        <label for="Email">Email</label>
                                        <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email" />
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="Subject">Subject</label>
                                        <input type="text" class="form-control" name="Subject" placeholder="Subject" formControlName="Subject" />
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Comment</label>
                                        <textarea class="form-control" formControlName="Comment" name="Comment">
                                          </textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary" [disabled]="FormData.invalid">
                                          Send
                                        </button>
                                </form>
                            </a>

                        </div>
                    </li>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.UserName}}</span>
                            <img class="img-profile rounded-circle" src="dist/DPM/assets/img/undraw_profile.svg">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" [routerLink]="[ '/Home/Profile']">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                <a class="collapse-item"></a>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a (click)="logout()" class="dropdown-item" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout

                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>