<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul style="background-color: #585570;" class="navbar-nav bg-gradient sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <style>
                        img {
                            width: 80%;
                            height: 80%;
                        }
                    </style>

                    <div class="image-container">
                        <img src="DPM/dist/DPM/assets/img/Logo_final.jpg" alt="">

                    </div>

                </div>
                <!-- <div class="navbar-brand sidebar-brand-text mx-3">DPM</div>  -->
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider ">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/Dashboard']">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->

            <!-- Nav Item - Pages Collapse Menu -->



            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-industry"></i>
                    <span>Machinery</span>
                </a>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">

                    <li>

                        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <i class="fas fa-burn"></i>
                            <span>Compressor</span>
                        </a>

                    </li>

                </div>


                <div id="collapseThree" class="collapse" aria-labelledby="headingThree">

                    <li>
                        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <span> Screw Compressor</span>
                        </a>
                    </li>

                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" [routerLink]="[ '/ScrewConfiguration']">Configuration</a>
                        <a class="collapse-item" [routerLink]="[ '/ScrewTrain']">Train</a>
                        <a class="collapse-item" [routerLink]="[ '/ScrewPrediction']">Predict</a>

                    </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingUtilities">

                    <li>

                        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                            <i class="fas fa-gas-pump"></i>
                            <span>Pumps</span>
                        </a>
                        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header" style="text-transform:bold;">Under Progress:</h6>
                                <a class="collapse-item">Configuration</a>
                                <a class="collapse-item">Train</a>
                                <a class="collapse-item">Predict</a>
                            </div>
                        </div>

                    </li>

                </div>


            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" aria-expanded="true">
                    <i class="fas fa-toolbox"></i>
                    <span> Static Equipment</span>
                </a>

            </li>

            <li class="nav-item">
                <a [routerLink]="[ '/Education']" class="nav-link collapsed" data-toggle="collapse" data-target="" aria-expanded="true" aria-controls="">
                    <i [routerLink]="[ '/Education']" class="fas fa-graduation-cap"></i>
                    <span> DPM-Education</span>
                </a>

            </li>

            <li class="nav-item">
                <a [routerLink]="[ '/Report']" class="nav-link collapsed" data-toggle="collapse" data-target="" aria-expanded="true" aria-controls="">
                    <i [routerLink]="[ '/Report']"></i>
                    <i class="fas fa-file-pdf"></i>
                    <span>Report</span>
                </a>

            </li>




            <!-- Divider -->
            <hr class="sidebar-divider">



            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="color:#585570;">Contact Us</span>
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <!-- <span class="badge badge-danger badge-counter"></span> -->
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">

                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>

                                <a class="dropdown-item d-flex align-items-center">
                                    <form [formGroup]="FormData" (submit)="Send(FormData.value)">
                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email" />
                                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="Subject">Subject</label>
                                            <input type="text" class="form-control" name="Subject" placeholder="Subject" formControlName="Subject" />
                                        </div>
                                        <!-- <div class="form-group">
                                            <label for="Phone">Phone</label>
                                            <input
                                              type="text"
                                              class="form-control"
                                              name="Phone"
                                              placeholder="Phone Number"
                                              formControlName="Phone"/>
                                          </div> -->

                                        <div class="form-group">
                                            <label for="comment">Comment</label>
                                            <textarea class="form-control" formControlName="Comment" name="Comment">
                                          </textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary" [disabled]="FormData.invalid">
                                          Send
                                        </button>
                                    </form>
                                </a>

                            </div>
                        </li>







                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.UserName}}</span>
                                <img class="img-profile rounded-circle" src="DPM/dist/DPM/assets/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" [routerLink]="[ '/Profile']">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    <a class="collapse-item"></a>
                                    Profile

                                </a>
                                <!-- <a class="dropdown-item" >
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" >
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a> -->
                                <div class="dropdown-divider"></div>
                                <a (click)="logout()" class="dropdown-item" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout

                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->


                <router-outlet></router-outlet>




            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <!-- <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; DPM 2020</span>
                    </div>
                </div>
            </footer> -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

</body>