<tbody *ngIf="node">
        <tr>
            <td [attr.colspan]="colspan">
                <!-- <p-toast position="top-right"></p-toast> -->
                <div [class]="node.styleClass" [ngClass]="{'p-organizationchart-node-content': true, 'p-organizationchart-selectable-node': chart.selectionMode && node.selectable !== false,'p-highlight':isSelected()}"
                    (click)="onNodeClick($event,node)">
                    <div *ngIf="!chart.getTemplateForNode(node)">
                        <span [hidden]="(node.intialNode)||(node.KNGate)" class="p-tree-toggler pi pi-fw pi-times-circle custom-delete-bttn" data-toggle="tooltip" data-placement="right" title="Delete Node" (click)="onDeleteNode(node)"></span>
                        <!-- {{node.label}} -->
                        <textarea *ngIf="node.gate== true" [(ngModel)]="node.label" placeholder="Type Something" class="form-control custom-textarea" name="{{node.label}}"></textarea> <br/>
                        <div *ngIf="node.gate== false" class="d-flex flex-row justify-content-center badge badge-sucess mr-1">
                            <small *ngIf="node.label.Location != undefined"><i class="pi pi-paperclip small"></i></small>{{node.label.Location != undefined? 'TagNumber :':''}} &nbsp;{{node.label.Location}} <br/>
                        </div>
                        <div *ngIf="node.gate== false" class="d-flex flex-row justify-content-center badge badge-sucess mr-1">
                            <small *ngIf="node.label.OriginalCriticality != undefined"><i class="pi pi-paperclip small"></i></small>{{node.label.OriginalCriticality != undefined? 'Criticality :':''}} &nbsp;{{node.label.OriginalCriticality}} <br/>
                        </div>
                        <select style="width: 7em;" *ngIf="node.gate== false" [(ngModel)]="node.label">
                            <option [ngValue]="">Select Asset</option>
                            <option *ngFor="let r of RBDAssetsList" [ngValue]="r">{{r.AssetDescription}}</option>
                        </select>
                        <label *ngIf="node.gate === true" for="AND">AND Gate</label><input type="radio" id="AND" *ngIf="node.gate" name="{{node.label}}" [(ngModel)]="node.gateType" value="AND">
                        <label *ngIf="node.gate === true" for="OR">OR Gate</label><input type="radio" id="OR" *ngIf="node.gate"  name="{{node.label}}" [(ngModel)]="node.gateType" value="OR" >
                        <label *ngIf="node.gate === true" for="KN">KN</label><input type="radio" id="KN" *ngIf="node.gate"  name="{{node.label}}" [(ngModel)]="node.gateType" value="KN" >
                        <div *ngIf="node.gate== true">
                            <a>
                                <label>L</label>
                                <input type="text" [(ngModel)]="node.L" placeholder="{{node.L}}" disabled="node.gate">
                            </a>
                            <a>
                                <label>M</label>
                                <input type="text" [(ngModel)]="node.M" placeholder="{{node.M}}" disabled="node.gate">
                            </a>
                            <a>
                                <label>UnAvi</label>
                                <input type="text" [(ngModel)]="node.unAvailabilty" placeholder="{{node.unAvailabilty}}" disabled>
                            </a>
                            <a>
                                <label>System UnAvi</label>
                                <input type="text" [(ngModel)]="node.gateUnAvailability" placeholder="{{node.gateUnAvailability}}" disabled>
                            </a>
                        </div>
                        <div *ngIf="node.final== true">
                            <a>
                                <label>Mtbf</label>
                                <input type="text" placeholder="{{node.mtbf}}" disabled="node.gate">
                            </a>
                            <a>
                                <label>Availability</label>
                                <input type="text" placeholder="{{node.availability}}" disabled="node.gate">
                            </a>
                        </div>
                        <div *ngIf="node.gate== false">
                            <a>
                                <label>L</label>
                                <input type="text" (change)="calculateAvailability(node)" (keypress)=AllowNumber($event) [(ngModel)]="node.L" placeholder="{{node.L}}">
                            </a>
                            <a>
                                <label>M</label>
                                <input type="text" (change)="calculateAvailability(node)" (keypress)=AllowNumber($event) [(ngModel)]="node.M" placeholder="{{node.M}}">
                            </a>
                            <a>
                                <label>UnAvi</label>
                                <input type="text" [(ngModel)]="node.unAvailabilty" placeholder="{{node.unAvailabilty}}" disabled>
                            </a>
                        </div>
                        {{node.gateType === 'KN'? node.K+' '+'Out of '+node.N : ''}}
                        <a *ngIf="node.gate" (click)="AddTopBottom(node)" title="Add new node" class="org-add"><i class="pi pi-plus"></i></a><br/>
                        <a *ngIf="node.children.length > 1" (click)="calculateLM(node)" title="calculate" class="org-add"><i class="pi pi-check">calculate</i></a>
                         <div *ngIf="TopBottomEnable" style="
                         position: relative;
                         width: 14em;
                         border: none;
                         border-radius: 0.3em;
                         background-color: #fff;
                         box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 15%);
                         padding: 10px;">
                        <a (click)="CloseTopBottomNode(node)" class="btn-white btn-sm">
                            <i class="pi pi-times-circle"></i>
                        </a>&nbsp;&nbsp;<br/>

                        <a [hidden]="node.gateType === 'KN'" (click)="AddTopFinalNode(node)">Top Final</a><br>
                        <a [hidden]="node.gateType === 'KN'"(click)="AddTopNode(node)">Top</a><br>
                        <label [hidden]="node.gateType === 'KN'">Bottom</label>
                        <ul [hidden]="node.gateType === 'KN'">
                            <li (click)="AddBottomNode(node, 'Yes')"><a>Bottom with Gate</a></li>
                            <li (click)="AddBottomNode(node, 'No')"><a>Bottom without Gate</a></li>
                        </ul>
                        <ul [hidden]="(node.gateType === 'OR')||(node.gateType === 'AND')||(node.gateType === '')">
                            <li>
                                <label>K</label>
                                <input type="text" style="width: 6em;" (keypress)=AllowNumber($event) [(ngModel)]="node.K" placeholder="{{node.K}}" />
                            </li>
                            <li>
                                <label>N</label>
                                <input type="text" style="width: 6em;" (keypress)=AllowNumber($event) [(ngModel)]="node.N" placeholder="{{node.N}}" />
                            </li>
                            <li>
                                <button (click)="AddKNLogic(node)" >Ok</button>
                            </li>
                        </ul>
                         </div>
                    </div>
                    <div *ngIf="chart.getTemplateForNode(node)">
                        <ng-container *ngTemplateOutlet="chart.getTemplateForNode(node); context: {$implicit: node}"></ng-container>
                    </div>
                    <a *ngIf="!leaf" tabindex="0" class="p-node-toggler" (click)="toggleNode($event, node)" (keydown.enter)="toggleNode($event, node)">
                        <i class="p-node-toggler-icon pi" [ngClass]="{'pi-chevron-down': node.expanded, 'pi-chevron-up': !node.expanded}"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr [ngClass]="!leaf&&node.expanded ? 'p-organizationchart-node-visible' : 'p-organizationchart-node-hidden'" class="p-organizationchart-lines" [@childState]="'in'">
            <td [attr.colspan]="colspan">
                <div class="p-organizationchart-line-down"></div>
            </td>
        </tr>
        <tr [ngClass]="!leaf&&node.expanded ? 'p-organizationchart-node-visible' : 'p-organizationchart-node-hidden'" class="p-organizationchart-lines" [@childState]="'in'">
            <ng-container *ngIf="node.children && node.children.length === 1">
                <td [attr.colspan]="colspan">
                    <div class="p-organizationchart-line-down"></div>
                </td>
            </ng-container>
            <ng-container *ngIf="node.children && node.children.length > 1">
                <ng-template ngFor let-child [ngForOf]="node.children" let-first="first" let-last="last">
                    <td class="p-organizationchart-line-left" [ngClass]="{'p-organizationchart-line-top':!first}">&nbsp;</td>
                    <td class="p-organizationchart-line-right" [ngClass]="{'p-organizationchart-line-top':!last}">&nbsp;</td>
                </ng-template>
            </ng-container>
        </tr>
        <tr [ngClass]="!leaf&&node.expanded ? 'p-organizationchart-node-visible' : 'p-organizationchart-node-hidden'" class="p-organizationchart-nodes" [@childState]="'in'">
            <td *ngFor="let child of node.children" colspan="2">
                <table class="p-organizationchart-table" pOrganizationChartNode [node]="child"></table>
            </td>
        </tr>
    </tbody>
    