.attachment {
    color: white;
    background: black;
    cursor: pointer;
    position: absolute;
    top: 8px;
    border-radius: 100%;
    border: 1px solid black;
    font-size: 1px;
    padding: 3px;
}

.border {
    border: 2px solid black;
    margin: 1rem 0;
    padding: 0.25rem;
    cursor: pointer;
}

.drop {
    border: 3px solid #585570;
    padding: 1rem;
    margin: 1rem 0;
    border-color: #585570;
}
:host ::ng-deep .p-organizationchart {
    .StylePattern {
        padding: 0;
        border: 0 none;
        background-color: rgb(108, 212, 219) 
    }
    .StylePattern1 {
        padding: 0;
        border: 0 none;
        background-color: rgb(245, 148, 172) 
    }
    .StylePattern2 {
        padding: 0;
        border: 0 none;
        background-color: rgb(212, 218, 211) 
    }
   

}

.delete-org-bttn {
    color: white;
    background: rgb(235, 57, 57);
    cursor: pointer;
    position: absolute;
    right: -9px;
    top: -11px;
    border-radius: 100%;
    border: 1px solid white;
    font-size: 1px;
    padding: 3px;
}

.edit-org-bttn {
    color: #fff;
    background: green;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: -11px;
    border-radius: 100%;
    border: 1px solid #fff;
    font-size: 1px;
    padding: 3px;
}

.tooltip.tooltip-top {
    z-index: 100000;
}

.viewFCA-org-bttn {
    color: white;
    background: black;
    cursor: pointer;
    position: absolute;
    margin-left:7px;
    right: 1px;
    top: -11px;
    border-radius: 100%;
    padding: 2px;

}

.editFCA-org-bttn {
    color: #fff;
    background: green;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: -14px;
    border-radius: 100%;
    border: 1px solid #fff;
    font-size: 1px;
    padding:3px;

}


.editMSS-org-bttn {
    color: #fff;
    background: green;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: -14px;
    border-radius: 100%;
    border: 1px solid #fff;
    font-size: 1px;
    padding: 3px;
}
.mssbtn{
    margin: 20px;
}
.node-content {
    text-align: center;
    border: 1px solid #495ebb;
    padding: 12px;
    width: 156px;
    resize: both;
    overflow: auto;
    height:60px
}
