
  .border {
    border:2px solid black;
    margin: 1rem 0;
    padding: 0.25rem;
    cursor: pointer; 
   
  }
  .drop {
    border: 3px solid #585570;
     padding: 1rem;
     margin: 1rem 0;
     border-color: #585570;
  }

:host ::ng-deep .p-organizationchart {
    .p-person {
        padding: 0;
        border: 0 none;
    }

    .node-header, .node-content {
        padding: .5em .7rem; ;
        // display: inline-block;
        // border: 1px solid #000000;
        // width: 100px;
        // height: 35px;
        // -webkit-line-clamp: 2;
        // display: -webkit-box;
        // line-height: 1.31;
        // -webkit-box-orient: horizontal;
        // overflow: hidden;
        // text-overflow: ellipsis;
        
       
      
        
    }
    .node-content:hover{
        overflow: visible;
    }
   
    .node-header {
        background-color: #495ebb;
        color: #ffffff;
     
    }

    .node-content {
        text-align: center;
        border: 1px solid #495ebb;
       
      
        
    }

    .node-content img {
        border-radius: 50%;
    }

    .department-cfo {
        background-color: #7247bc;
        color: #ffffff;

    }

    .department-coo {
        background-color: #a534b6;
        color: #ffffff;
    }

    .department-cto {
        background-color: #e9286f;
        color: #ffffff;
    }
    // .a{
    //     white-space: nowrap; 
    //     width: 100px; 
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    // }
    // .a:hover{
    //     overflow: visible;
    // }
  

}

