<p-toast position="top-center"></p-toast>

<div *ngIf="prescriptiveSteps"  style="margin: 40px;" class="card shadow">
<p-toast></p-toast>
<div style="margin: 20px;">   
<p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>
</div>
</div>
<div *ngIf="prescriptiveFuntion" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Function
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter Function information
        </ng-template>
    <ng-template pTemplate="content">
        <div class="p-fluid">
        <p>
            To supply  &ensp;
            <input type="text" style="border-width: none;" [ngModelOptions]="{standalone: true}" [(ngModel)]="FunctionFluidType" placeholder="e.g thermal fluid" >m<sup>3</sup>/h flow with rated head
            &ensp;
            <input type="text" style="border-width: none;" [ngModelOptions]="{standalone: true}" [(ngModel)]="FunctionRatedHead"placeholder="e.g xxx" >
            m (within -10% variation) continuously for a period of &ensp;<br>
            &ensp;<br >
            <input type="text" style="border-width: none;"[ngModelOptions]="{standalone: true}" [(ngModel)]="FunctionPeriodType" placeholder="e.g  60 days" > at a stretch, with equipemt operating within recommended parameters. 
        </p>           
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div>
        <button label="Next" type="button" class="btn btn-dark" (click)="FunctionNext()" >Next</button>
        </div>
    </ng-template>
    </p-card>
</div>


<div *ngIf="prescriptiveFunctionFailure" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
    <ng-template pTemplate="title">
        Function Failure
    </ng-template>
    <ng-template pTemplate="subtitle">
        Choose your Function Failure
    </ng-template>
    <ng-template pTemplate="content">
        <div class="p-fluid p-formgrid p-grid">
                <div class="container">
                    <div *ngFor="let fun of functionfailure" class="border" pDraggable="fun" (onDragStart)="dragStart($event,fun)"
                    (onDragEnd)="dragEnd($event)">
                    {{fun.Description}}
                </div>
                <div class="drop" pDroppable="fun" (onDrop)="drop($event)">
                    <div *ngFor="let c of dropedFailure">{{c?.Description}}</div>
            
                </div>
                <small class="form-text text-muted">Drag and Drop here, from above List or you can type below</small> <br>

                <div> 
                    <input type="text" class="form-control" [(ngModel)]="functionFailuerInput" (change)="FunctionFailuerInput($event)" placeholder="Type Function Failure">
                </div>
                </div>
            
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button label="Back" type="button" class="btn btn-dark"style="margin-left: 70px" (click)="FunctionFailureBack()">Back</button>
        <button label="Next" type="button" class="btn btn-dark" style="float: right; margin-right: 70px" (click)="FunctionFailureNext()" >Next</button>

</ng-template>
</p-card>
</div>

    <div *ngIf="prescriptiveFailureMode" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
    <ng-template pTemplate="title">
        Failure Mode
    </ng-template>
    <ng-template pTemplate="subtitle">
        Choose your Failure Mode
    </ng-template>
    <ng-template pTemplate="content">
        <div class="p-fluid p-formgrid p-grid">
                <div class="container">
                    <div *ngFor="let func of failuerMode" class="border" pDraggable="func" (onDragStart)="dragStart1($event,func)"
                    (onDragEnd)="dragEnd1($event)">
                    {{func.Description}}
                </div>
                <div class="drop" pDroppable="func" (onDrop)="drop1($event)">
                    <div *ngFor="let c of dropedMode" > {{c?.Description}} 
                     </div>
                    
                   <!-- / <button style="float: right;" type="button" class="btn btn-dark btn-sm" style="margin-left: 700px" (click)="FailureModeDropped(c?.id)">Clear</button> -->
             
                </div>
                <small class="form-text text-muted">Drag and Drop here, from above List or you can type below</small><br><br>

                <div> 
                    <input type="text" class="form-control" [(ngModel)]="failuerModeInput" (change)="FailuerModeInput($event)" placeholder="Type Failure Mode">
                  </div>
           
                </div>
        </div>
    </ng-template> 
            
    <ng-template pTemplate="footer">
    
        <button label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="FailureModeBack()">Back</button>
        <button label="Next" type="button" class="btn btn-dark" style="float: right; margin-right: 70px" (click)="FailureModeNext()">Next</button>
    </ng-template>
    </p-card>
    </div>

    <div *ngIf="prescriptiveEffect" style="margin: 40px;" class="stepsdemo-content shadow">
        <p-card>
            <ng-template pTemplate="title">
                Failure Mode Effects
            </ng-template>
            <ng-template pTemplate="subtitle">
                Enter Failure Mode Effects
            </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
            <div> 
                <label>Local Effect</label>
                <input type="text" class="form-control" [(ngModel)]="failuerModeLocalEffects"  placeholder="Type Local Effect">
              </div>
              <div> 
                <label>System Effect</label>
                <input type="text" class="form-control" [(ngModel)]="failuerModeSystemEffects" placeholder="Type System Effect">
              </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            
            <button label="Next" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="FailuerEffectBack()">Back</button>
            <button label="Next" type="button" class="btn btn-dark" style="float: right; margin-right: 70px" (click)="FailureEffectNext()">Next</button>
    
        </ng-template>
        </p-card>
    </div>



    <div *ngIf="prescriptiveTree" style="margin: 20px;"class="row" >
   <p-card>   
    <button  label="Back" type="button" class="btn btn-dark" style="margin-left: 70px" (click)="treeBack()">Back</button>   
      
    <button  *ngIf="prescriptiveTreeUpdateEnable" label="Back"  type="button" class="btn btn-dark" style="margin-left: 70px" data-toggle="modal" data-target="#treeModal"  >Update</button> <br><br> 
    
    <p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
    styleClass="company"> 
    <ng-template let-node pTemplate="person">
        <div class="node-header p-corner-top"  >{{node.label}}</div>
        <div class="node-content">
            <div class = "a">{{node.data.name}}</div>
        </div>
    </ng-template>
        <ng-template let-node pTemplate="department">
        {{node.label}}
        </ng-template>
    </p-organizationChart> 
    </p-card>
    </div>



    <div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tree Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to Update the tree 
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="TreeUpdate()">Save changes</button>
      </div>
    </div>
  </div>
</div>