<!-- <p-toast position="top-center"></p-toast> -->
<div id="BackToNext" class="col-md-12" style ="overflow: scroll;" >
    <p-card>
        <button *ngIf="prescriptiveTreeNextEnable" label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="treeNext()"><i class="pi pi-arrow-right"></i></button> <br><br>
        <button *ngIf="SaveConcequencesEnable" label="Save Concequences" type="button" class="btn btn-dark" style="margin-left: 30px" data-toggle="modal" data-target="#ConsequenceSubmitModal">Save Consequences</button><br><br>

        <p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div class="a">{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </p-card>
</div>

<!--    Consequences -->

<div id="ScrollUpdateTree2" *ngIf="Consequences1" style="margin: 40px;" class="stepsdemo-content shadow" style ="overflow: scroll;">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p> Will the Occurrence of the failure mode ( on its own) be evident to operational staff during normal operation of the plant?</p>
                </div>
                <div class="container">
                    <div *ngFor="let con1 of draggedConsequencesYesNO" class="border" pDraggable="con1" (onDragStart)="dragStartC1($event,con1)" (onDragEnd)="dragEndC1($event)">
                        {{con1}}
                    </div>
                    <div class="drop" pDroppable="con1" (onDrop)="dropC1($event)">
                        <div *ngFor="let c of dropedConsequenceFailureMode">{{c}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List</small> <br>

                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button label="Next" type="button" class="btn btn-dark" (click)="Consequence1Next()"><i class="pi pi-arrow-right"></i></button>
        </ng-template>
    </p-card>
</div>



<div *ngIf="Consequences2" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p> Does the effect of the failure mode(or the secondary effect resulting from the failuer) have direct adverse effect on operational safety or the environment?</p>
                </div>
                <div class="container">
                    <div *ngFor="let con2 of draggedConsequencesYesNO" class="border" pDraggable="con2" (onDragStart)="dragStartC2($event,con2)" (onDragEnd)="dragEndC2($event)">
                        {{con2}}
                    </div>
                    <div class="drop" pDroppable="con2" (onDrop)="dropC2($event)">
                        <div *ngFor="let c of dropedConsequenceEffectFailureMode">{{c}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List</small> <br>

                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button label="Back" type="button" class="btn btn-dark" (click)="Consequence2Back()"><i class="pi pi-arrow-left"></i></button>
            <button label="Next" type="button" class="btn btn-dark" style="float: right;" (click)="Consequence2Next()"><i class="pi pi-arrow-right"></i></button>

        </ng-template>
    </p-card>
</div>

<div *ngIf="Consequences3" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p>Does the combination of the failure mode and one additonal failure or event result in an adverse effect safety of the environment? </p>
                </div>
                <div class="container">
                    <div *ngFor="let con3 of draggedConsequencesYesNO" class="border" pDraggable="con3" (onDragStart)="dragStartC3($event,con3)" (onDragEnd)="dragEndC3($event)">
                        {{con3}}
                    </div>
                    <div class="drop" pDroppable="con3" (onDrop)="dropC3($event)">
                        <div *ngFor="let c of dropedConsequenceCombinationFailureMode">{{c}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List </small> <br>

                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button label="Back" type="button" class="btn btn-dark" (click)="Consequence3Back()"><i class="pi pi-arrow-left"></i></button>
            <button label="Next" type="button" class="btn btn-dark" style="float: right; " (click)="Consequence3Next()"><i class="pi pi-arrow-right"></i></button>

        </ng-template>
    </p-card>
</div>

<div *ngIf="Consequences4" style="margin: 40px;" class="stepsdemo-content shadow">
    <p-card>
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div style="margin-left: 20px;" class="p-fluid">
                    <p>Does the Failure mode adversily affect operational capabilities of the plant? </p>
                </div>
                <div class="container">
                    <div *ngFor="let con4 of draggedConsequencesYesNO" class="border" pDraggable="con4" (onDragStart)="dragStartC4($event,con4)" (onDragEnd)="dragEndC4($event)">
                        {{con4}}
                    </div>
                    <div class="drop" pDroppable="con4" (onDrop)="dropC4($event)">
                        <div *ngFor="let c of dropedConsequenceAffectFailureMode">{{c}}</div>

                    </div>
                    <small class="form-text text-muted">Drag and Drop here, from above List or you can type below</small> <br>

                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button label="Next" type="button" class="btn btn-dark" style="float: right;" (click)="Consequence4Next()"><i class="pi pi-arrow-right"></i></button>

        </ng-template>
    </p-card>
</div>

<div *ngIf="ConsequencesTree" style="margin: 20px;" class="stepsdemo-content shadow">
    <p-card>
        <span>
            <small class="form-text text-muted"><h5> Your {{FMLSConsequenceName}} Tree </h5></small>
        </span>
        <button label="Back" type="button" class="btn btn-dark" (click)="ConsequenceTreeBack()"><i class="pi pi-arrow-left"></i></button> &nbsp; &nbsp;
        <button label="Back" type="button" class="btn btn-dark" (click)="ADDConsequence()"><i class="pi pi-plus"></i> Consequence</button> <br><br>
        <p-organizationChart [value]="ConsequenceNode" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div>{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </p-card>
</div>
<div class="modal fade" id="ConsequenceSubmitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save Consequence</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Are you sure you want to save the Consequence
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="SubmitConsequenceTree()">Save changes</button>
            </div>

        </div>
    </div>
</div>