<p-toast position="top-right"></p-toast>
<div id="BackToNext" class="col-md-12">
    <!-- <p-button (click)="showModalDialog()" icon="pi pi-plus" label="Add Consequence"></p-button> -->
    <button *ngIf="prescriptiveTreeNextEnable" label="Back" type="button" class="btn btn-primary"
        style="margin-left: 40px" (click)="treeNext()" pTooltip="Add Consequences" label="Add Consequence"
        tooltipPosition="top"><i class="pi pi-plus mr-2"></i>Add Consequence</button> <br><br>
    <button *ngIf="SaveConcequencesEnable" label="Save Concequences" type="button" class="btn btn-dark"
        style="margin-left: 30px" data-toggle="modal" data-target="#ConsequenceSubmitModal">Save
        Consequences</button><br><br>
</div>
<div class="col-md-12" style="overflow: auto;">
    <!-- <p-card> -->
    <p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode"
        (onNodeSelect)="onNodeSelect($event)" styleClass="company">
        <ng-template let-node pTemplate="person">
            <div class="node-header p-corner-top">{{node.label}}</div>
            <div class="node-content">
                <div class="a">{{node.data.name}}</div>
            </div>
        </ng-template>
        <ng-template let-node pTemplate="department">
            {{node.label}}
        </ng-template>
    </p-organizationChart>
    <!-- </p-card> -->
</div>

<!--    Consequences -->





<!-- <p-button (click)="showModalDialog()" icon="pi pi-plus" label="Add Consequence"></p-button> -->
<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" class="dpm-modal">

    <div *ngIf="StartConsequences" id="ScrollUpdateTree2">
        <ng-template pTemplate="title">
            Consequences for {{FMLSConsequenceName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            Choose your Consequences
        </ng-template>
        <p-card>
            <div *ngIf="Consequences1" class="p-fluid p-formgrid p-grid">
                <div class="p-field-checkbox">
                    <p>Will the Occurrence of the failure mode ( on its own) be evident to operational staff during
                        normal
                        operation of the
                        plant?</p>
                    <div class="dpm-radio d-inline-block" *ngFor="let con1 of draggedConsequencesYesNO; let i=index;">
                        <p-radioButton name="con" [(ngModel)]="RadioValue" value="{{con1}}" label={{con1}}
                            (onClick)="ConsequenceSelected(con1)"></p-radioButton>

                    </div>
                </div>

            </div>
            <div *ngIf="Consequences1">
                <button label="Next" type="button" class="btn btn-primary btn-small" (click)="Consequence1Next()">Next<i
                        class="pi pi-arrow-right ml-1"></i></button>
            </div>
            <div *ngIf="Consequences2" class="p-fluid p-formgrid p-grid">
                <div class="p-field-checkbox">
                    <p>Does the effect of the failure mode(or the secondary effect resulting from the failure have
                        direct
                        adverse effect on operational safety or the environment?</p>
                    <div class="dpm-radio d-inline-block" *ngFor="let con1 of draggedConsequencesYesNO; let i=index;">
                        <p-radioButton name="con" [(ngModel)]="RadioValue" value="{{con1}}" label={{con1}}
                            (onClick)="ConsequenceSelected(con1)"></p-radioButton>
                    </div>
                </div>

            </div>
            <div *ngIf="Consequences2">
                <button label="Back" type="button" class="btn btn-secondary-outline btn-sm"
                    (click)="Consequence2Back()"><i class="pi pi-arrow-left mr-1"></i>Previous</button>
                <button label="Next" type="button" class="btn btn-primary btn-sm" style="float: right;"
                    (click)="Consequence2Next()">Next<i class="pi pi-arrow-right ml-1"></i></button>

            </div>
            <div *ngIf="Consequences3" class="p-fluid p-formgrid p-grid">
                <div class="p-field-checkbox">
                    <p>Does the combination of the failure mode and one additonal failure or event result in an adverse
                        effect safety of the environment?</p>
                    <div class="dpm-radio d-inline-block" *ngFor="let con1 of draggedConsequencesYesNO; let i=index;">
                        <p-radioButton name="con" [(ngModel)]="RadioValue" value="{{con1}}" label={{con1}}
                            (onClick)="ConsequenceSelected(con1)"></p-radioButton>
                    </div>
                </div>
            </div>
            <div *ngIf="Consequences3">
                <button label="Back" type="button" class="btn btn-secondary-outline btn-sm"
                    (click)="Consequence3Back()"><i class="pi pi-arrow-left mr-1"></i>Previous</button>
                <button label="Next" type="button" class="btn btn-primary btn-sm" style="float: right; "
                    (click)="Consequence3Next()">Next<i class="pi pi-arrow-right ml-1"></i></button>

            </div>
            <div *ngIf="Consequences4" class="p-fluid p-formgrid p-grid">
                <div class="p-field-checkbox">
                    <p>Does the Failure mode adversily affect operational capabilities of the plant?</p>
                    <div class="dpm-radio d-inline-block" *ngFor="let con1 of draggedConsequencesYesNO; let i=index;">
                        <p-radioButton name="con" [(ngModel)]="RadioValue" value="{{con1}}" label={{con1}}
                            (onClick)="ConsequenceSelected(con1)"></p-radioButton>
                    </div>
                </div>


            </div>
            <div *ngIf="Consequences4">
                <a class="btn btn-white" style="border:none"> </a>
                <button label="Next" type="button" class="btn btn-primary btn-sm" style="float: right;"
                    (click)="Consequence4Next()">Next<i class="pi pi-arrow-right ml-1"></i></button>
            </div>
        </p-card>
    </div>
</p-dialog>

<p-dialog [(visible)]="ConsequencesTree" [modal]="true" [style]="{width: '90vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" class="dpm-modal" header="Your {{FMLSConsequenceName}} Tree">
    <div class="p-fluid p-formgrid p-grid">
        <p-organizationChart [value]="ConsequenceNode" selectionMode="single" [(selection)]="selectedNode"
            (onNodeSelect)="onNodeSelect($event)" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div>{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
        <div class="fixed-modal-footer">
        <button label="Back" type="button" class="btn btn-primary btn-sm" (click)="ADDConsequence()"><i class="pi pi-plus"></i>
            ADD</button>
            </div>
    </div>
</p-dialog>


<div class="modal fade" id="ConsequenceSubmitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save Consequence</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to save the Consequence
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="SubmitConsequenceTree()">Save changes</button>
            </div>

        </div>
    </div>
</div>