<p-toast position="top-right"></p-toast>
<div class="bg-white rounded">     
  <div class="table-responsive"> 
   <div style="padding:10px;">
    <div class="">
        <div class="td col-sm-2">
            <span *ngIf="notification" class="elementToFadeInAndOut">
                <i class="fas fa-check-circle {{notification.class}}"></i>
                {{notification.message}}
            </span>
        </div>
        <div class="row tbl-head">
            <div  style="text-align: left;" class="col-sm-2">Machine Type</div>
            <div style="text-align: left;" class="col-sm-2">Equipment Type</div>
            <div style="text-align: left;" class="col-sm-2">Fuction</div>
            <div style="text-align: left;" class="col-sm-2">Description</div>
            <div style="text-align: right;" class="col-sm-4">
                <button class="btn btn-white btn-sm" (click)="prescriptiveLookUpForm()">
                        <i class="fa fa-plus mr-2"></i>Record
                </button>
            </div>           
        </div>
        
    </div>
    <div class="w-100">
        <form class="w-100" [formGroup]="fg" *ngFor="let fg of prescriptiveLookUpForms.controls ; let i=index;" (submit)="recordSubmit(fg)">
                <div class="td">
                    <select class="form-control" (change)="SelectMachineType(fg,i)" formControlName="machineType">
                        <option>Pump</option> 
                        <option>Compressor</option>
                    </select>
                </div>
                
            <div *ngIf="fg.value.machineType != 'Pump'" class="td">
                <select class="form-control"  formControlName="equipmentType">
                    <option ng-disabled="Pump">Screw Compressor</option> 
                    <option disabled>Compressor 2</option>  
                </select>
            </div>
            <div *ngIf="fg.value.machineType == 'Pump'"  class="td">
                <select class="form-control" formControlName="equipmentType">
                    <option>Centrifugal Pump</option> 
                    <option disabled>Pump 2</option>
                </select>
            </div>
            
            <div class="td col-sm-2">
                <select class="form-control" formControlName="function">
                        <option value="Function Failure">Function Failure</option> 
                        <option value="Function Mode">Failure Mode</option>
                        <option value="Heat Exchanger">Heat Exchanger</option>
                </select>
            </div>
            <div class="td col-sm-2">
                <input class="form-control" formControlName="description">
            </div>


            <div class="td col-sm-2">
                <button type="submit" class="btn btn-primary btn-sm text-white" [disabled]="fg.invalid" [ngClass]="(fg.get('prescriptiveLookupMasterId').value==0)?'btn btn-outline-primary':'btn-outline-dark'">
                    <i class="far fa-save"></i>
                        {{fg.get('prescriptiveLookupMasterId').value==0?'Submit':'Update'}}
                    </button>
                <button class="btn btn-danger btn-sm ml-1" (click)="onDelete(fg.get('prescriptiveLookupMasterId').value,i)">
                        <i class="far fa-trash-alt fa-sm text-white"></i>
                    </button>
            </div>
        </form>
    </div>
</div> 
</div>
</div>


  