<ng-template [ngIf]="node">
    <li *ngIf="tree.droppableNodes" class="p-treenode-droppoint" [ngClass]="{'p-treenode-droppoint-active':draghoverPrev}" (drop)="onDropPoint($event,-1)" (dragover)="onDropPointDragOver($event)" (dragenter)="onDropPointDragEnter($event,-1)" (dragleave)="onDropPointDragLeave($event)"></li>
    <li *ngIf="!tree.horizontal" [ngClass]="['p-treenode',node.styleClass||'', isLeaf() ? 'p-treenode-leaf': '']">
        <div class="p-treenode-content" [style.paddingLeft]="(level * indentation)  + 'rem'" (click)="onNodeClick($event)" (contextmenu)="onNodeRightClick($event)" (touchend)="onNodeTouchEnd()" (drop)="onDropNode($event)" (dragover)="onDropNodeDragOver($event)"
            (dragenter)="onDropNodeDragEnter($event)" (dragleave)="onDropNodeDragLeave($event)" [draggable]="tree.draggableNodes" (dragstart)="onDragStart($event)" (dragend)="onDragStop($event)" [attr.tabindex]="0" [ngClass]="{'p-treenode-selectable':tree.selectionMode && node.selectable !== false,'p-treenode-dragover':draghoverNode, 'p-highlight':isSelected()}"
            role="treeitem" (keydown)="onKeyDown($event)" [attr.aria-posinset]="this.index + 1" [attr.aria-expanded]="this.node.expanded" [attr.aria-selected]="isSelected()" [attr.aria-label]="node.label">
            <button type="button" class="p-tree-toggler p-link" (click)="toggle($event)" pRipple tabindex="-1">
                <span class="p-tree-toggler-icon pi pi-fw" [ngClass]="{'pi-chevron-right':!node.expanded,'pi-chevron-down':node.expanded}"></span>
            </button>
            <div class="p-checkbox p-component" [ngClass]="{'p-checkbox-disabled': node.selectable === false}" *ngIf="tree.selectionMode == 'checkbox'" [attr.aria-checked]="isSelected()">
                <div class="p-checkbox-box" [ngClass]="{'p-highlight': isSelected(), 'p-indeterminate': node.partialSelected}">
                    <span class="p-checkbox-icon pi" [ngClass]="{'pi-check':isSelected(),'pi-minus':node.partialSelected}"></span>
                </div>
            </div>
            <span [class]="getIcon()" *ngIf="node.icon||node.expandedIcon||node.collapsedIcon"></span>
            <span class="p-treenode-label">
                    <span *ngIf="!tree.getTemplateForNode(node)">{{node.label}}</span>
            <span *ngIf="tree.getTemplateForNode(node)">
                        <ng-container *ngTemplateOutlet="tree.getTemplateForNode(node); context: {$implicit: node}"></ng-container>
                    </span>
            <div *ngIf="showOverlay" style="
                        position: relative;
                        width: 35em;
                        border: none;
                        border-radius: 0.3em;
                        background-color: #fff;
                        box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 15%);
                        padding: 10px;">
                <a (click)="close(node)" style="position: absolute;
                                            right: 2px;
                                            top: 0;
                                            color: red;">
                    <i class="pi pi-times-circle"></i>
                </a>&nbsp;&nbsp;
                <a (click)="downloadURI()" style="position: absolute;
                                            right: 28px;
                                            top: 0;
                                            color: blue;">
                    <i class="pi pi-download"></i>
                </a>
                <div class="text-center">
                    <label for="file" class="custom-label">Uploaded File</label>
                    <div *ngIf="PdfEnable" style="margin: 10px;" id="file">
                        <iframe [src]="FileSafeUrl" width="500" height="300"> </iframe>
                    </div>
                    <div *ngIf="ImageEnable" style="margin: 10px;" id="file">
                        <img [src]="FileSafeUrl" width="500" height="300">
                    </div>
                </div>
                <div class="text-center" style="margin-bottom: 10px;">
                    <label for="remark" class="custom-label">Remark</label>
                    <div *ngIf="Remark !== ''" id="remark">
                        <textarea class="custom-textarea" cols="60" rows="4">{{Remark}}</textarea>
                    </div>
                </div>
            </div>
            <button *ngIf="!!node.edit" title="View Attachments" type="button" style="margin-left:10px; margin-top: 10px;" class="btn btn-secondary btn-sm" (click)="NodeSelection(node);"><i class="pi pi-eye"></i></button>

            </span>

        </div>
        <ul class="p-treenode-children" style="display: none;" *ngIf="!tree.virtualScroll && node.children && node.expanded" [style.display]="node.expanded ? 'block' : 'none'" role="group">
            <p-treeNode *ngFor="let childNode of node.children;let firstChild=first;let lastChild=last; let index=index; trackBy: tree.trackBy" [node]="childNode" [parentNode]="node" [firstChild]="firstChild" [lastChild]="lastChild" [index]="index" [style.height.px]="tree.virtualNodeHeight"
                [level]="level + 1"></p-treeNode>
        </ul>
    </li>
    <li *ngIf="tree.droppableNodes&&lastChild" class="p-treenode-droppoint" [ngClass]="{'p-treenode-droppoint-active':draghoverNext}" (drop)="onDropPoint($event,1)" (dragover)="onDropPointDragOver($event)" (dragenter)="onDropPointDragEnter($event,1)" (dragleave)="onDropPointDragLeave($event)"></li>
    <table *ngIf="tree.horizontal" [class]="node.styleClass">
        <tbody>
            <tr>
                <td class="p-treenode-connector" *ngIf="!root">
                    <table class="p-treenode-connector-table">
                        <tbody>
                            <tr>
                                <td [ngClass]="{'p-treenode-connector-line':!firstChild}"></td>
                            </tr>
                            <tr>
                                <td [ngClass]="{'p-treenode-connector-line':!lastChild}"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="p-treenode" [ngClass]="{'p-treenode-collapsed':!node.expanded}">
                    <div class="p-treenode-content" tabindex="0" [ngClass]="{'p-treenode-selectable':tree.selectionMode,'p-highlight':isSelected()}" (click)="onNodeClick($event)" (contextmenu)="onNodeRightClick($event)" (touchend)="onNodeTouchEnd()" (keydown)="onNodeKeydown($event)"
                        style="position: relative;">
                        <ng-container *ngIf="!node.addTree">
                            <span class="p-tree-toggler pi pi-fw" [ngClass]="{'pi-plus':!node.expanded,'pi-minus':node.expanded}" *ngIf="!isLeaf()" (click)="toggle($event)"></span>
                        </ng-container>
                        <span [class]="getIcon()" *ngIf="node.icon||node.expandedIcon||node.collapsedIcon"></span>
                        <span class="p-treenode-label">
                            <span *ngIf="!tree.getTemplateForNode(node)">
                              <textarea [disabled]="node.disable" class="form-control custom-textarea" [(ngModel)]="node.label" cols="20" rows="2"></textarea>
                            </span>
                        <span *ngIf="tree.getTemplateForNode(node)">
                                <ng-container *ngTemplateOutlet="tree.getTemplateForNode(node); context: {$implicit: node}"></ng-container>
                            </span>
                        </span>
                        <ng-container *ngIf="node.deleteTree">
                            <span class="p-tree-toggler pi pi-fw pi-times-circle" style="
                            position: absolute;
                            color: red; 
                            right: 10px;
                            top: -9px;" data-toggle="tooltip" data-placement="right" title="Delete Node" (click)="deleteTreeRow($event,node)"></span>
                        </ng-container>
                        <ng-container *ngIf="node.addTree">
                            <span class="p-tree-toggler pi pi-fw pi-plus" data-toggle="tooltip" data-placement="right" title="Add Node" (click)="addTreeRow($event,node)" style="margin-right: 0;"></span>
                        </ng-container>
                        <ng-container *ngIf="node.RCAFILE =='' && node.isParent == undefined">
                            <span class="p-tree-toggler pi pi-angle-double-right" style="
                            position: absolute;
                            color: black; 
                            right: -18px;
                            top: -9px;" data-toggle="tooltip" data-placement="right" title="Add attachment to node" (click)="AttachmentNodeSelected()" (click)="rCAAttachment($event,node)"></span>
                        </ng-container>
                        <ng-container *ngIf="node.RCAFILE != '' && node.isParent == undefined">
                            <span class="p-tree-toggler fa fa-eye" style="
                            position: absolute;
                            color: rgb(150, 150, 247); 
                            right: -18px;
                            top: -9px;" data-toggle="tooltip" data-placement="right" title="View Attachment" (click)="showRCAAttachment($event,node)"></span>
                        </ng-container>
                        <ng-container *ngIf="node.isParent == 'Yes' ">
                            <span class="p-tree-toggler pi pi-angle-double-right" style="
                            position: absolute;
                            color: black; 
                            right: 10px;
                            top: -9px;" data-toggle="tooltip" data-placement="right" title="Add Operational and Design Details to Problem Statement" (click)="parentNodeADDData($event,node)" style="margin-right: 0;"></span>
                        </ng-container>
                        
                    </div>
                </td>
               
                    <div *ngIf="AttachmentOverlay" style="
                                    position: relative;
                                    width: 20em;
                                    border: none;
                                    border-radius: 0.3em;
                                    background-color: #fff;
                                    box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 15%);
                                    padding: 10px;">
                            <a (click)="AttachmentOverlayClose(node)" style="position: absolute;
                                                        right: 2px;
                                                        top: 0;
                                                        color: red;">
                                <i class="pi pi-times-circle"></i>
                            </a>&nbsp;&nbsp;
                            <p-overlayPanel>
                                    <div style="margin-left:2px;" class="row">
                                        <label>Add Evidence</label>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="uploadAttachments">Upload</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" accept="image/x-png,image/jpeg,.pdf," (change)="uploadRCAAttachment($event)" class="custom-file-input" id="uploadAttachments" aria-describedby="uploadAttachments">
                                            <label class="custom-file-label" *ngIf="RCAAttacmentUpladName == ''" for="inputGroupFile01">Attachment</label>
                                            <label class="custom-file-label" *ngIf="RCAAttacmentUpladName != ''" for="inputGroupFile01">{{RCAAttacmentUpladName}}</label>
                                        </div>
                                    </div>
                               
                            </p-overlayPanel>
                            
                    </div>
                   
                   <div *ngIf="RCAFileView" style="
                            position: absolute;
                            z-index: 1;
                            width: 15em;
                            border: none;
                            border-radius: 0.3em;
                            background-color: #fff;
                            box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 15%);
                            padding: 10px;">
                    <a (click)="closeRCAFileView(node)" style="position: absolute;
                                                right: 2px;
                                                top: 0;
                                                color: red;">
                          <i class="pi pi-times-circle"></i>
                    </a>&nbsp;&nbsp;
                    <a (click)="downloadURI()" style="position: absolute;
                                                right: 28px;
                                                top: 0;
                                                color: blue;">
                        <i class="pi pi-download"></i>
                    </a>
                    <div class="text-center">
                        <h5 *ngIf="node.addTree" style="font-size: 1em; font-weight: revert;">To update attachment <button (click)="RCAUpdateNodeAttachment(node)" class="btn btn-link">click here</button></h5>
                    </div>
                    <div class="text-center">
                        <label for="file" class="custom-label" style="font-size: 1em;
                        font-weight: revert;
                        border-bottom: 2px solid;
                        margin: 0px;">Uploaded File</label>
                        <div *ngIf="RCAPdfViewEnable" style="margin: 10px;" id="file">
                            <iframe [src]="RCAFileSafeUrl" width="200" height="200"> </iframe>
                        </div>
                        <div *ngIf="RCAImageViewEnable" style="margin: 10px;" id="file">
                            <img [src]="RCAFileSafeUrl" width="200" height="200">
                     </div>
                    </div>
                   </div>


                   <div *ngIf="RCAParentAttachment" style="
                            position: relative;
                            width: 35em;
                            border: none;
                            border-radius: 0.3em;
                            background-color: #fff;
                            box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 15%);
                            padding: 10px;">

                            <a (click)="closeRCAParrentView(node)" style="position: absolute;
                            right: 2px;
                            top: 0;
                            color: red;">
                            <i class="pi pi-times-circle"></i>
                            </a>&nbsp;&nbsp;

                            <div style="margin-left: 10px;">
                                <div class="row">
                                    <label>Operation Details</label>
                                </div>
                                <div class="row">
                                    <textarea  [disabled]="node.disable" placeholder="Enter operation details" (change)="AddRCAOperationalDesignData(node)" [(ngModel)]="RCAParentOperationalData" class="form-control custom-textarea"></textarea>
                                </div>
                            </div>
                            <div style="margin-left: 10px;">
                                <div class="row">
                                    <label>Design Details</label>
                                </div>
                                <div class="row">
                                    <textarea [disabled]="node.disable" placeholder="Enter design details"  (change)="AddRCAOperationalDesignData(node)" [(ngModel)]="RCAParentDesignData" class="form-control custom-textarea"></textarea>
                                </div>
                            </div>
                    
                   </div>
                
                <td class="p-treenode-children-container" *ngIf="node.children && node.expanded" [style.display]="node.expanded ? 'table-cell' : 'none'">
                    <div class="p-treenode-children">
                        <p-treeNode *ngFor="let childNode of node.children;let firstChild=first;let lastChild=last; trackBy: tree.trackBy" [node]="childNode" [firstChild]="firstChild" [lastChild]="lastChild"></p-treeNode>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>
<!-- <ng-template>
    <ng-container>
        <div *ngIf="AttachmentOverlay" style="
                        position: relative;
                        width: 35em;
                        border: none;
                        border-radius: 0.3em;
                        background-color: #fff;
                        box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 15%);
                        padding: 10px;">
                <a (click)="AttachmentOverlayClose(node)" style="position: absolute;
                                            right: 2px;
                                            top: 0;
                                            color: red;">
                    <i class="pi pi-times-circle"></i>
                </a>&nbsp;&nbsp;
                <p-overlayPanel>
                    <div style="margin-right: 2px;width: 40rem;">
                        <li>oooooooo</li>
                    </div>
                </p-overlayPanel>
                
            </div>
    </ng-container>
</ng-template> -->