
.chartWrapper {
    position: relative;
      overflow-x: scroll;
  }
  
  .chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
  }
  
  .chartAreaWrapper {
    width: 1500px;
  }
  