
.chartWrapper {
    position: relative;
      overflow-x: scroll;
  }
  
  .chartWrapper > canvas {
    position: absolute;
    width: 100%;
  }
  
  .chartAreaWrapper {
    width: 2000px;
  }

  // .dygraph-legend {
  //   left: 70px !important;
  //   background-color: transparent !important;
  // }
  .dygraph-label.dygraph-title {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: white;
  }

  .dygraph-axis-label.dygraph-axis-label-x {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: small;
  }
  
  .dygraph-axis-label.dygraph-axis-label-y {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: small;
  }
  
  .dygraph-legend {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: small !important;
    color: white;
    background: transparent !important;
    left: auto !important;
    right: 10px !important;
    width: auto !important;
    z-index: auto !important;
  }
  


 