.prescriptive body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #6200EA
}

.prescriptive .container {
    margin-top: 10px
}

.prescriptive .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.prescriptive .card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    background-color: #fff
}

.widget-subheading {
    color: #858a8e;
    font-size: 10px
}

.prescriptive .card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.prescriptive .card-header .header-icon {
    font-size: 1.65rem;
    margin-right: 0.625rem
}

.prescriptive .card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.prescriptive .btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap
}

.text-capitalize {
    text-transform: capitalize !important
}

.scroll-area-sm {
    height: 288px;
    overflow-x: hidden
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125)
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}

.todo-indicator {
    position: absolute;
    width: 4px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
    transition: opacity .2s
}

.bg-warning {
    background-color: #f7b924 !important
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center
}

.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s
}

.widget-content .widget-content-right {
    margin-left: auto
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.table thead th {
    vertical-align: bottom;
    padding-left: 1px;
    border-bottom: 2px solid #dee2e6;
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s
}

.btn-outline-success {
    color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    outline: none !important
}

.prescriptive .card-footer {
    background-color: #fff
}

.attachment {
    color: white;
    background: black;
    cursor: pointer;
    position: absolute;
    top: 8px;
    border-radius: 100%;
    border: 1px solid black;
    font-size: 1px;
    padding: 3px;
}

.border {
    border: 2px solid black;
    margin: 1rem 0;
    padding: 0.25rem;
    cursor: pointer;
}

.drop {
    border: 3px solid #585570;
    padding: 1rem;
    margin: 1rem 0;
    border-color: #585570;
}

:host ::ng-deep .p-organizationchart {
    .p-person {
        padding: 0;
        border: 0 none;
    }
    .p-person1 {
        padding: 0;
        border: 0 none;
        background-color: rgb(123, 201, 123)
    }
    .node-header,
    .node-content {
        padding: .5em .7rem;
    }
    .node-content:hover {
        overflow: visible;
    }
    .node-header {
        background-color: #495ebb;
        color: #ffffff;
    }
    .node-content {
        text-align: center;
        border: 1px solid #495ebb;
    }
    .node-content img {
        border-radius: 50%;
    }
    .department-cfo {
        background-color: #7247bc;
        color: #ffffff;
    }
    .department-coo {
        background-color: #a534b6;
        color: #ffffff;
    }
    .department-cto {
        background-color: #e9286f;
        color: #ffffff;
    }
}