<!-- <div class="card" style="margin: 15px;">
    <iframe width="1140" height="561.25"
        src="https://app.powerbi.com/reportEmbed?reportId=8229f0b7-523d-46d9-9a54-b53438061991&autoAuth=true&ctid=606acdf9-2783-4b1f-9afc-a0919c38927d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWUtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D"
        frameborder="0" allowFullScreen="true"></iframe>
</div> -->
<style>
    table thead th {
    border-top: none !important;
    background-color: #e4ebfd !important;
    color: #222!important;
    border-bottom: none !important;     
}
table tbody tr:nth-of-type(even) td {
    background-color: #f1f5ff !important;
    border: none !important;
}
table tbody tr:nth-of-type(odd) td {
    background-color: #fff !important;
    border: none !important;
}
.form-control, textarea.form-control{
    background-color: #fff !important;
}
    .blink_me {
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
</style>
<p-toast position="top-right"></p-toast>
<div class="row bg-white p-3 mt-3 w-100">
    <div class="form-group col-sm-4 mb-0">
        <h5>Please select a Dashboard !</h5>
        <select [(ngModel)]="dashboardshow" class="form-select" (change)="Dashboardshowcriteria()" class="form-control">
            <option value="Executor" selected>Executor</option>
            <option value="Management" selected>Management</option>
            <option value="Prescription" selected>Prescription</option>
        </select>
    </div>
</div>

<!-- <p-dialog header="Image" [(visible)]="displayBasic" [style]="{width: '90vw'}" [baseZIndex]="10000">
    <div class="card-body">
        <img style="margin-left: 100px;" class="img-fluid px-3 px-sm-4" src="/dist/DPM/assets/NEW_PNID_Image.png"
            alt="">
    </div>
</p-dialog> -->

<div *ngIf="ExecutorShow">
     <div class="row bg-white p-3 mt-3 w-100">
    <div class="form-group col-sm-4 mb-0">
        <select class="form-select" [ngModelOptions]="{standalone: true}" (change)="FuturePredictionDates()"
            [(ngModel)]="futurePredictionDate" class="form-control" name="FuturePrediction">
            <option value="">Forcast dates</option>
            <option *ngFor="let item of futurePredictionDatesToShow" [value]="item">{{item}}</option>
        </select>
    </div>
    </div>
    <div class="bg-white p-3 rounded mt-4">
        <div class="row d-flex flex-column justify-content-between align-items-center">
            <div class="col-md-12">
                <h5 class="mb-4"><b>Combination Of Prediction & Future Prediction</b></h5>
            </div>
        </div>
        <div class="flex-row d-flex justify-content-between align-items-center col-md-10">
            <div class="col-sm"></div>
            <div class="col-sm">
                <strong style="font-size: 12px;"><span
                        style="background-color: green;font-size: 12px;height: 15px; width: 15px; display: inline-block; border-radius: 100%; margin-right: 5px;"></span>Solid
                    line show Actual data </strong><br>
            </div>
            <div class="col-sm">
                <strong style="font-size: 12px;"><span
                        style="background-color: blue;font-size: 12px;height: 15px; width: 15px; display: inline-block; border-radius: 100%; margin-right: 5px;"></span>Dotted
                    line show Forecast data </strong><br>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="graph w-100" id="my-first-chart"></div>
            </div>
        </div>

    </div> 
   
    <div class="row bg-white p-3 mt-3">
        <div class="col-md-3">
                <select name="PredictionselectedYear" [(ngModel)]="selctedtagnymbers"
                    (ngModelChange)="onPredictionChangeYear()" class="form-control">
                    <option value="">Select Tag Number</option>
                    <ng-container *ngFor="let tagnumber of Predictyearlist">
                        <option [value]="tagnumber.PredictyTagnumber" name="PredictionselectedYear">
                            {{tagnumber.PredictyTagnumber}}</option>
                    </ng-container>
                </select>
        </div>
        <div class="col-md-3">
            <div class="w-100">
                <p-multiSelect defaultLabel="Select Year" [options]="Pyearlist"
                    [(ngModel)]="PredictionselectedYear1" (ngModelChange)="PredictFModeType()"
                    optionLabel="Predictyearname" optionValue="Predictyearname"></p-multiSelect>
            </div>
            </div>
        <div class="col-md-4">
            <h6>{{ ScrewPredictionAllData.length === 0 ? 'Selected year has no data present' : ''}}</h6>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-8">
            <div class="bg-white rounded p-3">
                <h5><strong>Asset Condition Status</strong></h5>
                <canvas id="PredictionbarWithYear"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-white rounded p-3 h-100">
                <h5><strong>Recommendation Status</strong></h5>
                <div *ngFor="let obj of allCBAdata;">
                    <strong class="alert alert-info mt-3 mb-2"><i class="pi pi-warning"></i>Recommendation Status
                        For:{{obj.MachineType}}, {{obj.EquipmentType}},{{selctedtagnymbers}}</strong><br>
                    <canvas id="PredictionActionPiechart" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <strong>Alert Acknowledgement</strong>
            <div class="alert alert-danger d-flex justify-content-between align-items-center p-3" *ngFor="let obj of allCBAdata;">
               
                <label class="mb-0"><i class="lnr lnr-warning  mr-2"></i>{{RecommendationAlertMessage}}, Tag
                    Number :<span class="badge badge-danger">{{obj.TagNumber}}</span></label><a *ngIf="RecommendationAlertEnable" class="btn btn-sm btn-danger"
                    href="#/Home/Prescriptive/RCA" target="_blank">Click
                    Here</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="bg-white rounded p-3 h-100">
            <h5>Tasks</h5>
            <div class="row">
                <div class="col-sm-3">
                    <select name="selctedtasktagno" [(ngModel)]="selctedtasktagno" (ngModelChange)="PredictTask()"
                        class="form-control">
                        <option value="">Select Tag Number</option>
                        <ng-container *ngFor="let tagnumber of Predictyearlist">
                            <option [value]="tagnumber.PredictyTagnumber" name="selctedtasktagno">
                                {{tagnumber.PredictyTagnumber}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select name="task" [(ngModel)]="task" (ngModelChange)="PredictTask()" class="form-control">
                        <option value="">Select Year</option>
                        <ng-container *ngFor="let year of Pyearlist">
                            <option [value]="year.Predictyearname" name="task">
                                {{year.Predictyearname}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="table-responsive-sm bg-white p-2 mb-4">
                <!-- <table class="table"> -->
                    <!-- <thead>
                        <tr>
                            <th>Status</th>
                            <th>Task </th>
                            <th>Indicators</th>
                        </tr>
                    </thead> -->
                    <table class="mt-4 w-100">
                        <tr *ngFor="let mode of FMList">
                            <td><span *ngIf="notification">
                                    <i class="fas fa-exclamation-circle {{notification.class}}"></i>
                                </span></td>
                            <td class="left strong">{{mode.FMname}}</td>
                            <td>
                                <div style="width: 55rem;">
                                    <canvas id="{{mode.chartID}}" height="12"></canvas>
                                </div>
                            </td>
                        </tr>
                    </table>
                <!-- </table> -->
            </div>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="AssociatedFailuerMode">
        <div class="bg-white p-3 mb-3">
            <div class="col-sm-12 p-0">
                <h5>Associated Failure Modes </h5>
                <div class="table-responsive-sm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Failure Mode</th>
                                <th>Tag Number</th>
                                <th>Equipment type</th>
                                <th>Machine type</th>
                                <th> ETBF </th>
                                <th>CR </th>
                                <th>Total PONC</th>
                                <th>Total Annual POC</th>
                                <th> ETBC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of allCBAdata">
                                <td>
                                    <div class="dpm-radio d-inline-block">
                                        <p-radioButton class="pulse-green1"  name="con" (onClick)="RadioValueselection()">
                                        </p-radioButton>
                                    </div>
                                </td>
                                <td>{{obj.FailureMode}}</td>
                                <td>{{obj.TagNumber}}</td>
                                <td>{{obj.EquipmentType}}</td>
                                <td>{{obj.MachineType}}</td>
                                <td>{{obj.ETBF}}</td>
                                <td>{{obj.EconomicRiskWithDPMCR}}</td>
                                <td>{{obj.TotalPONC}}</td>
                                <td>{{obj.TotalAnnualPOC}}</td>
                                <td>{{obj.OverallETBC}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="radioshowmittigation">
        <div class="bg-white p-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="h-auto bg-primary p-3">
                        <div class="d-flex">
                            <h5 class="mb-2"><strong>Risks</strong></h5>
                            <a class="pulse-green ml-2" (click)="riskclick()"><strong style="font-size: 12px;">
                                </strong></a>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div *ngFor="let obj of allCBAdata;">
                                    <span class="d-flex justify-content-between my-4"><span><i class="pi pi-check-circle mr-1"></i>Risk
                                            :</span><span>{{obj.MachineType}},
                                            {{obj.EquipmentType}}, {{obj.TagNumber}}</span> </span>
                                    <span class="d-flex justify-content-between my-3"><span><i class="pi pi-check-circle mr-1"></i>Failure
                                            Mode</span><span class="bg-white rounded p-1 d-inline text-primary">{{obj.FailureMode}}</span> </span>
                                    <span class="d-flex justify-content-between my-3"><span><i class="pi pi-check-circle mr-1"></i>Strategy Mitigated Risk Rank
                                            :</span>
                                        <span class="bg-white rounded p-1 d-inline text-primary">{{obj.EconomicRiskWithDPMCR}}</span> </span>
                                    <span class="d-flex justify-content-between my-3"> <span><i class="pi pi-check-circle mr-1"></i>Strategy Mitigated Financial Risk
                                            :</span>
                                        <span class="bg-white rounded p-1 d-inline text-primary">{{obj.EconomicRiskWithDPM}}</span> </span><br>
                                    <div class="mt-2">
                                        <canvas id="{{obj.rankgraphId}}" height="20"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="d-flex">
                    <h5><strong>Mitigating Actions</strong></h5>
                    <a class="blink_me" *ngIf="blinkmittigationclick" (click)="mittigatioclick()">
                        <strong style="font-size: 12px;"><span
                                class="pulse-green"></span>
                        </strong>
                    </a>
                    </div>
                    <tbody>
                        <div *ngFor="let obj of centrifugalmssmodelFilter;">
                            <div style=""><br>
                                <strong
                                    class="mb-3">{{obj.MSSIntervalSelectionCriteria}}
                                </strong><br>
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Maintenance Task</th>
                                            <th scope="col">Interval</th>
                                            <th scope="col">Craft</th>
                                            <th scope="col">Level</th>
                                            <th scope="col">Hours</th>
                                            <th scope="col">Annual POC</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of obj.centrifugalmssmodel;">
                                            <td scope="row">{{row.MSSMaintenanceTask}} </td>
                                            <td>{{row.MSSMaintenanceInterval}}</td>
                                            <td>{{row.Craft}}</td>
                                            <td>{{row.Level}}</td>
                                            <td>{{row.Hours}}</td>
                                            <td>{{row.AnnualPOC}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </div><br>
                    </tbody>
                </div>
            </div>
        </div>
    </div><br>


<div class="rounded bg-white shadow col-md-4 fixed-card">
    <div class="" style="" *ngIf="helpboxshow">
        <div class="card-body">
            <div class="scrollable-content">
            <div class="step-question" style="" id="pid">
                <strong style="color:#333;font-size: 14px">Asset strategy library</strong>
            </div>
            <div class="step-answer" style="">
                <p>
                    APM has a catalog of 600 common equipment categories, 37,000 failure modes, and 3400
                    actions to get
                    started
                    right away
                </p>
            </div>
            <div *ngIf="riskhelp" id="riskhelpid">
                <div class="step-question" style="">
                    <strong style="color:#333;font-size: 14px">Risk</strong>
                </div><br>
                <div class="step-answer" style="">
                    <p>
                        The Reliability Analyst can review the risks to understand why assets might fail.
                    </p>
                </div>
            </div><br>
            <div *ngIf="mittigationhelp" id="mittigationhelp">
                <div class="step-question" style="">
                    <strong style="color:#333;font-size: 14px">Mitigating Actions</strong>
                </div>
                <div class="step-answer" style="">
                    <p>
                        Each of the risks has different mitigation actions that have been recommended by
                        various experts.
                    </p>
                </div>
            </div>
            <div *ngIf="riskanalysishelp" id="riskanalysishelp">
                <div class="step-question" style="">
                    <strong style="color:#333;font-size: 14px">Risk Analysis</strong>
                </div>
                <div class="step-answer" style="">
                    <p>
                        The Reliability Analyst can do a What-If Analysis to see the impact of a mitigation
                        in the strategy.
                    </p>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <a (click)="Previous()" class="btn btn-primary btn-sm">Previous step</a>
            <a  style="float: right" (click)="helpbox()" class="btn btn-danger btn-sm">Got It</a>
        </div>
    </div>
</div>
</div>

<div *ngIf="showcbi" id="CBAnavigate">
    <div class="row mt-4" >
        <div class="col-md-6 pl-0" *ngIf="blinkprofilerisk">
            <div class="d-block h-100">
                <div class=" h-100">
                    <div class="bg-white rounded p-3 h-100">
                        <div class="d-flex">
                            <h5>Risk Analysis</h5>
                            <a class="blink_me" (click)="riskanalysclick()">
                                <strong style="font-size: 12px;"><span class="pulse-green"></span>
                                </strong>
                            </a>
                        </div>
                        <div *ngIf="profile_riskshow">
                            <canvas id="profile_risk" style="width: 100%;height: 22rem;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="bg-white p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-3"><b> Cost Benefit Risk Analysis</b> </h5>
                        <button class="btn btn-outline-dark btn-sm" (click)="RouteToCostBenifit()" data-toggle="tooltip"
                            data-placement="top" title="Go to Cost Benifit"><i class="fas fa-table "></i></button>
                    </div>
                    <div class="col-md-4 pl-0 mb-4">
                        <select [(ngModel)]="CBIGraphs" class="form-select" (change)="CBICharts()" class="form-control">
                            <option value="">All Graph.</option>
                            <option value="Ecomomic_Risk" selected>Ecomomic Risk Graph</option>
                            <!-- <option value="Residual_Risk" selected>Residual Risk Graph</option> -->
                            <option value="MEI" selected>MEI</option>
                        </select>
                    </div>
                    <div *ngIf="allCBI">
                        <div class="card border-0">
                            <canvas id="allGraphCBI"></canvas>
                        </div>
                    </div>
                    <div *ngIf="ecomomic_risk_Graph">
                        <div class="card border-0">
                            <strong>Ecomomic Risk Graph</strong>
                            <canvas id="ecomomic_risk"></canvas>
                        </div>
                    </div>
                    <div *ngIf="MEI_risk_Graph">
                        <div class="card border-0">
                            <strong>MEI Graph</strong>
                            <canvas id="mei_risk"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
   <div >
        <div class="bg-white p-3" >
            <div class="d-flex">
                <h5 class="mb-5"><strong>Asset Condition Status</strong></h5>
            </div>
            <div>
                <canvas id="FakePredictionbarWithTage"></canvas>
            </div>
        </div>
    </div><br>
</div>
<div *ngIf="PrescriptiveShow">
        <div class="bg-white p-3 mt-3 row d-flex flex-row">
            <div class="col-sm">
                <select [(ngModel)]="MachineType" class="form-select" (change)="MachineEquipmentSelect()"
                    class="form-control">
                    <option value="">Choose Machine Type</option>
                    <option value="Compressor" selected>Compressor</option>
                    <option value="Pump" selected>Pump</option>
                </select>
            </div>
            <div class="col-sm">
                <select [(ngModel)]="EquipmentType" class="form-select" (change)="MachineEquipmentSelect()"
                    class="form-control">
                    <option value="">Choose Equipment Type</option>
                    <option *ngFor="let EL of EquipmentList" [ngValue]="EL">{{EL}}</option>
                </select>
            </div>
            <div class="col-sm">
                <select class="form-select" [(ngModel)]="SelectedTagNumber" class="form-control">
                    <option value="">Choose Tag Number</option>
                    <option *ngFor="let TL of TagList" [ngValue]="TL">{{TL}}</option>
                </select>
            </div>
            <div class="col-sm-1">
                <div class="row">
                    <div class="col-sm">
                        <a class="btn btn-primary" (click)="assetSelection()">Done</a>
                    </div>
                </div>
            </div>
       </div><br>
    <div *ngIf="assetselection">
        <div class="bg-white p-3">
            <div class="col-sm-12 p-0">
                <h5>Asset Functional Description </h5>
                <div class="table-responsive-sm bg-white p-2 mb-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Reliability data</th>
                                <th>Asset criticality</th>
                                <th>Date of commissioning</th>
                                <th> Date of Last major repair </th>
                                <th> MTBF </th>
                                <th>MTTR </th>
                                <th> Availability required</th>
                                <th> Mission life</th>
                                <th> Expected Reliability</th>
                                <th> Reliability data (contd.)</th>
                                <th>RAV </th>
                                <th> Major maintenance cost</th>
                                <th>Data quality </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let obj of allCBAdata;">
                            <tr>
                                <td> 0.999500</td>
                                <td> {{obj.EconomicRiskWithDPMCR}}</td>
                                <td>06/11/2016</td>
                                <td>30/03/2017 </td>
                                <td>2.833213 </td>
                                <td> 1.037433</td>
                                <td>40 </td>
                                <td>Mission life </td>
                                <td>60</td>
                                <td>3.608018</td>
                                <td>RAV</td>
                                <td>25$</td>
                                <td>Good</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>

        <div class="bg-white p-3">
            <div class="col-sm-12 p-0">
                <h5>Health status</h5>
                <div class="row">
                    <div class="col-md-2">
                        <select name="PredictionselectedYear" [(ngModel)]="forststuspredictionyearlist"
                            (ngModelChange)="onPredictionChangeYear1()" class="form-control">
                            <option value="">Select Tag Number</option>
                            <ng-container *ngFor="let tagnumber of Predictyearlist">
                                <option [value]="tagnumber.PredictyTagnumber" name="PredictionselectedYear">
                                    {{tagnumber.PredictyTagnumber}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-select" [ngModelOptions]="{standalone: true}" (change)="PredictionDates()"
                            [(ngModel)]="PredictionDate" class="form-control" name="Prediction">
                            <option value="">Prediction</option>
                            <option *ngFor="let item of PredictionDatesToShow" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select [(ngModel)]="Forcaststatus" class="form-select" (change)="ForcaststatusChange()"
                            class="form-control">
                            <option value="">Forcast..</option>
                            <option value="1Week" selected>After 1 Week</option>
                            <option value="1Month" selected>After 1 Month</option>
                            <option value="3Month" selected>After 3 Month</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive-sm bg-white p-2 mb-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th rowspan="2">Health status</th>
                                <th rowspan="2">Current </th>
                                <th>Forecast</th>
                            </tr>
                            <tr>
                                <th>1W</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> N- Normal</td>
                                <td>{{Normalpercentage}}</td>
                                <td>{{forcastFinalNormal}}</td>


                            </tr>
                            <tr>
                                <td>I- Incipient</td>
                                <td>{{Incipientpercentage}}</td>
                                <td>{{forcastFinalIncipient}}</td>

                            </tr>
                            <tr>
                                <td> D- Degraded </td>
                                <td>{{Degradepercentage}}</td>
                                <td>{{forcastFinaldDegrade}}</td>
                            </tr>
                            <tr>
                                <td> Upper/ Lower confidence level</td>
                                <td>50</td>
                                <td>50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>

        <div class="bg-white p-3">
            <div class="col-sm-12 p-0">
                <h5>Alert management indicator</h5>
                <div class="table-responsive-sm bg-white p-2 mb-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Alert management indicator </th>
                                <th>Competency</th>
                                <th>Spares </th>
                                <th> Special Tools</th>
                                <th> Resources </th>
                                <th> LOPA </th>
                                <th> RCA recommendation</th>
                                <th> KPI </th>
                                <th>Task execution delay</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>GREEN / AMBER / RED</td>
                                <td><span *ngIf="notifications">
                                        <i class="fas fa-exclamation-circle {{notifications.class}}"></i>
                                    </span></td>
                                <td> <strong style="font-size: 12px;"><span
                                            style="background-color: green;font-size: 12px;height: 15px; width: 15px; display: inline-block; border-radius: 100%; margin-right: 5px;"></span>
                                    </strong></td>
                                <td> <strong style="font-size: 12px;"><span
                                            style="background-color: green;font-size: 12px;height: 15px; width: 15px; display: inline-block; border-radius: 100%; margin-right: 5px;"></span>
                                    </strong></td>
                                <td> <strong style="font-size: 12px;"><span
                                            style="background-color: green;font-size: 12px;height: 15px; width: 15px; display: inline-block; border-radius: 100%; margin-right: 5px;"></span>
                                    </strong></td>
                                <td> <strong style="font-size: 12px;"><span
                                            style="background-color: green;font-size: 12px;height: 15px; width: 15px; display: inline-block; border-radius: 100%; margin-right: 5px;"></span>
                                    </strong></td>
                                <td>{{RecommendationAlertMessage}}</td>
                                <td>- </td>
                                <td>-</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>

        <div class="bg-white p-3">
            <div class="col-sm-12 p-0">
                <h5>PONC/ETBF</h5>
                <div class="table-responsive-sm bg-white p-2 mb-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Maintenance strategy </th>
                                <th>POC</th>
                                <th>ETBC </th>
                                <th>MEI</th>
                                <th>RISK</th>
                                <th>ECONOMIC RISK </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of allCBAdata;">
                                <td> Current </td>
                                <td> - </td>
                                <td> {{obj.VendorETBC}}</td>
                                <td>{{obj.MEIWithoutDPM}} </td>
                                <td>{{obj.ResidualRiskWithOutDPM}}</td>
                                <td>{{obj.EconomicRiskWithOutDPM}}</td>
                            </tr>
                            <tr *ngFor="let obj of allCBAdata;">
                                <td> DPM w/o mitigating constraints </td>
                                <td> - </td>
                                <td> {{obj.VendorETBC}}</td>
                                <td>{{obj.MEIWithDPM}} </td>
                                <td>{{obj.ResidualRiskWithDPM}}</td>
                                <td>{{obj.EconomicRiskWithDPM}}</td>
                            </tr>
                            <tr *ngFor="let obj of allCBAdata;">
                                <td> DPM with constraint mitigation </td>
                                <td> - </td>
                                <td> {{obj.VendorETBC}}</td>
                                <td>{{obj.MEIWithDPMConstraint}} </td>
                                <td>{{obj.ResidualRiskWithConstraintDPMCR}}</td>
                                <td>-</td>
                                <!-- {{obj.EconomicRiskWithDPMConstraintCR}} -->
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>

        <div class="bg-white p-3">
            <div class="col-sm-12 p-0">
                <h5>Recommended Maintenance Prescription</h5>
                <div class="table-responsive-sm bg-white p-2 mb-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Reference of Task List </th>
                                <th>Task description</th>
                                <th>Frequency </th>
                                <th>Due date </th>
                                <th>Remarks</th>
                                <th>Crafts </th>
                                <th>Man-hour </th>
                                <th>Competency level </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let obj of centrifugalmssmodel;">
                                <td> Good engineering practices </td>
                                <td>{{obj.MSSMaintenanceTask}} </td>
                                <td>{{obj.MSSMaintenanceInterval}} </td>
                                <td></td>
                                <td> -</td>
                                <td>{{obj.Craft}} </td>
                                <td>{{obj.Hours}} </td>
                                <td>{{obj.Level}} </td>

                            </tr>
                            <tr *ngFor="let obj of MSSTaskList;">
                                <td>RCM recommendation</td>
                                <td>{{obj.MSSMaintenanceTask}} </td>
                                <td>{{obj.MSSMaintenanceInterval}} </td>
                                <td></td>
                                <td> -</td>
                                <td>{{obj.Craft}} </td>
                                <td>{{obj.Hours}} </td>
                                <td>{{obj.Level}} </td>
                            </tr>
                            <tr *ngFor="let obj of ConstraintTaskList;">
                                <td>Constraint management recommendationn</td>
                                <td>{{obj.MSSMaintenanceTask}} </td>
                                <td>{{obj.MSSMaintenanceInterval}} </td>
                                <td></td>
                                <td> -</td>
                                <td>{{obj.Craft}} </td>
                                <td>{{obj.Hours}} </td>
                                <td>{{obj.Level}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>
    </div>
</div>

<div *ngIf="ManagmentShow">
    <div class="row mt-4">
        <div class="col-md-12 pl-0">
            <div class="d-block h-100">
                <div class=" h-100">
                    <div class="bg-white rounded p-3 h-100">
                        <div class="row mt-4">
                            <div class="col-md-5 pl-0">
                                <strong>% OF EQUIPMENT WITH CRITICALITY ASSESSMENT</strong>
                            <canvas id="criticalityAssesmentgraph1"></canvas>
                            </div>
                            <div class="col-md-5 pl-0">
                                <strong>EQUIPMENT WITH NEW CRITICALITY ASSESSMENT</strong>
                                <a class="blink_me" (click)="showBasicDialog1()">
                                    <strong style="font-size: 12px;"><span class="pulse-green"></span>
                                    </strong>
                                </a>
                                <canvas id="NewCriticalitybarGraph" ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row mt-4">
        <div class="col-md-5 pl-0">
            <div class="d-block h-100">
                <div class=" h-100">
                    <div class="bg-white rounded p-3 h-100">
                        <div class="d-flex">
                            <strong>MITIGATED HEAT RISK MAP</strong>
                            <a class="blink_me" (click)="showBasicDialog()" data-bs-toggle="tooltip"
                                data-bs-placement="top" style="float: right" title="Image">
                                <strong style="font-size: 12px;"><span class="pulse-green"></span>
                                </strong>
                            </a>
                        </div>
                        <div>
                            <canvas id="Mittigatedheatriskmap"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rounded bg-white shadow col-md-4 fixed-card" *ngIf="Managmenthelpshow">
        <a style="float: right" (click)="alwaysshowbox()" class="btn btn-danger btn-sm"><i
                class="fas fa-comment-dots"></i></a>
    </div>
    <div class="rounded bg-white shadow col-md-4 fixed-card" *ngIf="Managmenthelpboxshow">
        <strong style="color: blue">Steps</strong>
        <div class="card-body">
            <div class="scrollable-content">
                <div>
                    <div class="shadow p-3 mb-5 bg-white " style="border-radius: 15px 50px 30px; padding:10px;">
                        <strong>
                            Predix Asset Performance Management connects the complex data sets found across
                            dozens of departments,
                            systems, and hundreds of thousands of assets,
                            displaying the information that is key to the health of your assets, and critical to
                            your business.
                        </strong>
                    </div>
                    <div class="shadow p-3 mb-5 bg-white " style="border-radius: 15px 50px 30px; padding:10px;">
                        <strong>
                            Instead of spending hours each day consolidating information from hundreds of
                            points,
                            APM provides a comprehensive overview in a single digital cockpit.
                        </strong>
                    </div>
                    <div class="shadow p-3 mb-5 bg-white " style="border-radius: 15px 50px 30px; padding:10px;">
                        <strong>
                            Using 6 configurable modules,
                            the APM personalized dashboard visualizes overall asset performance management
                            at a plant.
                        </strong>
                    </div>
                    <div>
                        <a style="float: right" (click)="Managmenthelpbox()" class="btn btn-danger btn-sm">Got It</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<p-dialog header="Graph" [(visible)]="displayBasic" [style]="{width: '70vw'}" [baseZIndex]="10000">
    <div class="card-body">
        <div style="text-align: center">
        <strong>Mitigated Risk Heat Map</strong>
        </div><br>
        <img style="margin-left: 100px;" class="img-fluid px-3 px-sm-4" src="/dist/DPM/assets/risk_matrixGraph.JPG"
            alt="">
    </div>
</p-dialog>

<p-dialog header="Graph" [(visible)]="displayBasic1" [style]="{width: '90vw'}" [baseZIndex]="10000">
    <div class="card-body">
        <div class="bg-white p-3">
            <div class="col-sm-12 p-0">
                <h5>CRITICALITY ASSESSMENT LIST</h5>
                <a class="blink_me"><i *ngIf="graphicalshow" class="fas fa-chart-line fa-2x"
                        style="color:black;float:right" (click)="GraphicalRepresntationSelectionselection()"></i></a>

                <button type="button" *ngIf="graphicalshow" (click)="exportToExcel()"
                   class="btn btn-outline-primary btn-sm"><i class="pi pi-download"></i></button>
                <a *ngIf="assetback"><i class="fas fa-undo" style="color:black" (click)="assetgraphback()"></i></a>

                <div class="table-responsive-sm bg-white p-2 mb-4" *ngIf="criticalityAssetListShow">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Asset</th>
                                <th>Original Criticality</th>
                                <th>New Criticality</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of acount;">
                                <td>{{obj.Asset}}</td>
                                <td>{{obj.Original_Criticality}}</td>
                                <td>{{obj.New_Criticality}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>
        <div *ngIf="graphOfChartDatashow">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row bg-white p-3 mt-3 w-100">
                        <div class="form-group col-sm-4 mb-0">
                            <select [(ngModel)]="Faketag" class="form-select" (change)="fakeTodate()" class="form-control">
                                <option value="">Tag Number.</option>
                                <option value="K101" selected>K101</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row bg-white p-3 mt-3 w-100">
                        <div class="form-group col-sm-4 mb-0">
                            <select [(ngModel)]="Fakefromdate" class="form-select" (change)="fakeTodate()" class="form-control">
                                <option value="">From Date.</option>
                                <option value="2016" selected>Previous Month</option>
                            </select>
                        </div>
                        </div>
                </div>
                <div class="col-sm-4">
                    <div class="row bg-white p-3 mt-3 w-100">
                        <div class="form-group col-sm-4 mb-0">
                            <select [(ngModel)]="FakeTodate" class="form-select" (change)="fakeTodate()" class="form-control">
                                <option value="">To Date.</option>
                                <option value="2020" selected>After one month</option>
                            </select>
                        </div>
                        </div>
                </div>
            </div><br>
            <canvas id="criticalityAssesmentBargraph" style="height:17rem;width:65rem;"></canvas>
        </div>
    </div>
</p-dialog>


  

<!-- <div class="d-block mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="h-100 bg-white p-3">
                <h5>Risks</h5>
                <div class="row">
                    <div class="col-sm-6" *ngFor="let obj of fakeriskandMetigateActions">
                        <div class="card"><br>
                        <strong style="text-align: left;color:black;font-size: 12px;margin-left: 10px;">Tag Number:{{obj.TagNumber}} </strong><br>
                        <strong style="text-align: left;color:black;font-size: 12px;margin-left: 10px;">{{obj.FunctionMode}} </strong><br>
                        <strong style="text-align: left;color:black;font-size: 12px;margin-left: 10px;">Strategy Mitigated Risk Rank : {{obj.RiskRank}}  </strong><br>
                        <strong style="text-align: left;color:black;font-size: 12px;margin-left: 10px;"> Strategy Mitigated Financial Risk  : {{obj.FinancialRisk}} </strong><br>
                        <div>
                            <canvas id="{{obj.rankgraphId}}" height="20"></canvas>
                        </div>
                    </div><br>
                 </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="MitigatingActionshow">
            <div class="bg-white p-3">
                <h5>Mitigating Actions</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <div *ngFor="let obj of centrifugalmssmodelFilter;">
                            <div class="card" style="width: 30rem;"><br>
                            <strong style="text-align: left;color:black;font-size: 12px;margin-left: 20px">{{obj.MSSIntervalSelectionCriteria}} </strong><br>
                            <div  *ngFor="let row of obj.centrifugalmssmodel;">
                                        <strong style="text-align: left;color:black;font-size: 12px;margin-left: 20px">Maintenance Task : {{row.MSSMaintenanceTask}} </strong><br>
                                        <strong style="text-align: left;color:black;font-size: 12px;margin-left: 20px">Interval : {{row.MSSMaintenanceInterval}}, Craft : {{row.Craft}}, Level : {{row.Level}}, Hours : {{row.Hours}}, Annual POC : {{row.AnnualPOC}}</strong> <br><br>
                            </div>
                        </div> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br> -->