<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">Recycle Bin</h4>
                    
                        <div class="list-wrapper">
                            <ul *ngIf="!(RecycleCentrifugalPumpChildData != null && RecycleCentrifugalPumpWholeData != null)" class="d-flex flex-column-reverse todo-list">
                                <li>
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> Recycle Bin is Empty <i class="input-helper"></i></label> </div>
                                </li>
                                
                            </ul>
                            <ul class="d-flex flex-column-reverse todo-list" *ngFor="let c of RecycleCentrifugalPumpChildData">
                                <li>
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> Are you want to restore {{c.FunctionMode}} <i class="input-helper"></i></label> </div><i style= "float:right;" (click)="Restore(c)" class="remove fa fa-check" aria-hidden="true"></i> <i (click)="Delete(c)" class="remove fa fa-times" aria-hidden="true" ></i>
                                </li>
                                
                            </ul>
                            <ul *ngFor="let w of RecycleCentrifugalPumpWholeData" class="d-flex flex-column-reverse todo-list">
                                <li >
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> Are you want to restore Asset {{w.EquipmentType}} : {{w.TagNumber}} <i class="input-helper"></i></label> </div><i style= "float:right;" (click)="Restore(w)" class="remove fa fa-check" aria-hidden="true"></i> <i (click)="Delete(w)" class="remove fa fa-times" aria-hidden="true" ></i>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>