<div style="padding-left: 10px;" class="row col-md-12">
    <div class="alert alert-dark" role="alert">
        To know about Taxonomy of Compressor
        <button *ngIf="enableImage" class="btn btn-outline-dark" (click)="compressorImage()">Click Here</button>
        <button *ngIf="CancelImage" class="btn btn-outline-dark" (click)="compressorImageCancel()">Cancel</button>
    </div>
</div>
<div *ngIf="Image" class="col-md-6">

    <div class="card shadow mb-4">
        <div class="card-body">

            <span><img (click)="imgDowd()" class="img-fluid px-3 px-sm-4 mt-3 mb-2" style="width: 50rem;"
                    src="DPM/dist/DPM/assets/img/compressor.PNG" alt=""></span>

        </div>
    </div>
</div>

<div style="padding:10px;">
    <div class="container">
        <div class="row">
            <div class="col-sm">Column</div>
            <div style="text-align: center;" class="col-sm">Alarm</div>
            <div style="text-align: center;" class="col-sm">Trigger</div>
            <div style="text-align: right;" class="col-sm">Condition</div>
            <div style="text-align: center;" class="col-sm">
                <!-- <button class="btn btn-outline-primary" (click)="addRuleForm()">
                        <i class="fa fa-plus"></i> New Record
                    </button> -->
            </div>

            <div class="td col-sm">
                <span *ngIf="notification" class="elementToFadeInAndOut">
                        <i class="fas fa-check-circle {{notification.class}}"></i>
                        {{notification.message}}
                    </span>
            </div>
        </div>
    </div>
    <div class="tbody">
        <form class="tr" [formGroup]="fg" *ngFor="let fg of addRuleForms.controls; let i=index;" (submit)="recordSubmit(fg)">
            <div class="td">
                <input class="form-control" data-toggle="tooltip" data-placement="right" title="{{addRuleResponse[i]}}" formControlName="columns">
            </div>
            <div class="td">
                <input class="form-control" formControlName="alarm">
            </div>
            <div class="td">
                <input class="form-control" formControlName="trigger">
            </div>

            <div class="td">
                <!-- <input class="form-control" formControlName="condition"> -->
                <select class="form-control" formControlName="condition">
                        <option>></option>
                        <option><</option>
                        <option>=</option>
                      </select>
            </div>


            <div class="td">
                <button type="submit" class="btn btn-outline-primary" [disabled]="fg.invalid" [ngClass]="(fg.get('addRuleId').value==0)?'btn btn-outline-primary':'btn-outline-dark'"><i
                            class="far fa-save"></i>
                        {{fg.get('addRuleId').value==0?'Submit':'Update'}}
                    </button>
                <!-- <button class="btn btn-light ml-1" (click)="onDelete(fg.get('addRuleId').value,i)">
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </button> -->
            </div>
        </form>
    </div>
</div>