<p-toast position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<style>
    .disabled {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: grey !important;
    }
    
    .classname {
        -ms-touch-action: none;
        -ms-touch-action: pan-y;
        touch-action: none;
        touch-action: pan-x;
        touch-action: pan-y;
        touch-action: manipulation;
        touch-action: pan-right;
        touch-action: auto;
    }
</style>
<div class="card dpm-card p-3">
    <p-tabView (onChange)="RCAHandleChange($event)">
        <p-tabPanel header="RCA List" leftIcon="pi pi-align-left">
            <div class="row">
                <div class="col-xl-12 col-lg-11 p-0">
                    <div class="mb-4 con">
                        <div class="card-body p-0">
                            <p-table [scrollable]="true" [style]="{width:'100%'}" [value]="RCAListRecords" [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                                <ng-template pTemplate="colgroup">
                                    <colgroup>
                                        <col style="width:5em;">
                                        <col style="width:9em;">
                                        <col style="width:14em;">
                                        <col style="width:9em;">
                                        <col style="width:9em;">
                                        <col style="width:15em;">
                                        <col style="width:15em;">
                                        <col style="width:9em;">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>RCA Label</th>
                                        <th>RCA code</th>
                                        <th>Tag No.</th>
                                        <th>Availability</th>
                                        <th>Qualitative Failure Mode</th>
                                        <th>Quantitative Failure Mode</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{rowIndex + 1}}</td>
                                        <td>{{p.RCALabel}}</td>
                                        <td>{{p.RCACode}}</td>
                                        <td>{{p.TagNumber}}</td>
                                        <td>{{p.Availability}}</td>
                                        <td>{{p.RCAQualitativeFailureMode}}</td>
                                        <td>{{p.RCAQuantitiveFailureMode}}</td>
                                        <td>
                                            <a (click)="RCAReport(p)" data-toggle="modal" data-target="#rcaReport" title="Report for {{p.RCALabel}}"><i class="fa fa-file"
                                                    aria-hidden="true"></i></a>&nbsp;&nbsp;
                                            <a title="View {{p.RCALabel}}" data-toggle="modal" data-target="#DisplayRCATree" (click)="RCATreeDisplay(p)"><i
                                                    class="pi pi-eye"></i> </a>&nbsp;&nbsp;
                                            <a title="Delete {{p.RCALabel}}" class="badge badge-danger" (click)="DeleteRCARecord(p)"><i class="pi pi-trash"></i></a>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="10">No records to show.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Add" leftIcon="pi pi-plus">
            <div class="card dpm-card div-in-middle w-100 p-0" *ngIf="SelectBoxEnabled">
                <div class="alert alert-info"><i class="pi pi-info-circle mr-1"></i>Add Label and Tag Number to RCA</div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <label class="d-block">Label</label>
                            <input type="text" [(ngModel)]="RCALabel" placeholder="Enter label" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <label class="d-block">Tag Number</label>
                            <input type="text" [(ngModel)]="TagNumber" placeholder="Enter Tag Number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary mt-4" (click)="TagNumberSelect()">Done</button>
                    </div>
                </div>
            </div>

            <div [hidden]="!Treeshow" class="row" class="alert alert-info">
                <div class="col-md-2 form-check">
                    <input [(ngModel)]="RCATypeQualititive" (change)="RCATypeSelect()" class="form-check-input" type="checkbox" name="RCA" id="Qualitative" checked>
                    <label class="form-check-label" for="Qualitative">
                        Qualitative
                    </label>
                </div>
                <div class="col-md-2 form-check">
                    <input [(ngModel)]="RCATypeQuantitive" (change)="RCATypeSelect()" class="form-check-input" type="checkbox" name="RCA" id="Quantitive">
                    <label class="form-check-label" for="Quantitive">
                        Quantitative
                    </label>
                </div>
            </div>

            <div *ngIf="RCATypeQualititive === true" style="overflow: auto;">
                <div class="classname" id="scene" #scene>
                    <p-card>
                        <button (click)="ClearRCAQualitiveTree()" class="badge badge-outline-secondary border-0" pTooltip="Clear Qualititive tree data" tooltipPosition="top"><small><i class="pi pi-times mr-1"></i></small>clear</button>
                        <p-tree [value]="files" layout="horizontal" selectionMode="single" [(selection)]="selectedFile" (addTreeRow)="addTreeRow($event)" (rCAAttachment)="rCAAttachment($event)" (uploadRCAAttachment)="uploadRCAAttachment($event)" (deleteTreeRow)="deleteTreeRow($event)">
                        </p-tree><br><br>
                    </p-card>
                </div>
            </div>
            <div *ngIf="RCATypeQuantitive === true" id="anorlogic" class="alert alert-dpmprimary w-100">
                <p-card class="p-overlay-relative">
                    <button (click)="ClearRCAQuantiveTree()" class="badge  badge-outline-secondary border-0 mb-1" pTooltip="Clear Quantitive tree data" tooltipPosition="top"><small><i class="pi pi-times mr-1"></i></small>clear</button>
                    <p-organizationChart [value]="ANDORLOGICTREE" (FailureMode)="AndOrLogicTreeFailureMode($event)" (AddNode)="onAddNode($event)" (DeleteNode)="onDeleteNode($event)" (Library)="GetFailureRateAndRepair($event)">
                    </p-organizationChart>
                </p-card>
            </div>
            <div *ngIf="Treeshow" style="margin: 10px;">
                <a class="btn btn-dark" (click)="CancelADDRCA()" pTooltip="Cancel data" tooltipPosition="top"><i
                            class="fa fa-times" aria-hidden="true"></i></a>
                <a *ngIf="RCATypeQualititive === true || RCATypeQuantitive === true " class="btn btn-dark" style="float:right;" (click)="RCAADDSave()" pTooltip="Save data" tooltipPosition="top">save</a>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Update" leftIcon="pi pi-refresh">
            <div class="card dpm-card w-100 p-0" *ngIf="SelectUpdateBoxEnabled">
                <div class="alert alert-info"><i class="pi pi-info-circle mr-1"></i>Select Label to Update RCA</div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <label style=" margin-right: 12px;">Label</label>
                            <select class="form-select" (change)="UpdateLabeselect()" [(ngModel)]="UpdateSelectedLabel" class="form-control">
                            <option value="">Choose..</option>
                            <option *ngFor="let EL of UpdateTagNumberList" [ngValue]="EL">{{EL.RCALabel}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <label style=" margin-right: 12px;">Type</label>
                            <select class="form-select" [(ngModel)]="UpdateRCATypeSelected" class="form-control">
                                <option value="">Choose..</option>
                                <option *ngFor="let EL of UpdateRCATypeList" [ngValue]="EL">{{EL}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary mt-4" (click)="UpdateTagNumberSelect()">Done</button>
                    </div>
                </div>
            </div>
            <div [hidden]="!UpdateTreeshow" style="overflow: auto;">
                <div class="alert alert-dpmprimary w-100">
                    <div class="row">
                        <div class="col-md-3" *ngIf="UpdateRCATypeQualititive">
                            <div class="d-flex flex-column">
                                <label>Asset</label>
                                <select [(ngModel)]="ADDRCAMachineType" class="form-select" class="form-control">
                                <option value="" disabled>Choose..</option>
                                <option value="Screw Compressor" selected>Screw Compressor</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="UpdateRCATypeQualititive">
                            <div class="d-flex flex-column">
                                <label>Failure Mode</label>
                                <select [(ngModel)]="ADDRCAFailureMode" class="form-select" class="form-control">
                                    <option value="" disabled>Choose..</option>
                                    <option *ngFor="let EL of RCAQualitativeFailureModelist" [ngValue]="EL">{{EL}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <!-- <li *ngIf="UpdateRCATypeQualititive" class="list-group-item" style="width: 31em;">
                            <div class="input-group mb-3">
                                <label style=" margin-right: 12px;">Asset</label>
                                <select [(ngModel)]="ADDRCAMachineType" class="form-select" class="form-control">
                                    <option value="" disabled>Choose..</option>
                                    <option value="HeatExchanger" selected>Heat Exchanger</option>
                                </select>
                            </div>
                        </li>
                        <li *ngIf="UpdateRCATypeQualititive" class="list-group-item">
                            <div class="input-group mb-3" style="width: 29em;">
                                <label style=" margin-right: 12px;">Failure Mode</label>
                                <select [(ngModel)]="ADDRCAFailureMode" class="form-select" class="form-control">
                                    <option value="" disabled>Choose..</option>
                                    <option *ngFor="let EL of HeatExchangerFailureModeList" [ngValue]="EL">{{EL}}
                                    </option>
                                </select>
                            </div>
                        </li> -->
                        <h6 *ngIf="UpdateRCATypeQuantitive">
                            Quantitative Failure Mode : <span class="text-primary">{{andOrLogicTreeFailureMode}}</span>
                        </h6>
                        <!-- <li class="list-group-item">
                            <div class="input-group mb-3" style="width: 29em;">
                                <div class="form-check">
                                    <input [(ngModel)]="UpdateRCATypeQualititive" (change)="UpdateRCATypeSelect()" class="form-check-input" type="checkbox" name="RCA" id="Qualitative">
                                    <label class="form-check-label" for="Qualitative">
                                        Qualititive
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input [(ngModel)]="UpdateRCATypeQuantitive" (change)="UpdateRCATypeSelect()" class="form-check-input" type="checkbox" name="RCA" id="Quantitive">
                                    <label class="form-check-label" for="Quantitive">
                                        Quantitive
                                    </label>
                                  </div>
                            </div>
                        </li> -->
                    </ul>
                </div>

                <div *ngIf="UpdateRCATypeQualititive" class="classname" id="scene1" #scene1>
                    <p-tree [value]="Updatefiles" layout="horizontal" selectionMode="single" [(selection)]="selectedFile" (addTreeRow)="UpdateaddTreeRow($event)" (uploadRCAAttachment)="uploadRCAAttachment($event)" (RCAUpdateDeleteFromList)="RCAUpdateDeleteFromList($event)"
                        (deleteTreeRow)="UpdatedeleteTreeRow($event)" (RCAUpdateAttachmentFromList)="RCAUpdateAttachmentFromList($event)"></p-tree>
                    <br><br>
                </div>
                <div *ngIf="UpdateRCATypeQuantitive" id="anorlogic" class="alert alert-dpmprimary">
                    <p-card>
                        <p-organizationChart [value]="RCAUpdateQuantitivefiles" (AddNode)="onAddNode($event)" (FailureMode)="AndOrLogicTreeFailureMode($event)" (DeleteNode)="onDeleteNode($event)" (Library)="GetFailureRateAndRepair($event)">
                        </p-organizationChart>
                    </p-card>
                </div>
                <div style="margin: 10px;">
                    <a class="btn btn-secondary-outline btn-sm" (click)="cancelRCAUpdate()" pTooltip="Cancel data" tooltipPosition="top"><i
                            class="fa fa-times" aria-hidden="true"></i></a>
                    <a class="btn btn-primary btn-sm" style="float:right;" (click)="UpdateRCA()" pTooltip="Update data" tooltipPosition="top">Update</a>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>



<div class="modal" id="ADDRCAModal" tabindex="-1" role="dialog" style="overflow: auto;">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"> Add Failure Mode to Qualititive RCA Tree </h6><br>
                <button type="button" class="close" data-dismiss="ADDRCAModal" aria-label="Close" (click)="closeRCAAddModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="ADDRCAModal modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div style="padding-bottom: 20px;">
                            <div *ngIf="RCATypeQualititive" class="form-check">
                                <input [(ngModel)]="finalRCATypeQualititive" class="form-check-input" type="checkbox" name="RCA" id="Qualitative" checked>
                                <label class="form-check-label" for="Qualitative">
                                    Qualititive
                                </label>
                            </div>
                            <div *ngIf="RCATypeQuantitive" class="form-check">
                                <input [(ngModel)]="finalRCATypeQuantitive" class="form-check-input" type="checkbox" name="RCA" id="Quantitive">
                                <label class="form-check-label" for="Quantitive">
                                    Quantitive
                                </label>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="finalRCATypeQualititive" class="list-group-item">
                        <div class="input-group mb-3">
                            <label style=" margin-right: 12px;">Assets</label>
                            <select [(ngModel)]="ADDRCAMachineType" class="form-select" class="form-control">
                                <option value="">Choose..</option>
                                <option value="Screw Compressor" selected>Screw Compressor</option>
                                <!-- <option value="Screw Compressor" selected>Heat Exchanger</option> -->
                            </select>
                        </div>
                    </li>
                    <li *ngIf="finalRCATypeQualititive" class="list-group-item">
                        <div class="input-group mb-3">
                            <label style="margin-right: 12px;">Failure Mode</label>
                            <!-- <select [(ngModel)]="ADDRCAFailureMode" class="form-select" class="form-control">
                                <option value="">Choose..</option>
                                <option *ngFor="let EL of HeatExchangerFailureModeList" [ngValue]="EL">{{EL}}</option>
                            </select> -->
                            <select [(ngModel)]="ADDRCAFailureMode" class="form-select" class="form-control">
                                <option value="">Choose..</option>
                                <option *ngFor="let fm of RCAQualitativeFailureModelist" [ngValue]="fm">{{fm}}</option>
                                <!-- <option value="Rotar Damage">Rotar Damage</option>
                                <option value="Second stage Rotor breakdown">Second stage Rotor breakdown</option>
                                <option value="Cooler Failure">Cooler Failure</option> -->
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ADDRCAModal modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeRCAAddModal()" data-dismiss="ADDRCAModal">Close</button>
                <button *ngIf="finalRCATypeQualititive === true || finalRCATypeQuantitive === true" type="button" class="btn btn-primary" (click)="SaveAddRCAToDatabase()" data-dismiss="ADDRCAModal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DisplayRCATree" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DisplayRCATree">RCA Label Name : {{RCADisplayLabel}}</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseRCATreeDisplay()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: auto; height: 30em;" class="classname">
                <div *ngIf="UpdateRCATypeQualititive" id="scene3" #scene3>
                    <p-tree [value]="RCADisplayFile" layout="horizontal"></p-tree>
                </div><br><br>
                <div *ngIf="UpdateRCATypeQuantitive">
                    <p-organizationChart [value]="displayQuantitativeTree">
                    </p-organizationChart>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="CloseRCATreeDisplay()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="rcaReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">RCA Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body" style="overflow: auto; height: 80em;padding-left: 50;">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="!RCAQualitativeReport || !RCAQuantitativeReport" class=" alert alert-dpmprimary d-flex align-items-center justify-content-between">

                            <label style="margin-right: 12px;">Select report type</label>
                            <select (change)="RCATypeReport()" [(ngModel)]="RCAReportType" class="form-select" class="form-control w-25">
                                <option value="">Choose..</option>
                                <option *ngFor="let EL of RCAReportTypeList" [ngValue]="EL">{{EL}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="RCAQualitativeReport">
                    <div id="pdfTable" #pdfTable>
                        <div class="text-center" *ngIf="imagedivRCA">
                            <div class="image-container text-center">
                                <img width="150" src="dist/DPM/assets/img/DPM_LOGO.png" alt="">
                            </div>
                        </div>
                        <div class="text-center" *ngIf="!imagedivRCA" id="pdfTable" #pdfTable>
                            <div class="image-container">
                                <img width="150" src="dist/DPM/assets/img/DPM_LOGO.png" alt="">
                            </div>
                        </div>
                        <div class="text-center" style="text-align:center">
                            <h5>Root Cause Analysis (RCA) based on Quantitative Approach</h5>
                        </div>

                        <div>
                            <label><u><b>Summary</b></u></label>
                        </div>
                        <div>
                            <p>This report is based on the results of a technical process for investigation and analysis of failure causes. Root Cause Analysis (RCA) method used is based on following steps: </p>
                        </div>
                        <div>
                            <ul style="list-style-type:disc; margin: left 40px;">
                                <li>Problem identification</li>
                                <li>Judgment of problem criticality. </li>
                                <li>Identification of the basic causes preceding the problem </li>
                                <li>Identification of the reason of the preceding causes. </li>
                            </ul>
                            <label>Root cause analysis is based on a wide range of data collection including:</label>
                            <ul style="list-style-type:disc; margin: left 40px;">
                                <li>Operation data </li>
                                <li>Asset data and drawing </li>
                                <li>Historical data </li>
                            </ul>
                            <p>
                                The results of the analysis integrated into an assessment process and providing a set of consistent conclusions
                            </p>
                            <p>
                                A brief introduction of the system data and considerations are briefly described. RCA inputs outlines the current actions the team had to proceed. Past and present data are considered. Site visits attended and discussions with all relevant departments
                                conducted.
                            </p>
                            <p>
                                Proposal for actions and recommendations are established. Company should review the existing procedures and proceed with improvement wherever is required.
                            </p>
                        </div>
                        <div>
                            <label><u><b>Introduction</b></u></label>
                        </div>
                        <div class="mb-3">
                            <p>RCA analysis completed on
                                <span *ngIf="!RCAReportfileds">
                        <input type="date" class="form-control" style="width: 10em;" [(ngModel)]="RCAReportDate" name="reportDate" />
                    </span>&ensp;
                                <span *ngIf="RCAReportfileds">
                        {{RCAReportDate}}
                    </span> for {{RCAReportData.RCAEquipment}} with Tag No {{RCAReportData.TagNumber}}. RCA finalized by using the current data and considering the failure history of the asset.</p>
                            <p>An understanding of the system to be analyzed was essential prior to the development of the RCA. The initial step was to collect the data and identify whether adequate information was </p>
                        </div>
                        <div class="mb-3">
                            <label><u><b>RCA inputs</b></u></label>
                            <span *ngIf="!RCAReportfileds">
                <textarea [(ngModel)]="RCAReportinputs" class="form-control custom-textarea" name="RCAInput"></textarea>
                    </span>
                            <div>
                                <span *ngIf="RCAReportfileds">
                        {{RCAReportinputs}}
                    </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label><u><b>Actions and recommendations </b></u></label>

                            <span *ngIf="!RCAReportfileds">
                    <textarea [(ngModel)]="RCAReportRecommadtion" class="form-control custom-textarea" name="RCARecommedation"></textarea>
                </span>
                            <div>
                                <span *ngIf="RCAReportfileds">
                        {{RCAReportRecommadtion}}
                    </span>
                            </div>
                        </div>

                        <div style="page-break-before: always;" class="mb-3">
                            <label><u><b>Conclussion</b></u></label>
                            <p>
                                The objective of the task was to analyze the current condition of {{RCAReportData.RCAEquipment}} {{RCAReportData.TagNumber}} and propose technical solutions to prevent similar failures in future
                            </p>
                            <p>
                                The reliability methodology was based on RCA order to take into consideration the objectives and recommended actions to eliminate the failures.
                            </p>
                            <p>
                                During RCA the main failure defects and causes analyzed and technically elaborated. The team came up with some current actions and proposed future recommendations for implementation.
                            </p>
                        </div>
                    </div>
                    <div style="overflow: auto;" class="mb-3">
                        <label><u><b>Annexures</b></u></label>
                        <div id="image" #image>
                            <!-- <p-tree [value]="RCAReportTree" layout="horizontal"></p-tree> -->
                            <p-organizationChart [value]="RCAReportTree">
                            </p-organizationChart>
                        </div>
                    </div>
                </div>
                <div style="overflow: auto;" *ngIf="RCAQuantitativeReport">
                    <div id="pdfTable1" #pdfTable1 style="margin: 20px;height: 100%;width: 100%;">
                        <div class="text-center" style="text-align:center">
                            <h4><b>Root Cause Analysis (RCA)  Qualitative approach</b></h4>
                        </div>
                        <div class="sidebar-brand-icon col-sm-2 m-auto" *ngIf="imagedivRCA">
                            <div class="image-container">
                                <img width="100%" src="dist/DPM/assets/img/DPM_LOGO.png" alt="">
                            </div>
                        </div>
                        <div class="sidebar-brand-icon col-sm-2 m-auto" *ngIf="!imagedivRCA" id="pdfTable1" #pdfTable1>
                            <div class="image-container">
                                <img style="width:30px;height:25px" src="dist/DPM/assets/img/DPM_LOGO.png" alt="">
                            </div>
                        </div>
                        <div class="page">
                            <h5><b>Summary </b></h5>
                            <p>
                                This report is based on the results of a qualitative approach for investigation and analysis of failure causes. The Root Cause Analysis (RCA) method used is Fault Tree technique analysis. An initial effect is taken as the top event of a tree and all concerns
                                are branched out of it.
                            </p>
                            <p>
                                The tree diagram is a graphic display of 5 Whys method. It displays the layers of cause looking in detail for the root of the failure.
                            </p>
                            <p>
                                The results of the analysis integrated into an assessment process and providing a set of consistent conclusions
                            </p>
                            <p>
                                A brief introduction of the system data and considerations are briefly described. RCA inputs outlines the current actions the team had to proceed. Past and present data are considered. Site visits attended and discussions with all relevant departments
                                conducted.
                            </p>
                            <p>
                                Proposal for actions and recommendations are established. Company should review the existing procedures and proceed with improvement wherever is required.
                            </p>

                            <h5><b>Introduction</b></h5>
                            <p>
                                RCA analysis completed on {{RCAReportDate}} for {{RCAReportData.RCAEquipment}} with Tag No {{RCAReportData.TagNumber}}. RCA finalized by using the current data and considering the failure history of the asset
                            </p>
                            <p>
                                An understanding of the system to be analyzed was essential prior to the development of the RCA. The initial step was to collect the data and identify whether adequate information was sufficient to proceed with a reliable and accurate analysis.
                            </p>
                            <h5><b> RCA inputs </b></h5>
                            <textarea *ngIf="!RCAReportfileds" class="custom-textarea1 form-control" [(ngModel)]="RCAInput" placeholder="RCA inputs * "> {{RCAInput}} </textarea>
                            <h5><b>Actions and recommendations </b></h5>

                            <textarea *ngIf="!RCAReportfileds" class="custom-textarea1 form-control" [(ngModel)]="ActionRecommendation" placeholder="Actions and recommendations  * "> {{ActionRecommendation}}</textarea>
                            <h5><b>Conclusion </b></h5>
                            <p>
                                The objective of the task was to analyze the current condition of {{RCAReportData.RCAEquipment}} with Tag No {{RCAReportData.TagNumber}}. and propose technical solutions to prevent similar failures in future
                            </p>
                            <ul>
                                <li>
                                    The reliability methodology was based on Fault Tree analysis.
                                </li>
                                <li>
                                    The root causes were well defined, analyzed and documented.
                                </li>
                                <li>
                                    The recommended actions should be considered along with recommendation to formulate a corrective future action plan that can eliminate the failures and increase reliability of the asset.
                                </li>
                            </ul>
                            <label><u><b>Annexures</b></u></label>

                        </div>
                    </div>
                    <div style="page-break-before: always;"></div>
                    <div id="image1" #image1>
                        <p-tree [value]="RCAReportTree" layout="horizontal"></p-tree>
                        <!-- <p-organizationChart [value]="RCAReportTree">
                            </p-organizationChart> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" *ngIf="RCAQuantitativeReport || RCAQualitativeReport" (click)="RCAReportDownload()" class="btn btn-primary">Download</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="UpdateAttachmentInUpdateFle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload attachment for update</h5>
                    <button type="button" class="close" data-dismiss="modal" (click)="CloseRCAUpdateUploadFile()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="uploadAttachments">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" accept="image/x-png,image/jpeg,.pdf," (change)="RCAUpdateUploadFile($event)" class="custom-file-input" id="uploadAttachments" aria-describedby="uploadAttachments">
                            <label class="custom-file-label" for="inputGroupFile01">Attachment</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="CloseRCAUpdateUploadFile()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>