<p-toast position="top-center"></p-toast>
<div *ngIf="prescriptiveTree" id="prescriptive" class="col-md-12" style="overflow: scroll;">
    <p-card>
        <!-- <button *ngIf="PatternNextOnPrescriptiveTree" label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="ADDFMToFCA()">Add FCA</button> -->
        <button *ngIf="PatternNextOnPrescriptiveTree" label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="ADDFMToFCA()" title="Add FCA"><i class="pi pi-plus"> FCA</i></button>
        <button *ngIf="!(Pattern == '')" label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="ADDNextFCA()"> <i class="fas fa-arrow-right"></i></button>
        <button *ngIf="SaveFCAEnable" label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="SaveFCA()">Save FCA</button>
        <p-organizationChart [value]="data1" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <a class="edit-org-bttn" *ngIf ="node.edit !== undefined && node.edit"  (click)="SelectNodeToView(node)" pTooltip="Select Node To view" tooltipPosition="top"><i class="fa fa-eye" aria-hidden="true"></i></a>
                <div class="node-content">
                    <div class="a">{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </p-card>
</div>


<div *ngIf="FailureModePatternTree" class="col-md-12" id="ScrollToFCATree" style="overflow: scroll;">
    <label class="form-text text-muted">Add FCA for {{PatternFMName}}</label>
    <p-organizationChart [value]="FCAdata1" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)" styleClass="company">
        <ng-template let-node pTemplate="person">
            <div class="node-header p-corner-top">{{node.label}}</div>
            <div class="node-content">
                <div>{{node.data.name}}</div>
            </div>
        </ng-template>
        <ng-template let-node pTemplate="department">
            {{node.label}}
        </ng-template>
    </p-organizationChart>

    <p-card>
        <ng-template pTemplate="title">
            Pattern For Failure Mode
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter Pattern for {{PatternFMName}}
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="row">
                    <div class="row col-md-12">
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 1')"  pTooltip=" " tooltipPosition="right">
                                <canvas id="pattern1"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 2')"  pTooltip=" Depicts age related Failure resulting from detrioins process, but their are still considerable differences in the behaviour of any two components subject to the same nominal stress"  tooltipPosition="right">
                                <canvas id="pattern2"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 3')"  pTooltip=" Has stedily increasing failuer probability,but no single pointer
                            where it can be said the component wears out.Faituge failuer, bloKage of filters and flow of turbine efficiency reduction
                            through the dirt accumlation are example. The slope of the curve is governed by the Weibull scale parameter ranging from days to decade." tooltipPosition="right">
                                <canvas id="pattern3"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 4')" pTooltip=" " tooltipPosition="right">
                                <canvas id="pattern4"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 5')"pTooltip=" It is for random failuer.This means that the probability that an item will fail in any of iterval of time is same is the same as in other.
                            Random failuer is charactersized by an exponcial survival distribution and constatnt probability of failuer, so their is no age at which scheduled rework or scheduled discard is appropriate.
                            " tooltipPosition="right">
                                <canvas id="pattern5"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 6')" pTooltip="Patterns 6 is very common.The probability of failuer declines with the age to reach constatnt value. 
                            It is high when the component is new or just been rewarded,but then settles.Compression fittings and many electronic system,including computers, exhibit the patterns" tooltipPosition="right">
                                <canvas id="pattern6"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
       
                <div *ngIf="PatternPathEnable" class="custom-control custom-radio" style="margin:20px;">
                    <input type="radio" [(ngModel)]="PatternPath" id="customRadio1" value="1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Select Path</label>
                    <a class="cell-icon-button cdk-close" style="margin-left:25px; color:rgb(245, 148, 172);">
                        <i class="fas fa-circle"></i>
                    </a>
                </div>
                <div *ngIf="PatternPathEnable" class="custom-control custom-radio" style="margin:20px;">
                    <input type="radio" [(ngModel)]="PatternPath" value="2" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Select Path</label>
                    <a class="cell-icon-button cdk-close" style="margin-left:25px; color:rgb(212, 218, 211);" class="fas fa-circle">
                    </a>
                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div>
                <button label="Next" type="button" (click)="PatternBack()" class="btn btn-dark" pTooltip=" Back to the Add FCA Tree" tooltipPosition="top"> <i class="fas fa-arrow-left"></i></button>
                <button label="Next" style="float: right;" (click)="PatternAdd()" type="button" class="btn btn-dark"  pTooltip=" Click To add the Patterns" tooltipPosition="top"> <i class="fas fa-arrow-right"></i></button>
            </div>
        </ng-template>
    </p-card>

</div>

<div *ngIf="FCAViewEnabled" >
    <p-card>
        <a class="cell-icon-button cdk-close" style="float:right;color: black;" (click)="CloseView()" pTooltip="Delete" tooltipPosition="top">
            <i class="far fa-times-circle "></i>
        </a>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div style="width: 13em;height: 7em; margin-left: 140px;">
                    <canvas id="ViewPattern"></canvas>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>   
       
        <p-organizationChart [value]="FCAView" selectionMode="single" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div>{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department"  id ="FCATreeShow">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </p-card>
</div>