<div *ngIf="SelectBoxEnabled">
    <div class="card shadow div-in-middle">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Select Tag Number to add FCA</b></li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <label style=" margin-right: 12px;">Tag Number</label>
                    <select  class="form-select" [(ngModel)]="SelectedTagNumber"  class="form-control">
                          <option value="">Choose..</option>
                          <option *ngFor="let EL of TagList" [ngValue]="EL">{{EL}}</option>
                        </select>
                </div>
            </li>
            <li class="list-group-item">
                <button class="btn btn-dark" (click)="TagNumberSelect()">Done</button>
            </li>
        </ul>
    </div>
</div>

<p-toast position="top-center"></p-toast>
<div *ngIf="prescriptiveTree" id="prescriptive" class="col-md-12" style="overflow: scroll;">
    <p-card>
        <button *ngIf="PatternNextOnPrescriptiveTree" label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="ADDFMToFCA()" title="Add FCA"><i class="pi pi-plus"> FCA</i></button>
        <button *ngIf="!(Pattern == '')" label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="ADDNextFCA()" pTooltip="Select To Add FCA" tooltipPosition="top"><i class="pi pi-plus">Add FCA</i></button>
        <button *ngIf="SaveFCAEnable" label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="SaveFCA()">Save FCA</button>
        <p-organizationChart [value]="data1" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <a class="edit-org-bttn" *ngIf ="node.viewFCA !== undefined && node.viewFCA"  (click)="SelectNodeToView(node)" pTooltip="Select Node To view" tooltipPosition="top"><i class="fa fa-eye" aria-hidden="true"></i></a>
                <div class="node-content">
                    <div class="a">{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </p-card>
</div>


<div *ngIf="FailureModePatternTree" id="ModePatternTree" class="col-md-12" id="ScrollToFCATree" style="overflow: scroll;">
    <div style="overflow: scroll;">
        <label class="form-text text-muted">Add FCA for {{PatternFMName}}</label>
        <button *ngIf="patternaddshow" label="Next" style="float: right;"(click)="PatternAdd()" type="button" class="btn btn-dark"  pTooltip=" Click To add data to Failure Mode" tooltipPosition="top">ADD</button>
        <p-organizationChart [value]="FCAdata1" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div>{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
   </div>

    <p-card >
        <ng-template pTemplate="title">
            Pattern For Failure Mode
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter Pattern for {{PatternFMName}}
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="row">
                    <div class="row col-md-12">
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 1')"  pTooltip=" " tooltipPosition="right">
                                <canvas id="pattern1"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 2')"  pTooltip=" Depicts age related Failure resulting from detrioins process, but their are still considerable differences in the behaviour of any two components subject to the same nominal stress"  tooltipPosition="right">
                                <canvas id="pattern2"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 3')"  pTooltip=" Has stedily increasing failuer probability,but no single pointer
                            where it can be said the component wears out.Faituge failuer, bloKage of filters and flow of turbine efficiency reduction
                            through the dirt accumlation are example. The slope of the curve is governed by the Weibull scale parameter ranging from days to decade." tooltipPosition="right">
                                <canvas id="pattern3"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 4')" pTooltip=" " tooltipPosition="right">
                                <canvas id="pattern4"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 5')"pTooltip=" It is for random failuer.This means that the probability that an item will fail in any of iterval of time is same is the same as in other.
                            Random failuer is charactersized by an exponcial survival distribution and constatnt probability of failuer, so their is no age at which scheduled rework or scheduled discard is appropriate.
                            " tooltipPosition="right">
                                <canvas id="pattern5"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12" style="width: 13em;height: 7em;" (click)="SelectPatternForFailureMode('Pattern 6')" pTooltip="Patterns 6 is very common.The probability of failuer declines with the age to reach constatnt value.
                            It is high when the component is new or just been rewarded,but then settles.Compression fittings and many electronic system,including computers, exhibit the patterns" tooltipPosition="right">
                                <canvas id="pattern6"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="PatternPathEnable" class="custom-control custom-radio" style="margin:20px;">
                    <input type="radio" [(ngModel)]="PatternPath" id="customRadio1" value="1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Select Path</label>
                    <a class="cell-icon-button cdk-close" style="margin-left:25px; color:rgb(245, 148, 172);">
                        <i class="fas fa-circle"></i>
                    </a>
                </div>
                <div *ngIf="PatternPathEnable" class="custom-control custom-radio" style="margin:20px;">
                    <input type="radio" [(ngModel)]="PatternPath" value="2" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Select Path</label>
                    <a class="cell-icon-button cdk-close" style="margin-left:25px; color:rgb(212, 218, 211);" class="fas fa-circle">
                    </a>
                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div>
                <button label="Back" type="button" (click)="PatternBack()" class="btn btn-dark" pTooltip=" Back to the Add FCA Tree" tooltipPosition="top"> <i class="fas fa-arrow-left"></i></button>
                <button label="Next"  style="float: right;" type="button" (click)="PatternSave()" class="btn btn-dark" pTooltip="" tooltipPosition="top"><i class="fas fa-arrow-right"> Save</i></button>

            </div>
        </ng-template>
    </p-card>

</div>

<div *ngIf="FCAViewEnabled" id="ScrollToFCATree1">
    <p-card>
        <div style="overflow: scroll">
        <a class="cell-icon-button cdk-close" style="float:right;color: black;" (click)="CloseView()" pTooltip="Delete" tooltipPosition="top">
            <i class="far fa-times-circle "></i>
        </a>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div style="width: 13em;height: 7em; margin-left: 140px;">
                    <canvas id="ViewPattern"></canvas>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <p-organizationChart [value]="FCAView" selectionMode="single" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <div>{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department"  id ="FCATreeShow">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </div>
    </p-card>
</div>

<style>
    .disableddiv{
        pointer-events: none;
        cursor: default;
        text-decoration: none;
         opacity: 0.5;
         padding:1px;
        background-color:#777

    }
</style>

<div *ngIf="FailureModePatternTree" id="PatternTree2">
    <div class="card" style="margin: 20px;" *ngIf="FailuerRate">
        <p-card  [ngClass]=" {disableddiv: failuerrate  ? true : false}">
       <ng-template pTemplate="subtitle">
            <p><b>2. To help determine the Failuer rate, we need to know how reliable the equipment is. If the equipment were left alone
                for a period of time, would you expect this failuer to have happened.
            </b></p>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="input-group mb-3">
                <select [(ngModel)]="interval" class="form-select"  class="form-control" placeholder="Failuer very likely">
                    <option value="">Choose</option>
                        <option value="Days" selected> Days</option>
                        <option value="Week" selected> Week</option>
                        <option value="Month" selected>Month</option>
                        <option value="Year" selected>Year</option>
                    </select>
                   <input type="number" [(ngModel)]="intervalValue" name="Interval" class="form-control">
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button class="btn btn-dark" style="float:right;" (click)="IntervalSave()"> <i class="fa fa-check" aria-hidden="true" ></i>save</button><br>
        </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="FailureWarning" id="Patternfailurewarning">
    <p-card  [ngClass]=" {disableddiv: failurewarning  ? true : false}">
        <ng-template pTemplate="title">
        </ng-template>
        <ng-template pTemplate="subtitle">
            <p><b>3. Are their any prior warnings before the failuer occure? Tick all that apply.
            </b></p>
        </ng-template>
        <ng-template pTemplate="content" >
            <div class="container">
                <div class="row" >
                    <div class="col-sm"><br>
                    <p-card>
                   Vibration<br>
                   <td><input type="checkbox" [(ngModel)]="Vibration" value="Vibration" name="name1" />&nbsp;</td>
                    </p-card></div>
                  <div class="col-sm"><br>
                    <p-card>
                    Noice<br>
                    <td><input type="checkbox" [(ngModel)]="Noice" value="Noice" name="name1" />&nbsp;</td>
                    </p-card></div>
                   <div class="col-sm"><br>
                    <p-card>
                    Leakage<br>
                    <td><input type="checkbox" [(ngModel)]="Leakage"  value="Leakage" name="name1" />&nbsp;</td>
                    </p-card></div>
                   <div class="col-sm"><br>
                    <p-card>
                    Performance drop<br>
                    <td><input type="checkbox" [(ngModel)]="PerformanceDrop" value="Performance drop" name="name1" />&nbsp;</td>
                    </p-card></div>
                   <div class="col-sm"><br>
                    <p-card>
                    Temprature Change<br>
                    <td><input type="checkbox" [(ngModel)]="TempratureChange" value="Temprature Change" name="name1" />&nbsp;</td>
                    </p-card></div><br>
                </div><br>

                <div class="row">
                    <div class="col-sm-2"><br>
                        <p-card>
                        Emmision changes<br>
                        <td><input type="checkbox" [(ngModel)]="EmmisionChange" value="Emmision changes" name="name1" />&nbsp;</td>
                        </p-card></div>
                       <div class="col-sm-2"><br>
                        <p-card>
                        Increase Lubricant Consumption<br>
                        <td><input type="checkbox" [(ngModel)]="IncreaseLubricantConsumption" value="Increase Lubricant Consumption" name="name1" />&nbsp;</td>
                        </p-card></div>
                       <div class="col-sm-2"><br>
                        <p-card>
                        Other<br>
                        <td><input type="checkbox" [(ngModel)]="Other" value=" Other" name="name1" />&nbsp;</td>
                        </p-card></div>
                       <div class="col-sm-2"> </div>
                       <div class="col-sm-2"> </div>
                  </div>
             </div><br>
        </ng-template>
        <ng-template pTemplate="footer">
        <button class="btn btn-dark" style="float:right;" (click)="ConditionFirst()"> <i class="fa fa-check" aria-hidden="true"></i>save</button><br>
        </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="WarningSign" id="PatternWarningSign">
        <p-card [ngClass]=" {disableddiv: warningsign  ? true : false}">
        <ng-template pTemplate="subtitle">
            <p><b>4. If their are any warning signs, can they be monitored? if so, how?
            </b></p>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                   Human Senses<br>
                   <td><input type="checkbox" [(ngModel)]="HumanSenses" value=" Human Senses" name="name1" />&nbsp;</td>
                  </div></div>
                  <div class="col-sm"><br>
                    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                    Existing instumentation(portable or fixed)<br>
                    <td><input type="checkbox" [(ngModel)]="ExistingInstumentation" value="Existing instumentation(portable or fixed)" name="name1" />&nbsp;</td>
                   </div></div>
                   <div class="col-sm"><br>
                    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                    New instumentation(portable or fixed)<br>
                    <td><input type="checkbox" [(ngModel)]="NewInstumentation" value="New instumentation(portable or fixed)" name="name1" />&nbsp;</td>
                   </div></div>
                   <div class="col-sm"><br>
                    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                    Process Condtions<br>
                    <td><input type="checkbox" [(ngModel)]="ProcessCondtions" value="Process Condtions" name="name1" />&nbsp;</td>
                   </div></div>
                   <div class="col-sm"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                        Sample Anyalysis<br>
                        <td><input type="checkbox" [(ngModel)]="SampleAnyalysis" value="Sample Anyalysis" name="name1" />&nbsp;</td>
                    </div>
                   </div>
                </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-white" style="border:none" > </a>
            <button class="btn btn-dark" style="float:right;"  (click)="ConditionSecond()"> <i class="fa fa-check" aria-hidden="true"></i>save</button>
        </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="IntervalDeteacting" id="PatternIntervalDeteacting">
        <p-card [ngClass]=" {disableddiv: intervaldeteacting  ? true : false}" >
        <ng-template pTemplate="subtitle">
            <div class="input-group mb-3">
                <label><b>5. What is the likely interval between detacting a warning sign and the failuer happening?</b></label>
                <select [(ngModel)]="ffInterval" class="form-select"  class="form-control" placeholder="Failuer very likely">
                    <option value="">Choose</option>
                        <option value="Days" selected> Days</option>
                        <option value="Week" selected> Week</option>
                        <option value="Month" selected>Month</option>
                        <option value="year" selected>Year</option>
                    </select>
                   <input type="number" [(ngModel)]="ffIntervalValue" name="Interval" class="form-control">
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-white" style="border:none" > </a>
            <button class="btn btn-dark" style="float:right;" (click)="FFInterval()"> <i class="fa fa-check" aria-hidden="true"></i>save</button>
        </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="FailuerEvident" id="PatternFailuerEvident">
        <p-card [ngClass]=" {disableddiv: failuerevident  ? true : false}" >
        <ng-template pTemplate="subtitle">
            <p><b>6. If the failuer is not evident during normal operation can be found by testing and inspection? Tick yes or no.
            </b></p>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    Yes <td><input type="radio" [(ngModel)]="CommentFIEYN" value="Failure is not Evident" name="name1" />&nbsp;</td>
                </div>
                <div class="col-sm">
                    No <td><input type="radio" [(ngModel)]="CommentFIEYN" value="Failure is Evident" name="name1" />&nbsp;</td>
                </div>
                <div class="col-sm"></div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-white" style="border:none" > </a>
            <button class="btn btn-dark" style="float:right;" (click)="CommentThird()"> <i class="fa fa-check" aria-hidden="true"></i>save</button>
        </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="FailuerMaintenance" id="PatternFailuerMaintenance">
        <p-card [ngClass]=" {disableddiv: failuermaintenance ? true : false}">
        <ng-template pTemplate="title">
        </ng-template>
        <ng-template pTemplate="subtitle">
            <p><b >7. Some of the failuer cannot avoided by maintenance. Would planned replacement or refurbishment
                maintainace prevent or mitigate this failuer Mode?
            </b></p>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    Yes <td><input type="radio" [(ngModel)]="CommentFIEYN2" value=" planned replacement or refurbishment maintainace prevent or mitigate this failuer Mode - Yes" name="name2" />&nbsp;</td>
                </div>
                <div class="col-sm">
                    No <td><input type="radio" [(ngModel)]="CommentFIEYN2" value=" planned replacement or refurbishment maintainace prevent or mitigate this failuer Mode - No" name="name2" />&nbsp;</td>
                </div>
                <div class="col-sm"></div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <a class="btn btn-white" style="border:none" > </a>
            <button class="btn btn-dark " style="float:right;" (click)="CommentFourth()"> <i class="fa fa-check" aria-hidden="true"></i>save</button>
        </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="FailuerComments" id="PatternFailuerComments">
        <p-card [ngClass]=" {disableddiv: failuercomments  ? true : false}">
        <ng-template pTemplate="title">

        </ng-template>
        <ng-template pTemplate="subtitle">
            <p><b> 8. Do you have any comments regarding the failuer of this equipment or how the maintainace of the equipment
                could be improved
            </b></p>
        </ng-template>
        <ng-template pTemplate="content">
            <textarea class="form-control custom-textarea" [(ngModel)]="FCAFreeText"  id="message" name="body" rows="3" placeholder="Add comments Here"></textarea>
        </ng-template>
        <ng-template pTemplate="footer">
            <button class="btn btn-dark" *ngIf="FCAFreeTextCancel1"   (click)="FCAFreeTextCancel()">Cancel</button>
            <button class="btn btn-dark" *ngIf="FCAFreeTextSave1"  style="float:right;" (click)="FCAFreeTextSave()">Save</button>
            <!-- <button *ngIf="patternaddshow"  label="Next" (click)="PatternAdd()" type="button" class="btn btn-dark"  pTooltip=" Click To add data to Failure Mode" tooltipPosition="top">ADD</button> -->
        </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="SafeUsefulLife" id="SafeUsefulLife">
        <p-card [ngClass]=" {disableddiv: SafeUsefulLife  ? false : true}">
        <ng-template pTemplate="title">

        </ng-template>
        <ng-template pTemplate="subtitle">
            <p><b> 9: Provide Safe Life and Useful life for {{PatternFMName}}
            </b></p>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="row" style="padding: 15px;" *ngIf="ConsequenceFM == 'A' || ConsequenceFM == 'B' ">
                <div class="col-md-3">
                    <label> Safe Life</label>
                </div>
                <div class="col-md-3">
                    <input type="number" [(ngModel)]="SafeLife" name="safelife" class="form-control">
                </div>
            </div>
            <div class="row" style="padding: 15px;" *ngIf="ConsequenceFM == 'D' || ConsequenceFM == 'E' || ConsequenceFM == 'C' ">
                <div class="col-md-3">
                    <label> Useful Life</label>
                </div>
                <div class="col-md-3">
                    <input type="number" [(ngModel)]="UsefulLife" name="usefullife" class="form-control">
                </div>
            </div>
            <div class="row" style="padding: 15px;">
                <div class="col-md-3">
                    <label>Do you want webal analysis for alpha and beta</label>
                    
                </div>
                <div class="col-sm">
                    Yes <td><input type="radio" [(ngModel)]="WebalYN" value="YES" name="ABYN" />
                </div>
                <div class="col-sm">
                    No <td><input type="radio" [(ngModel)]="WebalYN" value="No" name="ABYN" />
                </div>
            </div>
            <div class="row" style="padding: 15px;" *ngIf="WebalYN == 'No'"  >
                <small>Please provide values for alpha and beta</small>
            </div>
            <div class="row" style="padding: 15px;" *ngIf="WebalYN == 'No'" >
                <div class="col-md-3">
                    <label>Alpha</label>
                </div>
                <div class="col-md-3">
                    <input type="number" [(ngModel)]="alpha" name="WebalYN" class="form-control">
                </div>
            </div>
            <div class="row" style="padding: 15px;"  *ngIf="WebalYN == 'No'">
                <div class="col-md-3">
                    <label>Beta</label>
                </div>
                <div class="col-md-3">
                    <input type="number" [(ngModel)]="beta" name="WebalYN" class="form-control">
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button class="btn btn-dark" style="float:right;" (click)="SafeUsefulLifeSave()">Save</button>
         </ng-template>
    </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf ="alphaBeta && WebalYN == 'YES' " id="alphaBeta">
        <p-card [ngClass]=" {disableddiv: alphaBeta  ? false : true}">
        <ng-template pTemplate="title">

        </ng-template>
        <ng-template pTemplate="subtitle">
            <p><b> 10: Provide List of Days for Failure Mode, {{PatternFMName}} in excel format to calculate alpha, beta.
            </b></p>
            <p><small>Note : Put just one column in Excel with column name 'Days' or <button class="btn btn-dark" (click)="ExcelDownload()" title="Click here to get webal excel format" ><a class="pi pi-download"></a></button></small></p>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="row" style="padding: 15px;">
                <div class="col-sm col-md-4 form-group">
                    <input type="file" class="form-control-file btn btn-secondary" (change)="Webal($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                
                </div>
            </div>
            <div class="row" style="padding: 15px;">
                <label>Alpha  :  {{alpha  | number : '1.0-2' }}</label>
            </div>
            <div class="row" style="padding: 15px;">
                <label>Beta : {{beta  | number : '1.0-2' }}</label>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button class="btn btn-dark" style="float:right;" (click)="alphaBetaSave()">Save</button>
            
        </ng-template>
    </p-card>
    </div>
</div>




