<!-- <div *ngIf="prescriptiveSelect">
    <div class="card shadow div-in-middle">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Select</b></li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <label style=" margin-right: 12px;">Assets</label>
                    <select [(ngModel)]="MachineType" class="form-select" (change)="MachineEquipmentSelect()"
                        class="form-control">
                        <option value="">Choose..</option>
                        <option value="Pump" selected>Pump</option>
                    </select>
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <label style="    margin-right: 12px;">Sub Units</label>
                    <select [(ngModel)]="EquipmentType" class="form-select" class="form-control">
                        <option value="">Choose..</option>
                        <option *ngFor="let EL of EquipmentList" [ngValue]="EL">{{EL}}</option>
                    </select>
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="TagNumber"
                        class="form-control" placeholder="Tag Number" aria-label="Tag Number"
                        aria-describedby="basic-addon1">
                </div>
            </li>
            <li class="list-group-item">
                <button class="btn btn-dark" (click)="GeneratePrescription()">Done</button>
            </li>

        </ul>
    </div>
</div> -->

<div class="row">
    <div class="col-xl-12 col-lg-11">
        <div class="card shadow mb-4 con">
            <div class="card-header">
                Equipment Type : Centrifugal Pump
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6" *ngFor="let row of prescriptiveRecords[0].centrifugalPumpPrescriptiveFailureModes">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Tag Number</b> : {{prescriptiveRecords[0].TagNumber}}
                            </div>
                            <div class="col-md-6">
                                <b>  Failure Mode</b> : {{row.FunctionMode}}
                            </div>
                        </div>
                        <hr>
                        <h4><b> Task</b> </h4>
                        <hr>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Maintenance Task</th>
                                    <th>Maintenance Interval</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{row.MSSMaintenanceTask}}</td>
                                    <td>{{row.MSSMaintenanceInterval}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>