<div class="row">
    <div class="col-xl-12 col-lg-11">
        <div class="card shadow mb-4 con">
            <div class="card-header">
                Equipment Type : Centrifugal Pump
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6" *ngFor="let row of prescriptiveRecords[0].centrifugalPumpPrescriptiveFailureModes">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Tag Number</b> : {{prescriptiveRecords[0].TagNumber}}
                            </div>
                            <div class="col-md-6">
                                <b>  Failure Mode</b> : {{row.FunctionMode}}
                            </div>
                        </div>
                        <hr>
                        <h4><b> Task</b> </h4>
                        <hr>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Maintenance Task</th>
                                    <th>Maintenance Interval</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{row.MSSMaintenanceTask}}</td>
                                    <td>{{row.MSSMaintenanceInterval}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>