<div class="full">
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form class="sign-in-form">
                    <h2 class="title">Enter your new Password</h2>

                    <form [formGroup]="formModel" autocomplete="off" (submit)="ResetPassword()">
                        <div formGroupName="Passwords">
                            <div class="input-field form-group required">
                                <i class="fas fa-lock"></i>
                                <input type="password" formControlName="Password" placeholder="Password" />
                            </div>
                            <div class="input-field form-group required">
                                <i class="fas fa-lock"></i>
                                <input type="password" formControlName="ConfirmPassword" placeholder="ConfirmPassword" />
                            </div>
                            <input type="submit" value="Submit" class="btn solid" />
                        </div>
                    </form>
                    <p class="social-text">Connect us with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Contact us to get more detail
                    </p>

                </div>
                <img src="dist/DPM/assets/img/log.svg" class="image" alt="" />
            </div>
        </div>
    </div>
</div>