<div>
<div class="container" style="margin-top: 10px;" *ngIf="ConsequenceA">
    <div class="card shadow mb-4">
        <div class="card-body">
            <img style="margin-left: 100px;" class="img-fluid px-3 px-sm-4" 
                    src="/dist/DPM/assets/MSS/A.JPG "alt="">
        </div>
    </div>
    <div class="card shadow mb-4" style="margin: 20px;">
    <div class="row">
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;" >
                <input type="radio"[(ngModel)]="AOCM" value="ACOM" name="name1" />&nbsp;
                <label> A-OCM</label>
            </div>
        </div>
        <div class="col"><br>
                <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                    <input type="radio"[(ngModel)]="ASO" value="ASO" name="name1" />&nbsp;
                    <label> A-SO</label>
                </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="ASR" value="ASR" name="name1" />&nbsp;
                <label> A-SR</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="AFFT" value="AFFT" name="name1" />&nbsp;
                <label> A-FFT</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="AFromAbove" value="AFromAbove" name="name1" />&nbsp;
                <label> From Above</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="ARED" value="A-RED" name="name1" />&nbsp;
                <label> A-RED</label>
            </div>
        </div>
    </div> 
    <div>
        <button class="btn btn-dark" style="float:right;" (click)="ConsequenceFirst()"> <i class="fa fa-check" aria-hidden="true"></i>save</button>
    </div>
</div>
</div>
<div class="container" style="margin-top: 10px;" *ngIf="ConsequenceB">
    <div class="card shadow mb-4">
        <div class="card-body">
            <img style="margin-left: 100px;" class="img-fluid px-3 px-sm-4" 
                    src="/dist/DPM/assets/MSS/B.JPG "alt="">
        </div>
    </div>
    <div class="card" style="margin: 20px;">
    <div class="row">
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;">
                <input type="radio"[(ngModel)]="BOCM" value="BCOM" name="name1" />&nbsp;
                <label> B-OCM</label>
            </div>
        </div>
        <div class="col"><br>
                <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                    <input type="radio"[(ngModel)]="BSO" value="BSO" name="name1" />&nbsp;
                    <label> B-SO</label>
                </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="BSR" value="BSR" name="name1" />&nbsp;
                <label> B-SR</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="BFromAbove" value="BFromAbove" name="name1" />&nbsp;
                <label> From Above</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="BRED" value="BRED" name="name1" />&nbsp;
                <label> B-RED</label>
            </div>
        </div>
    </div> 
    <div>
        <button class="btn btn-dark" style="float:right;" (click)="ConsequenceSecond()"> <i class="fa fa-check" aria-hidden="true"></i>save</button>
    </div>
</div>
</div>
<div class="container" style="margin-top: 10px;" *ngIf="ConsequenceC">
    <div class="card shadow mb-4">
        <div class="card-body">
            <img style="margin-left: 150px;" class="img-fluid px-3 px-sm-4 mt-3 mb-2" 
                    src="/dist/DPM/assets/MSS/C.JPG "alt="">
        </div>
    </div>
    <div class="card" style="margin: 20px;">
    <div class="row">
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;">
                <input type="radio"[(ngModel)]="COCM" value="CCOM" name="name1" />&nbsp;
                <label> C-OCM</label>
            </div>
        </div>
        <div class="col"><br>
                <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                    <input type="radio"[(ngModel)]="CSO" value="CSO" name="name1" />&nbsp;
                    <label> C-SO</label>
                </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="CSR" value="CSR" name="name1" />&nbsp;
                <label> C-SR</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="COFM" value="COFM" name="name1" />&nbsp;
                <label> C-OFM</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="CRED" value="CRED" name="name1" />&nbsp;
                <label> C-RED</label>
            </div>
        </div>
    </div> 
    <div>
        <button class="btn btn-dark" style="float:right;" (click)="ConsequenceThird()"> <i class="fa fa-check" aria-hidden="true"></i>save</button>
    </div>
</div>
</div>
<div class="container" style="margin-top: 10px;" *ngIf="ConsequenceD">
    <div class="card shadow mb-4">
        <div class="card-body">
            <img style="margin-left: 100px;" class="img-fluid px-3 px-sm-4" 
                    src="/dist/DPM/assets/MSS/D.JPG "alt="">
        </div>
    </div>
    <div class="card" style="margin: 20px;">
    <div class="row">
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;">
                <input type="radio"[(ngModel)]="DOCM" value="DOCM" name="name1" />&nbsp;
                <label> D-OCM</label>
            </div>
        </div>
        <div class="col"><br>
                <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;">
                    <input type="radio"[(ngModel)]="DSO" value="DSO" name="name1" />&nbsp;
                    <label> D-SO</label>
                </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="DSR" value="DSR" name="name1" />&nbsp;
                <label> D-SR</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="DOFM" value="DOFM" name="name1" />&nbsp;
                <label> D-OFM</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="DRED" value="DRED" name="name1" />&nbsp;
                <label> D-RED</label>
            </div>
        </div>
    </div> 
    <div>
        <button class="btn btn-dark" style="float:right;" (click)="ConsequenceFourth()"> <i class="fa fa-check" aria-hidden="true"></i>save</button>
    </div>
</div>
</div>
<div class="container" style="margin-top: 10px;" *ngIf="ConsequenceE">
    <div class="card shadow mb-4">
        <div class="card-body">
            <img style="margin-left: 100px;" class="img-fluid px-3 px-sm-4" 
                    src="/dist/DPM/assets/MSS/E.JPG "alt="">
        </div>
    </div>
    <div class="card" style="margin: 20px;">
    <div class="row">
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;">
                <input type="radio"[(ngModel)]="EOCM" value="EOCM" name="name1" />&nbsp;
                <label> E-OCM</label>
            </div>
        </div>
        <div class="col"><br>
                <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                    <input type="radio"[(ngModel)]="ESO" value="ESO" name="name1" />&nbsp;
                    <label> E-SO</label>
                </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="ESR" value="ESR" name="name1" />&nbsp;
                <label> E-SR</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="EFFT" value="EFFT" name="name1" />&nbsp;
                <label> E-FFT</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="EOFM" value="EOFM" name="name1" />&nbsp;
                <label> E-OFM</label>
            </div>
        </div>
        <div class="col"><br>
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                <input type="radio"[(ngModel)]="ERED" value="ERED" name="name1" />&nbsp;
                <label> E-RED</label>
            </div>
        </div>
    </div> 
    <div>
        <button class="btn btn-dark" style="float:right;" (click)="ConsequenceFive()">save</button>
    </div>
</div>
</div>
<button  label="Back" type="button" class="btn btn-dark" style="margin-left: 40px" (click)="SaveMSS()">Save MSS</button>
</div>

