<style>
   
    .disableddiv {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        opacity: 0.5;
        padding: 1px;
        background-color: #777
    }
</style>
<p-toast position="top-right"></p-toast>
<div *ngIf="SelectBoxEnabled">
    <h4 class="dpm-heading">Select Tag Number to add MSS</h4>
    <div class="card dpm-card w-100 p-3">
        <div class="row">
            <div class="col-md-4">
                <select class="form-select" [(ngModel)]="SelectedTagNumber" class="form-control">
                    <option value="">Choose Tag Number</option>
                    <option *ngFor="let EL of TagList" [ngValue]="EL">{{EL}}</option>
                </select>
            </div>
            <div class="col-md-4 pl-0">
                <button class="btn btn-primary" (click)="TagNumberSelect()">Done</button>
            </div>
        </div>
    </div>

</div>
<div *ngIf="PrescriptiveTree" class="col-md-12" id="GoToTheSaveMSS">
    <button *ngIf="FinalBack" label="Back" type="button" class="btn btn-dark" (click)="BaxkToAssetList()" pTooltip="Back to Asset List" tooltipPosition="top"> <i class="fas fa-arrow-left"></i> Back</button>
    <button *ngIf="AddBtnEnable" class="btn btn-dark" style="float: right;" (click)="ADDMSS()"> <i class="pi pi-plus"></i> MSS</button>
    <button *ngIf="SaveBtnEnable" class="btn btn-dark" style="float: right;" (click)="SaveMSS()" pTooltip="Save MSS" tooltipPosition="top"> <i class="fa fa-check"> Save</i></button>
</div>

<div *ngIf="PrescriptiveTree" class="col-md-12" style="overflow:scroll;" id="GoToTheSaveMSS">
    <p-organizationChart [value]="TreeUptoFCA" selectionMode="single" styleClass="company">
        <ng-template let-node pTemplate="person">
            <div class="node-header p-corner-top">{{node.label}}</div>
            <div class="node-content">
                <div>{{node.data.name}}</div>
            </div>
        </ng-template>
        <ng-template let-node pTemplate="department" id="FCATreeShow">
            {{node.label}}
        </ng-template>
    </p-organizationChart>
</div>
<div id="GoToTheSaveMSS1">
    <div class="card" style="margin: 20px;" *ngIf="ConsequenceBasedMSS == 'A'" id="Consequence">
        <p-card>
            <ng-template pTemplate="subtitle">
                <div class="card shadow mb-4">
                    <div>
                        <a class="btn btn-white" style="border:none"> </a>
                        <button *ngIf="AddMSSSave" class="btn btn-dark" style="float:right;" (click)="SelectMssStrategy()">Save MSS</button>
                    </div>
                    <div class="card-body">
                        <img style="margin-left: 100px;" class="img-fluid px-3 px-sm-4" src="/dist/DPM/assets/MSS/A.JPG " alt="">
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="row">
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;">
                            <input type="checkbox" [(ngModel)]="OCM" value="A-OCM (On Condition Maintainenance Task)" name="name1" />&nbsp;
                            <label> A-OCM</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="SO" value="A-SO (Scheduled Overhaul Task)" name="name1" />&nbsp;
                            <label> A-SO</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="SR" value="A-SR (Scheduled Replacement Task)" name="name1" />&nbsp;
                            <label> A-SR</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="FFT" value="A-FFT (Failure Finding Task)" name="name1" />&nbsp;
                            <label> A-FFT</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="RED" value="A-RED (Redsigned Mandatory)" name="name1" />&nbsp;
                            <label> A-RED</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="OFM" value="A-OFM (On Failure Maintainenance)" name="name1" />&nbsp;
                            <label> A-OFM</label>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>

    <div class="card" style="margin: 20px;" *ngIf="ConsequenceBasedMSS == 'B'" id="Consequence">
        <p-card>
            <ng-template pTemplate="subtitle">
                <div class="card shadow mb-4">
                    <div>
                        <a class="btn btn-white" style="border:none"> </a>
                        <button *ngIf="AddMSSSave" class="btn btn-dark" style="float:right;" (click)="SelectMssStrategy()">Save MSS</button>
                    </div>
                    <div class="card-body">
                        <img style="margin-left: 100px;" class="img-fluid px-3 px-sm-4" src="/dist/DPM/assets/MSS/B.JPG " alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;">
                            <input type="checkbox" [(ngModel)]="OCM" value="B-OCM (On Condition Maintainenance Task)" name="name1" />&nbsp;
                            <label> B-OCM</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="SO" value="B-SO (Scheduled Overhaul Task)" name="name1" />&nbsp;
                            <label> B-SO</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="SR" value="B-SR (Scheduled Replacement Task)" name="name1" />&nbsp;
                            <label> B-SR</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="RED" value="B-RED (Redsigned Mandatory)" name="name1" />&nbsp;
                            <label> B-RED</label>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>


    <div class="card" style="margin: 20px;" *ngIf="ConsequenceBasedMSS == 'C'" id="Consequence">
        <p-card>
            <ng-template pTemplate="subtitle">
                <div class="card shadow mb-4">
                    <div>
                        <a class="btn btn-white" style="border:none"> </a>
                        <button *ngIf="AddMSSSave" class="btn btn-dark" style="float:right;" (click)="SelectMssStrategy()">Save MSS</button>
                    </div>
                    <div class="card-body">
                        <img style="margin-left: 100px;" class="img-fluid px-3 px-sm-4" src="/dist/DPM/assets/MSS/C.JPG " alt="">
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="row">
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;">
                            <input type="checkbox" [(ngModel)]="OCM" value="C-OCM (On Condition Maintainenance Task)" name="name1" />&nbsp;
                            <label> C-OCM</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="SO" value="C-SO (Scheduled Overhaul Task)" name="name1" />&nbsp;
                            <label> C-SO</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="SR" value="C-SR (Scheduled Replacement Task)" name="name1" />&nbsp;
                            <label> C-SR</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="OFM" value="C-OFM (On Failure Maintainenance)" name="name1" />&nbsp;
                            <label> C-OFM</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="RED" value="C-RED (Redsigned Mandatory)" name="name1" />&nbsp;
                            <label> C-RED</label>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>

    <div class="card" style="margin: 20px;" *ngIf="ConsequenceBasedMSS == 'D'" id="Consequence">
        <p-card>
            <ng-template pTemplate="subtitle">
                <div class="card shadow mb-4">
                    <div>
                        <a class="btn btn-white" style="border:none"> </a>
                        <button *ngIf="AddMSSSave" class="btn btn-dark" style="float:right;" (click)="SelectMssStrategy()">Save MSS</button>
                    </div>
                    <div class="card-body">
                        <img style="margin-left: 100px;" class="img-fluid px-3 px-sm-4" src="/dist/DPM/assets/MSS/D.JPG " alt="">
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="row">
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;">
                            <input type="checkbox" [(ngModel)]="OCM" value="D-OCM (On condition Maintainenance Task)" name="name1" />&nbsp;
                            <label> D-OCM</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;">
                            <input type="checkbox" [(ngModel)]="SO" value="D-SO (Scheduled Overhaul Task)" name="name1" />&nbsp;
                            <label> D-SO</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="SR" value="D-SR (Scheduled Replacement Task)" name="name1" />&nbsp;
                            <label> D-SR</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="OFM" value="D-OFM (On Failure Maintainenance)" name="name1" />&nbsp;
                            <label> D-OFM</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="RED" value="D-RED (Redsigned Mandatory)" name="name1" />&nbsp;
                            <label> D-RED</label>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>


    <div class="card" style="margin: 20px;" *ngIf="ConsequenceBasedMSS == 'E'" id="Consequence">
        <p-card>
            <ng-template pTemplate="subtitle">
                <div class="card shadow mb-4">
                    <div>
                        <a class="btn btn-white" style="border:none"> </a>
                        <button *ngIf="AddMSSSave" class="btn btn-dark" style="float:right;" (click)="SelectMssStrategy()">Save MSS</button>
                    </div>
                    <div class="card-body">
                        <img style="margin-left: 100px;" class="img-fluid px-3 px-sm-4" src="/dist/DPM/assets/MSS/E.JPG " alt="">
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="row">
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;margin-right: 10px;">
                            <input type="checkbox" [(ngModel)]="OCM" value="E-OCM (On Condition Maintainenance Task)" name="name1" />&nbsp;
                            <label> E-OCM</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="SO" value="E-SO (Scheduled Overhaul Task)" name="name1" />&nbsp;
                            <label> E-SO</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="SR" value="E-SR (Scheduled Replacement Task)" name="name1" />&nbsp;
                            <label> E-SR</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="FFT" value="E-FFT (Failure Findind Task)" name="name1" />&nbsp;
                            <label> E-FFT</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="OFM" value="E-OFM (On Failure Maintainenance)" name="name1" />&nbsp;
                            <label> E-OFM</label>
                        </div>
                    </div>
                    <div class="col"><br>
                        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 10rem;">
                            <input type="checkbox" [(ngModel)]="RED" value="E-RED (Redsigned Mandatory)" name="name1" />&nbsp;
                            <label> E-RED</label>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="card" style="margin: 20px;" *ngIf="AvailabilityYNCheck" id="Availability">
        <p-card>
            <ng-template pTemplate="subtitle">
                <p><b>1. Fill the following data
        </b></p>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="row" style="padding: 15px;">
                    <label>Enter MSS Interval Selection Criteria</label>
                </div>
                <div class="row" style="padding: 15px;">
                    <textarea class="form-control custom-textarea" class="form-control" [(ngModel)]="MSSIntervalSelectionCriteria" placeholder="Type MSS Interval Selection Criteria" required></textarea>
                </div>
                <div class="row" style="padding: 15px;">
                    <label>Do you have Availability percentage? </label>
                </div>
                <div class="row" style="padding: 15px;">
                    <div class="col-sm">
                        Yes
                        <td><input type="radio" (change)="Availability()" [(ngModel)]="AvailabilityY" value="Yes" name="AvailabilityYNCheck" />&nbsp;</td>
                    </div>
                    <div class="col-sm">
                        No
                        <td><input type="radio" (change)="Availability()" [(ngModel)]="AvailabilityY" value="No" name="AvailabilityYNCheck" />&nbsp;</td>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <a class="btn btn-white" style="border:none"> </a>
                <!-- <button class="btn btn-dark" style="float:right;" (click)="Availability()"> <i class="fa fa-check" aria-hidden="true"></i></button> -->
            </ng-template>
        </p-card>
    </div>

    <div class="card" style="margin: 20px;" *ngIf="expectedAvailability" id="PlantStoppage">
        <p-card>
            <ng-template pTemplate="subtitle">
                <div class="input-group mb-3">
                    <label><b >1. What is your accepted Availability % : </b></label> &ensp;
                    <input type="number" class="custom-form-control" [(ngModel)]="AvailabilityCheck" placeholder="Availability percentage">
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <a class="btn btn-white" style="border:none"> </a>
                <button *ngIf="AvailabilityCheck !=0" class="btn btn-dark" style="float:right;" (click)="AvailabilityYes()"> <i class="fa fa-check" aria-hidden="true"></i></button>
            </ng-template>
        </p-card>
    </div>

    <div class="card" style="margin: 20px;" *ngIf="AvailabilityPlantStoppage" id="PlantStoppage">
        <p-card>
            <ng-template pTemplate="subtitle">
                <p><b>How long do you run your plant before taking stoppage? </b></p>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="input-group mb-3">
                    <select [(ngModel)]="stoppageDays" class="form-select" class="form-control" placeholder="Plant Stoppage Days">
                    <option value="">Choose</option>
                        <option value="Days" selected> Days</option>
                        <option value="Week" selected> Week</option>
                        <option value="Month" selected>Month</option>
                        <option value="Year" selected>Year</option>
                    </select>
                    <input type="number" [(ngModel)]="stoppageDaysValue" name="stoppage Days Value" class="form-control">
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <a class="btn btn-white" style="border:none"> </a>
                <button class="btn btn-dark" style="float:right;" (click)="StoppageDays()"> <i class="fa fa-check" aria-hidden="true"></i></button>
            </ng-template>
        </p-card>
    </div>

    <div class="card" style="margin: 20px;" *ngIf="AvailabilityPlantStoppageTime" id="PlantStoppagetime">
        <p-card [ngClass]=" {disableddiv: PlantStoppageTime  ? true : false}">
            <ng-template pTemplate="subtitle">
                <p><b> How long is your stoppage? </b></p>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="input-group mb-3">
                    <select [(ngModel)]="stoppageDaysTime" class="form-select" class="form-control" placeholder="Plant Stoppage Days">
                <option value="">Choose</option>
                    <option value="Days" selected> Days</option>
                    <option value="Week" selected> Week</option>
                    <option value="Month" selected>Month</option>
                    <option value="Year" selected>Year</option>
                </select>
                    <input type="number" [(ngModel)]="stoppageDaysTimeValue" name="stoppage Duration " class="form-control">
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <a class="btn btn-white" style="border:none"> </a>
                <button class="btn btn-dark" style="float:right;" (click)="StoppageDuration()"> <i class="fa fa-check" aria-hidden="true"></i></button>
            </ng-template>
        </p-card>
    </div>
</div>