<h4 class="card-title">Quick Links</h4>

<div class="eight-steps m-auto">
    <div class="row">
        <div class="col-md-3">
            <div class="step-card">
                <span>1</span>
                <a href="#/Home/Compressor/SCModerateDataCollection" class="p-2 w-100 pr-4">
                    <h6 class="mb-0"><strong>Data Collection</strong><i class="pi pi-angle-double-right" style="color: #ddd"></i></h6>

                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="step-card">
                <span>2</span>
                <a href="#/Home/Compressor/ScrewConfiguration" class="p-2 w-100 pr-4">
                    <h6 class="mb-0"><strong>Configuration</strong><i class="pi pi-angle-double-right" style="color: #ddd"></i></h6>

                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="step-card">
                <span>3</span>
                <a href="#/Home/Compressor/ScrewTrain" class="p-2 w-100 pr-4">
                    <h6 class="mb-0"><strong>Tain</strong><i class="pi pi-angle-double-right" style="color: #ddd"></i></h6>

                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="step-card">
                <span>4</span>
                <a href="" class="p-2 w-100 pr-4">
                    <h6 class="mb-0"><strong>Model</strong><i class="pi pi-angle-double-right" style="color: #ddd"></i></h6>

                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="step-card">
                <span>5</span>
                <a href="Home/Compressor/ScrewPrediction" class="p-2 w-100 pr-4">
                    <h6 class="mb-0"><strong>Prediction</strong><i class="pi pi-angle-double-right" style="color: #ddd"></i></h6>

                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="step-card">
                <span>6</span>
                <a href="#/Home/Prescriptive/RCA" class="p-2 w-100 pr-4">
                    <h6 class="mb-0"><strong>RCA</strong><i class="pi pi-angle-double-right" style="color: #ddd"></i></h6>

                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="step-card">
                <span>7</span>
                <a href="#/Home/Prescriptive/ADD" class="p-2 w-100 pr-4">
                    <h6 class="mb-0"><strong>RCM</strong><i class="pi pi-angle-double-right" style="color: #ddd"></i></h6>

                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="step-card">
                <span>8</span>
                <a href="#/Home/Prescriptive/List" class="p-2 w-100 pr-4">
                    <h6 class="mb-0"><strong>Prescriptive</strong><i class="pi pi-angle-double-right" style="color: #ddd"></i></h6>

                </a>
            </div>
        </div>
    </div>
</div>
