
.tooltip-main {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-weight: 700;
    background: #f3f3f3;
    border: 1px solid #737373;
    color: #737373;
    margin: 4px 121px 0 5px;
    float: right;
    text-align: left !important;
  }

  
@media screen and (max-width: 600px) {
  .tbody  {
    float: none;
    width: 100%;
  }
  .container  {
      float: none;
      width: 100%;
    }
}
@media screen and (max-width: 767px){ 
  .container { 
  width: 100%; padding: 5px 20px; float: none; } 
  .container .column:first-child{ 
  margin-right: 0; margin-bottom: 20px; }}
  
