<p-toast position="top-right"></p-toast>
<div class="card search-card div-in-middle w-100" *ngIf="AssetList">
    <div class="row">
        <div class="col-sm">
            <label>
                Machine type
            </label>
            <select [(ngModel)]="MachineType" class="form-select" (change)="MachineEquipmentSelect()"
                class="form-control">
                <option value="">Choose..</option>
                <option value="Compressor" selected>Compressor</option>
                <option value="Pump" selected>Pump</option>
            </select>
        </div>
        <div class="col-sm">
            <label>
               Equipment Type
            </label>
            <select [(ngModel)]="EquipmentType" class="form-select" (change)="MachineEquipmentSelect()"
                class="form-control">
                <option value="">Choose..</option>
                <option *ngFor="let EL of EquipmentList" [ngValue]="EL">{{EL}}</option>
            </select>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <label class="hidden d-block" style="visibility: hidden;">
                       search
                    </label>
                    <a class="btn btn-primary" (click)="GenerateConfiguration()"><i class="pi pi-search mr-1"></i>Search</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div style="margin:10px">
    <button *ngIf="AssetListBack" label="Back" type="button" class="btn btn-dark"(click)="BackToConfiglist()" pTooltip="Back to List" tooltipPosition="top"> <i class="fas fa-arrow-left"></i> Back</button>

</div> -->
<br>
<div class="" *ngIf="configurationrecords">
    <div class="bg-white rounded">
        <div class="table-responsive">
            <div style="padding:30px;">
                <div class="">
                    <div class="td col-sm-12">
                        <span *ngIf="notification" class="elementToFadeInAndOut">
                            <i class="fas fa-check-circle {{notification.class}}"></i>
                            {{notification.message}}
                        </span>
                    </div>
                    <div class="row tbl-head">
                        <div style="text-align: left;" class="col-sm-2">Column</div>
                        <div style="text-align: left;" class="col-sm-2">Alarm</div>
                        <div style="text-align: left;" class="col-sm-2">Trigger</div>
                        <div style="text-align: left;" class="col-sm-2">Condition</div>
                        <div style="text-align: right;" class="col-sm-4">
                            <button class="btn btn-white btn-sm" (click)="addRuleForm()">
                                <i class="fa fa-plus"></i> New Record
                            </button>
                        </div>                        
                    </div>

                    <div class="w-100">
                        <form class="w-100" [formGroup]="fg" *ngFor="let fg of addRuleForms.controls ; let i=index;"
                            (submit)="recordSubmit(fg)">
                            <!-- <div class="td">
                        <input type="text" class="form-control" formControlName="machineType" [(ngModel)]="MachineType" [attr.disabled] />
                    </div>
                    <div class="td">
                        <input type="text" class="form-control" formControlName="equipmentType" [(ngModel)]="EquipmentType" [attr.disabled] />
                    </div> -->
                    <div class="row">
                            <div class="td col-sm-2">
                                <input class="form-control" data-toggle="tooltip" data-placement="right"
                                    title="{{addRuleResponse[i]}}" formControlName="columns">
                            </div>
                            <div class="td col-sm-2">
                                <input class="form-control" formControlName="alarm">
                            </div>
                            <div class="td col-sm-2">
                                <input class="form-control" formControlName="trigger">
                            </div>

                            <div class="td col-sm-2" style="width:70px">
                                <select class="form-control" formControlName="condition">
                                    <option> > </option>
                                    <option>
                                        < </option>
                                    <option> = </option>
                                </select>
                            </div>
                            <div class="td col-sm-4">
                                <button type="submit" class="btn btn-sm" [disabled]="fg.invalid"
                                    [ngClass]="(fg.get('addRuleId').value==0)?'btn btn-sm btn-dark':'btn-primary'"><i
                                        class="far fa-save"></i>
                                    {{fg.get('addRuleId').value==0?'Submit':'Update'}}
                                </button>

                                <button class="btn btn-danger btn-sm ml-1" (click)="onDelete(fg.get('addRuleId').value,i)">
                                    <i class="far fa-trash-alt fa-sm text-white"></i>
                                </button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>