<p-toast position="top-right"></p-toast>

<div style="padding: 5px;" class="row">
    <div class="col-sm col-md-4 form-group">
        <input type="file" class="form-control-file btn btn-secondary" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

    </div>

    <div class="col-sm">
        <button type="button" style="background-color:#585570 ; border-color:#585570 ;" (click)="Downloadfile()" class="btn btn-primary">Get Excel Format</button>
    </div>


    <div class="col-sm">
        <!-- <button type="button" style="background-color:#585570 ; border-color:#585570 ;" (click)="ChangeInConfiguration()" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Revaluate Classification">Revaluate</button> -->

    </div>

    <div class="col-sm">
        <button type="button" style="background-color:#585570 ; border-color:#585570 ;" (click)="exportToExcel()" class="btn btn-primary">Download Excel</button> 
    </div>
</div>
<br>
<div style="padding: 5px;">
    <div class="card">
        <p-table id="exportexcel" [value]="pumpListWithClassification" [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
            [loading]="loading">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <!-- <col style="width:12em;"> -->
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <!-- <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:12em;"> -->
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="P1">P1
                        <p-sortIcon field="P1"></p-sortIcon>
                    </th>
                    <th pSortableColumn="P2">P2
                        <p-sortIcon field="PD"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Average">Amperage
                        <p-sortIcon field="Average"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Q">Q
                        <p-sortIcon field="Q"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Q">Date
                        <p-sortIcon field="Q"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Q">Classification
                        <p-sortIcon field="Q"></p-sortIcon>
                    </th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pumpListWithClassification>
                <tr>
                    <td>{{pumpListWithClassification.P1}}</td>
                    <td>{{pumpListWithClassification.P2}}</td>
                    <td>{{pumpListWithClassification.Amperage}}</td>
                    <td>{{pumpListWithClassification.Q}}</td>
                    <td>{{pumpListWithClassification.InsertedDate | date}}</td>
                    <td>{{pumpListWithClassification.Classification}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
