<p-toast position="top-right"></p-toast>

<div class="row d-flex justify-content-between bg-white p-3">
    <div class="col">
        <input type="file" class="form-control-file form-control w-50" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

    </div>

    <div class="col d-flex justify-content-end align-items-center text-right pull-right">
        <button type="button"  (click)="Downloadfile()" class="btn btn-outline-primary btn-sm"><i class="fa fa-file-excel"></i></button>
    
        <!-- <button type="button" style="background-color:#585570 ; border-color:#585570 ;" (click)="ChangeInConfiguration()" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Revaluate Classification">Revaluate</button> -->

    
        <button type="button"  (click)="exportToExcel()" class="btn btn-outline-primary  ml-2 btn-sm"><i class="fa fa-download"></i></button>
    </div>
</div>
<br>
<div style="padding: 5px;">
    <div class="card">
        <p-table id="exportexcel" [style]="{width:'100%'}" [value]="pumpListWithClassification" [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
            [loading]="loading">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <!-- <col style="width:12em;"> -->
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <!-- <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:12em;"> -->
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="P1">P1
                        <p-sortIcon field="P1"></p-sortIcon>
                    </th>
                    <th pSortableColumn="P2">P2
                        <p-sortIcon field="P2"></p-sortIcon>
                    </th>
                    <th pSortableColumn="I">I
                        <p-sortIcon field="I"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Q">Q
                        <p-sortIcon field="Q"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Date">Date
                        <p-sortIcon field="Date"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Classification">Classification
                        <p-sortIcon field="Classification"></p-sortIcon>
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pumpListWithClassification>
                <tr>
                    <td>{{pumpListWithClassification.P1}}</td>
                    <td>{{pumpListWithClassification.P2}}</td>
                    <td>{{pumpListWithClassification.I}}</td>
                    <td>{{pumpListWithClassification.Q}}</td>
                    <td>{{pumpListWithClassification.InsertedDate | date}}</td>
                    <td>{{pumpListWithClassification.Classification}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">No records to show.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>