<p-toast position="top-right"></p-toast>

<div style="padding: 5px;" class="row">
    <div class="col-sm col-md-4 form-group">
        <input type="file" class="form-control-file btn btn-secondary" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

    </div>

    <div class="col-sm">
        <button type="button" style="background-color:#585570 ; border-color:#585570 ;" (click)="Downloadfile()" class="btn btn-primary">Get Excel Format</button>
    </div>


    <div class="col-sm">
        <!-- <button type="button" style="background-color:#585570 ; border-color:#585570 ;" (click)="ChangeInConfiguration()" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Revaluate Classification">Revaluate</button> -->

    </div>

    <div class="col-sm">
        <button type="button" style="background-color:#585570 ; border-color:#585570 ;" (click)="exportToExcel()" class="btn btn-primary">Download Excel</button>
    </div>
</div>
<br>
<div style="padding: 5px;">
    <div class="card">
        <p-table id="exportexcel" [value]="pumpListWithClassification" [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
            [loading]="loading">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:12em;">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="PS">PS
                        <p-sortIcon field="PS"></p-sortIcon>
                    </th>
                    <th pSortableColumn="PD">PD
                        <p-sortIcon field="PD"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Q">Q
                        <p-sortIcon field="Q"></p-sortIcon>
                    </th>
                    <th pSortableColumn="D">D
                        <p-sortIcon field="D"></p-sortIcon>
                    </th>
                    <th pSortableColumn="H">H
                        <p-sortIcon field="H"></p-sortIcon>
                    </th>
                    <th pSortableColumn="E">E
                        <p-sortIcon field="E"></p-sortIcon>
                    </th>
                    <th pSortableColumn="g">g
                        <p-sortIcon field="g"></p-sortIcon>
                    </th>
                    <th pSortableColumn="F">F
                        <p-sortIcon field="F"></p-sortIcon>
                    </th>
                    <th pSortableColumn="CLASSIFICATION">CLASSIFICATIONS</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pumpListWithClassification>
                <tr>

                    <td>{{pumpListWithClassification.PS}}</td>
                    <td>{{pumpListWithClassification.PD}}</td>
                    <td>{{pumpListWithClassification.Q}}</td>
                    <td>{{pumpListWithClassification.D}}</td>
                    <td>{{pumpListWithClassification.H}}</td>
                    <td>{{pumpListWithClassification.E}}</td>
                    <td>{{pumpListWithClassification.g}}</td>
                    <td>{{pumpListWithClassification.F}}</td>
                    <td>{{pumpListWithClassification.Classifications}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
