<p-toast position="top-right"></p-toast>

<div style="padding: 5px;" class="row">
    <div class="col-sm col-md-4 form-group">
        <input type="file" class="form-control-file btn btn-secondary" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    </div>

    <div class="col-sm">  
    </div>
    <div class="col-sm">
    </div>

    <div class="col-sm">
       
    </div>
</div>
<br>
<div style="padding: 5px;">
    <div class="card">
        <p-table id="exportexcel" [value]="uploadpumpListWithClassification" [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
            [loading]="loading">
            <ng-template pTemplate="colgroup">
                <colgroup>
                  
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                 
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="P1">P1
                        <p-sortIcon field="P1"></p-sortIcon>
                    </th>
                    <th pSortableColumn="P2">P2
                        <p-sortIcon field="P2"></p-sortIcon>
                    </th>
                    <th pSortableColumn="I">I
                        <p-sortIcon field="I"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Q">Q
                        <p-sortIcon field="Q"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Date">Date
                        <p-sortIcon field="Date"></p-sortIcon>
                    </th>
                    <!-- <th pSortableColumn="Classification">Classification
                        <p-sortIcon field="Classification"></p-sortIcon>
                    </th> -->
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-uploadpumpListWithClassification>
                <tr>
                    <td>{{uploadpumpListWithClassification.P1}}</td>
                    <td>{{uploadpumpListWithClassification.P2}}</td>
                    <td>{{uploadpumpListWithClassification.I}}</td>
                    <td>{{uploadpumpListWithClassification.Q}}</td>
                    <td>{{uploadpumpListWithClassification.InsertedDate | date}}</td>
                    <!-- <td>{{uploadpumpListWithClassification.Classification}}</td> -->
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
