.col {
  padding: 30px;
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: flex;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
form.sign-up-form .row {
  width: 100%;
}
.col.form-group {
  background-color: #e8f0fe;
  margin-left: 0;
  height: 50px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  border: 1px solid #e8f0fe;
  overflow: hidden;
  margin-right: 10px;
  max-width: 100%;
  width: auto;
}
.col.form-group .form-control {
  background: transparent;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 400;
  font-size: 0.95rem;
  color: #333;
  font-family: 'Mukta';
  appearance: none;
  padding-left: 8px;
}
.col input {
  margin-top: 3%;
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 300;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
}

.col i {
  padding-left: 10px;
  padding-right: 5px;
  text-align: center;
  line-height: 55px;
  color: #999;
  transition: 0.5s;
  font-size: 12px;
}

.col input::placeholder {
  margin-top: 10px;
  padding: 10px;
  color: #666;
  font-weight: 400;
  font-size: 14px;
}

.full {
  background-color: white;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body,
input {
  font-family: 'Mukta', sans-serif;
}

.container {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  height: 100%;
  min-width: 100%;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.signin-signup {
  position: absolute;
  top: 10%;
  /* transform: translate(-50%, -50%); */
  left: 50%;
  width: 50%;
  /* transition: 1s 0.7s ease-in-out; */
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0s !important;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: #fff;
  width: 500px;
  margin: auto;
  padding: 55px 35px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #0000006b;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #333;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 500;
  float: left;
  width: 100%;
}
.title + p {
  font-size: 14px;
  text-align: left;
  width: 100%;
  font-weight: 500;
  color: #666;
  margin-bottom: 20px;
}
.input-field {
  max-width: 100%;
  width: 100%;
  background-color: #e8f0fe;
  margin: 10px 0;
  height: 55px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  border: 1px solid #fff;
  overflow: hidden;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #25bec3;
  transition: 0.5s;
  font-size: 13px;
}
.input-field i:after {
  content: '|';
  position: relative;
  right: -10px;
  top: -2px;
  height: 20px;
}
.input-field input {
  background: #e8f0fe;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 400;
  font-size: 0.95rem;
  color: #333;
  font-family: 'Mukta';
}

.input-field input::placeholder {
  color: #666;
  font-weight: 400;
  font-size: 14px;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #585570;
  border-color: #585570;
}

.btn {
  width: 150px;
  background-color: #25bec3;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 7px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #585570;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: '';
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #585570 0%, #585570 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
  display: none;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
  display: none;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: space-around;  */
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  /* padding: 3rem 17% 2rem 12%; */
  padding: 10rem;
  padding-left: 0 !important;
}

.right-panel {
  pointer-events: none;
  padding: 10rem;
  padding-right: 0 !important;
}

.panel .content {
  color: #fff;
  /* transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s; */
  z-index: 99;
}

.panel h3 {
  font-weight: 500;
  line-height: 1;
  font-size: 3rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  color: #333;
  background: #fff;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  /* left: 25%; */
  left: 0%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    /* transform: translate(-50%, -100%); */
    /* transition: 1s 0.8s ease-in-out; */
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    /* left: 50%; */
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
.panels-container {
  background-image: url(../../assets/img/bg-login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.sign-up-mode .panel.left-panel {
  background-image: none;
}
.panels-container:before {
  background-color: #0000006b;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
input::selected {
  background-color: #fff !important;
}
.container.sign-up-mode .panel.left-panel:before {
  display: none;
}
.form-group i {
  color: #666;
  font-weight: 600;
}
.form-group i:after {
  content: '|';
  position: relative;
  right: -10px;
  top: -2px;
  height: 20px;
  color: #aaa;
}
@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: #fff;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill !important;
  -webkit-animation-fill-mode: both;
}
.container.sign-up-mode form {
  width: 600px;
}
