<p-toast position="top-right">
</p-toast>

<div style="padding: 5px;" class="row">
    <div class="col-sm col-md-4 form-group">
        <input type="file" class="form-control-file btn btn-secondary" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    </div>
</div>

<div style="padding: 5px;" style="overflow: auto;">
    <div class="card">
        <p-table id="exportexcel" [style]="{width:'100%'}" [value]="UploadcentrifugalPumpWithPrediction" [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]" [loading]="loading">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:8em;">
                    <col style="width:12em;">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="PS1">PS1
                        <p-sortIcon field="PS1"></p-sortIcon>
                    </th>
                    <th pSortableColumn="PD1">PD1
                        <p-sortIcon field="PD1"></p-sortIcon>
                    </th>
                    <th pSortableColumn="PS2">PS2
                        <p-sortIcon field="PS2"></p-sortIcon>
                    </th>
                    <th pSortableColumn="PD2">PD2
                        <p-sortIcon field="PD2"></p-sortIcon>
                    </th>
                    <th pSortableColumn="TS1">TS1
                        <p-sortIcon field="TS1"></p-sortIcon>
                    </th>
                    <th pSortableColumn="TD1">TD1
                        <p-sortIcon field="TD1"></p-sortIcon>
                    </th>
                    <th pSortableColumn="TS2">TS2
                        <p-sortIcon field="TS2"></p-sortIcon>
                    </th>
                    <th pSortableColumn="TD2">TD2
                        <p-sortIcon field="TD2"></p-sortIcon>
                    </th>
                    <!-- <th>PREDICTION</th> -->
                    <th>DATE</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-UploadcentrifugalPumpWithPrediction>
                <tr>
                    <td>{{UploadcentrifugalPumpWithPrediction.PS1}}</td>
                    <td>{{UploadcentrifugalPumpWithPrediction.PD1}}</td>
                    <td>{{UploadcentrifugalPumpWithPrediction.PS2}}</td>
                    <td>{{UploadcentrifugalPumpWithPrediction.PD2}}</td>
                    <td>{{UploadcentrifugalPumpWithPrediction.TS1}}</td>
                    <td>{{UploadcentrifugalPumpWithPrediction.TD1}}</td>
                    <td>{{UploadcentrifugalPumpWithPrediction.TS2}}</td>
                    <td>{{UploadcentrifugalPumpWithPrediction.TD2}}</td>
                    <!-- <td>{{screwWithPrediction.Prediction}}</td> -->
                    <td>{{UploadcentrifugalPumpWithPrediction.InsertedDate | date}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No data found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>